Welcome/registration.json
[{"id":"4e883fa6.8476d","type":"ui_form","z":"1a7bc75e.9ee309","name":"","label":"","group":"5d04b3aa.f77c6c","order":3,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Email id","value":"email","type":"email","required":true,"rows":null},{"label":"Customer/Supplier","value":"type","type":"text","required":true,"rows":null},{"label":"Location","value":"location","type":"text","required":true,"rows":null}],"formValue":{"name":"","email":"","type":"","location":""},"payload":"","submit":"Register","cancel":"Reset","topic":"","x":2990,"y":100,"wires":[["f20784dd.b94398"]]},{"id":"d25a50b7.e32d9","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Thanks for Registering!You'll receive your credentials through mail soon.\"\nreturn msg;","outputs":1,"noerr":0,"x":2990,"y":240,"wires":[["80fbfc39.74784","d654d574.fe21f8"]]},{"id":"f20784dd.b94398","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = {\n    \"Name\":msg.payload.name,\n    \"Email ID\":msg.payload.email,\n    \"Customer/Supplier\":msg.payload.type,\n    \"Location\":msg.payload.location\n}\nreturn msg;","outputs":1,"noerr":0,"x":2990,"y":140,"wires":[["d25a50b7.e32d9","473b43af.8a28fc"]]},{"id":"80fbfc39.74784","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":3010,"y":290,"wires":[[]]},{"id":"d654d574.fe21f8","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Customer/Supplier registered today. Please check and send them confirmation mail.\"\nreturn msg;","outputs":1,"noerr":0,"x":3170,"y":120,"wires":[["ecc52405.838248"]]},{"id":"ecc52405.838248","type":"e-mail","z":"1a7bc75e.9ee309","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"darekarankita0@gmail.com","dname":"","x":3330,"y":160,"wires":[]},{"id":"473b43af.8a28fc","type":"cloudant out","z":"1a7bc75e.9ee309","name":"","cloudant":"6f3c5357.4e0cec","database":"registration","service":"node-red-dkbjm-cloudant-1595361783735-90297","payonly":false,"operation":"insert","x":2990,"y":180,"wires":[]},{"id":"5d04b3aa.f77c6c","type":"ui_group","z":0,"name":"WELCOME","tab":"e14cc3d7.68b9b","order":1,"disp":false,"width":"21","collapse":false},{"id":"6f3c5357.4e0cec","type":"cloudant","z":"","host":"node-red-dkbjm-cloudant-1595361783735","name":""},{"id":"e14cc3d7.68b9b","type":"ui_tab","z":0,"name":"Welcome","icon":"dashboard","order":1,"disabled":false,"hidden":false}]