ibm_hack_challenge_2020_2bit/Dashboard/session_timer.json
[{"id":"5ab56c2c.fac9b4","type":"comment","z":"a0f974bf.e5cab8","name":"Session Management ","info":"","x":1857,"y":132,"wires":[]},{"id":"225c1b32.ebb0e4","type":"inject","z":"a0f974bf.e5cab8","name":"Timer","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"0.1","x":1835.5000076293945,"y":220.99998474121094,"wires":[["bd85698b.1ac068","a623f597.cb12f8"]]},{"id":"bd85698b.1ac068","type":"function","z":"a0f974bf.e5cab8","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 60000; //15 secs\n\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":2000,"y":180,"wires":[["e88feaee.c51f38"]]},{"id":"e88feaee.c51f38","type":"switch","z":"a0f974bf.e5cab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":2193.500072479248,"y":185,"wires":[["c8a4573b.955968"],["b0aa63b2.d4eae"],["fa090dbb.22cf6"]]},{"id":"c8a4573b.955968","type":"function","z":"a0f974bf.e5cab8","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please singin again!\";\nreturn msg;","outputs":1,"noerr":0,"x":2349.499984741211,"y":158.00000381469727,"wires":[["5183f2e3.ff3a2c","24c28acd.55adf6"]]},{"id":"24c28acd.55adf6","type":"function","z":"a0f974bf.e5cab8","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide: [\"Dashboard_SalesTransaction\",\"Dashboard_SalesProductStock\",\"Dashboard_SalesLogout\",\"Dashboard_WarehouseTransaction\",\"Dashboard_WarehouseProductStock\",\"Dashboard_ViewSupplier\",\"Dashboard_ViewCustomer\",\"Dashboard_WarehouseLogout\",\"Dashboard_AddProduct\", \"Dashboard_AddSupplier\", \"Dashboard_AddCustomer\", \"Dashboard_Transaction\", \"Dashboard_AddSalesManager\", \"Dashboard_AddWarehouseManager\",\"Dashboard_AdminLogout\"],\n \n    show : [\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\",\"Dashboard_AdminLogin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":2547.5000228881836,"y":161,"wires":[["137c6115.a3942f"]]},{"id":"a623f597.cb12f8","type":"function","z":"a0f974bf.e5cab8","name":"Calculating Remaining Time (Debug)","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar remainingSecs = Math.floor((60000 - (currTime - sessionTimer))/1000) + 1;\n    \nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    return null;\n} else {\n    \n    if ( remainingSecs <= 30 ) msg.payload = \"Remaining : \" + remainingSecs + \" secs\";  \n    else return null;\n}\n\nmsg.socketid = flow.get(\"clientid\") || \"B1234\";\nreturn msg;","outputs":1,"noerr":0,"x":2073.500030517578,"y":275.0000123977661,"wires":[["4959d2fe.84ec0c"]]},{"id":"b0aa63b2.d4eae","type":"function","z":"a0f974bf.e5cab8","d":true,"name":"Group","func":"var msg = {};\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    show : [\"Dashboard_SalesTransaction\",\"Dashboard_SalesProductStock\",\"Dashboard_SalesLogout\"],\n    hide : [\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\",\"Dashboard_WarehouseTransaction\",\"Dashboard_WarehouseProductStock\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":2341.000030517578,"y":198.99999618530273,"wires":[["cfcb6841.92a608"]]},{"id":"fa090dbb.22cf6","type":"function","z":"a0f974bf.e5cab8","d":true,"name":"Signin Group","func":"var msg = {};\nmsg.payload = { group: {\n   \n    show : [\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\",\"Dashboard_AdminLogin\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":2362.0000915527344,"y":240.0000343322754,"wires":[["972d11d1.011e6"]]},{"id":"137c6115.a3942f","type":"ui_ui_control","z":"a0f974bf.e5cab8","name":"Go to Signin Group","events":"connect","x":2744.0000324249268,"y":159.9999885559082,"wires":[[]]},{"id":"cfcb6841.92a608","type":"ui_ui_control","z":"a0f974bf.e5cab8","name":"Stay in Group","events":"connect","x":2674.000099182129,"y":198.99999809265137,"wires":[[]]},{"id":"972d11d1.011e6","type":"ui_ui_control","z":"a0f974bf.e5cab8","name":"Go to Signin Group","events":"connect","x":2682.0002479553223,"y":237.0000343322754,"wires":[[]]},{"id":"5183f2e3.ff3a2c","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Session Timeout","name":"Time-Out Dialog","x":2538.000114440918,"y":124.00000381469727,"wires":[[]]},{"id":"4959d2fe.84ec0c","type":"ui_toast","z":"a0f974bf.e5cab8","position":"bottom right","displayTime":"1","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Timer","name":"Display Remaining Time","x":2357.2222023010254,"y":274.99998474121094,"wires":[]}]