application_flow.json
[{"id":"a0f974bf.e5cab8","type":"tab","label":"Final","disabled":false,"info":""},{"id":"1fcf5af6.96bde5","type":"debug","z":"a0f974bf.e5cab8","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":120,"wires":[]},{"id":"b951430f.9e089","type":"comment","z":"a0f974bf.e5cab8","name":"Sales","info":"","x":50,"y":80,"wires":[]},{"id":"8c906e54.8fb92","type":"function","z":"a0f974bf.e5cab8","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":140,"wires":[["1fcf5af6.96bde5"]]},{"id":"1013544c.94b44c","type":"function","z":"a0f974bf.e5cab8","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"sales\", password : \"sales\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload === 8 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":280,"wires":[["3b9a8f4e.f85b9"]]},{"id":"3b9a8f4e.f85b9","type":"switch","z":"a0f974bf.e5cab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":250,"y":220,"wires":[["29cdf405.5ea79c"],["e60bd7e8.d33f28"],["dc542c27.487bf"],["232cccf5.0b26a4"]]},{"id":"29cdf405.5ea79c","type":"function","z":"a0f974bf.e5cab8","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"Dashboard_SalesTransaction\",\"Dashboard_SalesProductStock\",\"Dashboard_SalesLogout\"],\n    hide : [\"Dashboard_AdminLogin\",\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\",\"Dashboard_WarehouseTransaction\",\"Dashboard_WarehouseProductStock\",\"Dashboard_ViewCustomer\",\"Dashboard_ViewSupplier\",\"Dashboard_WarehouseLogout\",\"Dashboard_AddProduct\", \"Dashboard_AddSupplier\", \"Dashboard_AddCustomer\", \"Dashboard_Transaction\", \"Dashboard_AddSalesManager\", \"Dashboard_AddWarehouseManager\",\"Dashboard_AdminLogout\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["b5d1db1f.66a9b8","a0547dbc.414e8"]]},{"id":"e60bd7e8.d33f28","type":"function","z":"a0f974bf.e5cab8","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["2aed1887.a6c988"]]},{"id":"dc542c27.487bf","type":"function","z":"a0f974bf.e5cab8","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["2aed1887.a6c988"]]},{"id":"737cb0a8.f29f1","type":"debug","z":"a0f974bf.e5cab8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":70,"y":240,"wires":[]},{"id":"232cccf5.0b26a4","type":"function","z":"a0f974bf.e5cab8","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["2a477976.d1ec16"]]},{"id":"3eeff8e9.2233c8","type":"function","z":"a0f974bf.e5cab8","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"Dashboard_SalesTransaction\", \n            \"Dashboard_SalesProductStock\",\"Dashboard_SalesLogout\"],\n    show : [\"Dashboard_AdminLogin\",\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":60,"wires":[["8d84177e.bce5a8","bc5ee60c.770938"]]},{"id":"59135510.813bbc","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"_id\":msg.payload.type,\n    \"Transaction Type(IN/OUT\":msg.payload.type,\n    \"Name\":msg.payload.name,\n    \"Product name\":msg.payload.productname,\n    \"Unit\":msg.payload.unit,\n    \"Amount\":msg.payload.amount,\n    \"Paid\":msg.payload.paid,\n    \"Balance\":msg.payload.balance\n}\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":160,"wires":[["481bcd28.6bdc74","8e785d3f.5322a"]]},{"id":"481bcd28.6bdc74","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Transaction added\"\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":280,"wires":[["3d3ce12c.9d8a7e"]]},{"id":"8e785d3f.5322a","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"sales_add_transaction","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":1260,"y":220,"wires":[]},{"id":"ee3210f3.d32ec","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Stock Updated\"\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":280,"wires":[["cbc932b4.5c1c4"]]},{"id":"8926541f.30d9c8","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"_id\":msg.payload.productname,\n    \"Product name\":msg.payload.productname,\n    \"Unit\":msg.payload.unit,\n    \"Cost\":msg.payload.cost,\n    \"Quantity\":msg.payload.quantity,\n    \"Date\":msg.payload.date\n}\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":160,"wires":[["ee3210f3.d32ec","18fcdd00.b85a93"]]},{"id":"18fcdd00.b85a93","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"sales_product_stock","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":1640,"y":220,"wires":[]},{"id":"701eaa1b.197294","type":"debug","z":"a0f974bf.e5cab8","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":420,"wires":[]},{"id":"29624253.ea493e","type":"comment","z":"a0f974bf.e5cab8","name":"Sign-In Section","info":"","x":100,"y":380,"wires":[]},{"id":"591eeba.d4c2914","type":"function","z":"a0f974bf.e5cab8","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":420,"wires":[["701eaa1b.197294"]]},{"id":"b5c5a.f1c233a6","type":"function","z":"a0f974bf.e5cab8","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"warehouse\", password : \"warehouse\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 5;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 6;\n       if ( account.password == password ) {\n           msg.payload = 4;\n       } \n    }\n});\n\nif ( msg.payload == 4 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 7;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["3f6bdc76.a36cd4"]]},{"id":"3f6bdc76.a36cd4","type":"switch","z":"a0f974bf.e5cab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":540,"wires":[["8b18a70.997a658"],["1093f84f.82d778"],["20742c71.8c3054"],["bf5b1f8d.fd5d9"]]},{"id":"8b18a70.997a658","type":"function","z":"a0f974bf.e5cab8","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"Dashboard_WarehouseTransaction\",\"Dashboard_WarehouseProductStock\",\"Dashboard_ViewSupplier\",\"Dashboard_ViewCustomer\",\"Dashboard_WarehouseLogout\"],\n    hide : [\"Dashboard_AdminLogin\",\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\",\"Dashboard_SalesTransaction\",\"Dashboard_SalesProductStock\",\"Dashboard_SalesLogout\",\"Dashboard_AddProduct\",\"Dashboard_AddSupplier\",\"Dashboard_AddCustomer\",\"Dashboard_Transaction\",\"Dashboard_AddSalesManager\",\"Dashboard_AddWarehouseManager\",\"Dashboard_AdminLogout\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":540,"wires":[["923c3f46.25a9c","3591ce44.a2a792"]]},{"id":"1093f84f.82d778","type":"function","z":"a0f974bf.e5cab8","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":580,"wires":[["489be1f6.5ebba"]]},{"id":"20742c71.8c3054","type":"function","z":"a0f974bf.e5cab8","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":620,"wires":[["489be1f6.5ebba"]]},{"id":"60ceab75.716254","type":"debug","z":"a0f974bf.e5cab8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":210,"y":540,"wires":[]},{"id":"bf5b1f8d.fd5d9","type":"function","z":"a0f974bf.e5cab8","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":660,"wires":[["194bd463.23c9cc"]]},{"id":"7e9d1fb1.9c71d","type":"link in","z":"a0f974bf.e5cab8","name":"","links":["565a80c9.280c7"],"x":80,"y":460,"wires":[["70f53de5.34e674"]]},{"id":"1c4d931e.f72acd","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Transaction added\"\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":600,"wires":[["9e8d2524.a95708"]]},{"id":"963ac56e.db35c8","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"Transaction Type(IN/OUT\":msg.payload.type,\n    \"Name\":msg.payload.name,\n    \"Product name\":msg.payload.productname,\n    \"Unit\":msg.payload.unit,\n    \"Amount\":msg.payload.amount,\n    \"Paid\":msg.payload.paid,\n    \"Balance\":msg.payload.balance\n}\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":500,"wires":[["1c4d931e.f72acd","9a941422.2b7a78"]]},{"id":"9a941422.2b7a78","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"warehouse_add_transaction","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":1920,"y":550,"wires":[]},{"id":"3fab323b.de336e","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Stock Updated\"\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":580,"wires":[["bc1f109a.08d84"]]},{"id":"cfb4f899.9f0fb8","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"Product name\":msg.payload.productname,\n    \"Unit\":msg.payload.unit,\n    \"Cost\":msg.payload.cost,\n    \"Quantity\":msg.payload.quantity,\n    \"Date\":msg.payload.date\n}\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":480,"wires":[["3fab323b.de336e","79228713.014888"]]},{"id":"79228713.014888","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"warehouse_product_stock","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":2230,"y":520,"wires":[]},{"id":"33f8245b.a4ee6c","type":"function","z":"a0f974bf.e5cab8","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"Dashboard_WarehouseTransaction\", \n            \"Dashboard_WarehouseProductStock\",\"Dashboard_ViewCustomer\",\"Dashboard_ViewSupplier\",\"Dashboard_WarehouseLogout\"],\n    show : [\"Dashboard_AdminLogin\",\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":660,"wires":[["b1b6a545.64cc08","b186f1be.d1c68"]]},{"id":"c7b98cd1.e4888","type":"debug","z":"a0f974bf.e5cab8","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":760,"wires":[]},{"id":"61a9c07a.2d6f3","type":"comment","z":"a0f974bf.e5cab8","name":"Admin Login Section","info":"","x":110,"y":720,"wires":[]},{"id":"ce3fa4d0.913728","type":"function","z":"a0f974bf.e5cab8","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":760,"wires":[["c7b98cd1.e4888"]]},{"id":"eafd248a.eb3288","type":"function","z":"a0f974bf.e5cab8","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"admin\", password : \"admin\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":880,"wires":[["1af69a7d.4d1a56"]]},{"id":"1af69a7d.4d1a56","type":"switch","z":"a0f974bf.e5cab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":290,"y":820,"wires":[["4262f765.900028"],["398776c2.ece78a"],["7b16c202.6be5ec"],["3c16b9a8.353686"]]},{"id":"4262f765.900028","type":"function","z":"a0f974bf.e5cab8","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"Dashboard_AddProduct\", \"Dashboard_AddSupplier\", \"Dashboard_AddCustomer\", \"Dashboard_Transaction\", \"Dashboard_AddSalesManager\", \"Dashboard_AddWarehouseManager\",\"Dashboard_AdminLogout\"],\n    hide : [\"Dashboard_AdminLogin\",\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\",\"Dashboard_WarehouseTransaction\", \"Dashboard_WarehouseProductStock\",\"Dashboard_ViewSupplier\",\"Dashboard_ViewCustomer\",\"Dashboard_WarehouseLogout\",\"Dashboard_SalesTransaction\",\"Dashboard_SalesProductStock\",\"Dashboard_SalesLogout\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":800,"wires":[["fc51a17d.84183","67d4ef2b.82563"]]},{"id":"398776c2.ece78a","type":"function","z":"a0f974bf.e5cab8","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":840,"wires":[["a54ea644.6dbe98"]]},{"id":"7b16c202.6be5ec","type":"function","z":"a0f974bf.e5cab8","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":880,"wires":[["a54ea644.6dbe98"]]},{"id":"a33dcdbc.ee542","type":"debug","z":"a0f974bf.e5cab8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":90,"y":840,"wires":[]},{"id":"3c16b9a8.353686","type":"function","z":"a0f974bf.e5cab8","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[["4c93a57e.d5a2fc"]]},{"id":"5251a92b.675cc8","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Transaction added\"\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":900,"wires":[["bbda4fe6.81b9f"]]},{"id":"fec747bd.c66ca8","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"Transaction Type(IN/OUT\":msg.payload.type,\n    \"Name\":msg.payload.name,\n    \"Product name\":msg.payload.productname,\n    \"Unit\":msg.payload.unit,\n    \"Amount\":msg.payload.amount,\n    \"Paid\":msg.payload.paid,\n    \"Balance\":msg.payload.balance\n}\nreturn msg;","outputs":1,"noerr":0,"x":1950,"y":820,"wires":[["5251a92b.675cc8","b603e635.74b9b8"]]},{"id":"b603e635.74b9b8","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"admin_add_transaction","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":2010,"y":860,"wires":[]},{"id":"6ee469e6.aa58e8","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Supplier added\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1490,"y":900,"wires":[["1bd6478c.9e8fe8"]]},{"id":"e53ec15b.ebb67","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Customer added\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1770,"y":900,"wires":[["bc780af9.02aae8"]]},{"id":"cf94b0f.3a5375","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Product added\"\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":920,"wires":[["1ff35f71.9a9091"]]},{"id":"d7f8e67c.a638a8","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"Product ID\":msg.payload.productid,\n    \"Product name\":msg.payload.productname,\n    \"Unit\":msg.payload.unit,\n    \"Cost per unit\":msg.payload.costperunit,\n    \"Stock\":msg.payload.stock\n}\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":820,"wires":[["cf94b0f.3a5375","d3fefb6d.9c8488"]]},{"id":"6cfed370.91287c","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"Supplier ID\":msg.payload.supplierid,\n    \"Name\":msg.payload.name,\n    \"Email ID\":msg.payload.email,\n    \"Contact number\":msg.payload.contactnumber,\n    \"Address\":msg.payload.address,\n    \"Details\":msg.payload.details,\n    \"Remarks\":msg.payload.remarks,\n}\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":820,"wires":[["6ee469e6.aa58e8","5faa7c0.72da984"]]},{"id":"9b85b66.72af748","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"Customer ID\":msg.payload.customerid,\n    \"Name\":msg.payload.name,\n    \"Email ID\":msg.payload.email,\n    \"Contact number\":msg.payload.contactnumber,\n    \"Address\":msg.payload.address,\n    \"Details\":msg.payload.details,\n    \"Remarks\":msg.payload.remarks,\n}\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":820,"wires":[["e53ec15b.ebb67","dbf1bc1c.0f25d"]]},{"id":"d3fefb6d.9c8488","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"admin_add_product","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":1290,"y":860,"wires":[]},{"id":"5faa7c0.72da984","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"admin_add_supplier","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":1520,"y":860,"wires":[]},{"id":"dbf1bc1c.0f25d","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"admin_add_customer","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":1760,"y":860,"wires":[]},{"id":"1a7cf6c5.968679","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Warehouse Manager added successfully\"\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":1020,"wires":[["71567a56.0275d4"]]},{"id":"b9bcf531.885198","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"ID\":msg.payload.id,\n    \"Name\":msg.payload.name,\n    \"Contact number\":msg.payload.contactnumber,\n    \"Password\":msg.payload.password\n}\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":980,"wires":[["1a7cf6c5.968679","e2534483.43da28"]]},{"id":"e2534483.43da28","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"admin_add_warehouse_manager","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":2320,"y":980,"wires":[]},{"id":"1973b14b.632baf","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Sales Manager added successfully\"\nreturn msg;","outputs":1,"noerr":0,"x":2090,"y":900,"wires":[["88d43919.176f98"]]},{"id":"807ee4a8.ad4be8","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"ID\":msg.payload.id,\n    \"Name\":msg.payload.name,\n    \"Contact number\":msg.payload.contactnumber,\n    \"Password\":msg.payload.password\n}\nreturn msg;","outputs":1,"noerr":0,"x":2230,"y":820,"wires":[["1973b14b.632baf","84fafe3c.6ad3f"]]},{"id":"84fafe3c.6ad3f","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"admin_add_sales_manager","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":2280,"y":860,"wires":[]},{"id":"a7844a94.df3428","type":"function","z":"a0f974bf.e5cab8","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"Dashboard_AddProduct\", \"Dashboard_AddSupplier\", \"Dashboard_AddCustomer\", \"Dashboard_Transaction\", \"Dashboard_AddSalesManager\", \"Dashboard_AddWarehouseManager\",\"Dashboard_AdminLogout\"],\n    show : [\"Dashboard_AdminLogin\",\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1080,"wires":[["b2f32c34.9c8ff","17f30b34.6eba55"]]},{"id":"a0547dbc.414e8","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Login successfull as sales manager\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["a883bb39.cfe368","96125287.72f4e"]]},{"id":"bc5ee60c.770938","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Logged out as sales manager\"\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":20,"wires":[["b6958c47.7ec73","30b6703b.c7331"]]},{"id":"3591ce44.a2a792","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Login successfull as warehouse manager\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":500,"wires":[["10685ceb.605023","97b95f64.ea05"]]},{"id":"b186f1be.d1c68","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Logged out as warehouse manager\"\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":620,"wires":[["112dbd41.b44273","828e5e44.c7f77"]]},{"id":"17f30b34.6eba55","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Logged out as admin\"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1000,"wires":[["e9f963c9.67ce","17d4bfd4.a57b6"]]},{"id":"67d4ef2b.82563","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Login successfull as admin\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":780,"wires":[["fb0da021.1c5b1","e291c2fc.aef58"]]},{"id":"b7f75c17.9df38","type":"function","z":"a0f974bf.e5cab8","name":"PreToken","func":"global.set(\"id\",msg.payload.id)\nglobal.set(\"week\",msg.payload.week)\nglobal.set(\"center_id\",msg.payload.center_id)\nglobal.set(\"meal_id\",msg.payload.meal_id)\nglobal.set(\"checkout_price\",msg.payload.checkout_price)\nglobal.set(\"base_price\",msg.payload.base_price)\nglobal.set(\"emailer_for_promotion\",msg.payload.emailer_for_promotion)\nglobal.set(\"homepage_featured\",msg.payload.homepage_featured)\nvar apikey=\"3EeSsy09CD89stzkpigSNoPeITAArgOx3odz4pD72NzE\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":1340,"wires":[["ae60c177.224bd"]]},{"id":"ae60c177.224bd","type":"http request","z":"a0f974bf.e5cab8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":1340,"wires":[["de2ab11e.149a1"]]},{"id":"69d60ae1.1960b4","type":"inject","z":"a0f974bf.e5cab8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1300,"wires":[["b7f75c17.9df38"]]},{"id":"3905f1fe.2dad5e","type":"debug","z":"a0f974bf.e5cab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":1120,"wires":[]},{"id":"de2ab11e.149a1","type":"function","z":"a0f974bf.e5cab8","name":"Pre Prediction","func":"var id = global.get('id')\nvar week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"37ffe341-845e-4fe2-b021-3006b746033b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\":[{\"fields\": [\"id\",\"week\",\"center_id\",\"meal_id\",\"checkout_price\",\"base_price\",\"emailer_for_promotion\",\"homepage_featured\"],\"values\": [[id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg","outputs":1,"noerr":0,"x":640,"y":1340,"wires":[["2b61d3d0.3bc01c"]]},{"id":"2b61d3d0.3bc01c","type":"http request","z":"a0f974bf.e5cab8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/fdb90a18-6cea-4fa0-bbe8-371c285580ba/predictions","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":1340,"wires":[["3e46b6cd.65180a","85cc2122.50d15"]]},{"id":"3e46b6cd.65180a","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]      \nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1160,"wires":[["3905f1fe.2dad5e","b37b8ab5.12e9c8"]]},{"id":"85cc2122.50d15","type":"debug","z":"a0f974bf.e5cab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":1440,"wires":[]},{"id":"96469fee.77fd2","type":"debug","z":"a0f974bf.e5cab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":1560,"wires":[]},{"id":"dabe716f.9cd0e","type":"function","z":"a0f974bf.e5cab8","name":"","func":"global.set('temperature',msg.payload.d.temperature)\nglobal.set('humidity',msg.payload.d.humidity)\nglobal.set('objectTemp',msg.payload.d.objectTemp)\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1660,"wires":[[]]},{"id":"6e195246.551bbc","type":"function","z":"a0f974bf.e5cab8","name":"temperature","func":"var temp = global.get('temperature')\nreturn {payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"x":280,"y":1740,"wires":[["6601a351.7b88bc","2c6da287.497fde"]]},{"id":"e0fe16a8.d1e178","type":"function","z":"a0f974bf.e5cab8","name":"humidity","func":"var hum = global.get('humidity')\nreturn {payload:msg.payload.d.humidity}","outputs":1,"noerr":0,"x":270,"y":1820,"wires":[["9f7e19aa.84fc68","3a1c10e7.cb45f"]]},{"id":"4cda9d85.2e61a4","type":"function","z":"a0f974bf.e5cab8","name":"object.Temp","func":"var objtemp = global.get('objectTemp')\nreturn {payload:msg.payload.d.objectTemp}","outputs":1,"noerr":0,"x":280,"y":1900,"wires":[["e42c8aae.9aa3c8","adb20fae.13906"]]},{"id":"a4d5f412.3d7c78","type":"http in","z":"a0f974bf.e5cab8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":600,"y":1600,"wires":[["c727c1f8.c8fd6"]]},{"id":"9fba3aef.ca9468","type":"http response","z":"a0f974bf.e5cab8","name":"","statusCode":"","headers":{},"x":1030,"y":1580,"wires":[]},{"id":"c727c1f8.c8fd6","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"temperature\":global.get('temperature'),\n    \"humidity\":global.get('humidity'),\n    \"objectTemp\":global.get('objectTemp'), \n}\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1700,"wires":[["9fba3aef.ca9468"]]},{"id":"2f9d9b69.9d2ac4","type":"template","z":"a0f974bf.e5cab8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<a href=\"https://eu-gb.dataplatform.cloud.ibm.com/dashboards/ccf2915c-fe61-45d3-ba70-15c97df889be/view/4f36dd0c06f11eec67cbf2e407992c017e3f7058e7bb810589d77b495a657797f0684695c8794e09dd160364a1b9135e9f\">INSIGHTS</a>","output":"str","x":180,"y":2040,"wires":[["15cd1338.590ced"]]},{"id":"7a8ca282.3de33c","type":"template","z":"a0f974bf.e5cab8","name":"","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"\n<!DOCTYPE html>\n<html lang=\"en\" class=\"no-js\">\n<head>\n\t<meta charset=\"utf-8\" />\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no\">\n\t<title>Cloudant Geo Exercise 0</title>\n\t<link href=\"//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css\" rel=\"stylesheet\">\n\t<link rel=\"stylesheet\" href=\"//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css\">\n\t<link rel=\"stylesheet\" href=\"style/leaflet.css\" />\n</head>\n<body>\n\t<div class=\"container\">\n      <div class=\"page-header\">\n  \t\t\t<h1>Cloudant Geo Exercise:</h1>\n  \t\t\t<h2>200 documents within 10,000 meters of the Boston State House</h2>\n      </div>\n\n    <div class=\"row\">\n      <div class=\"col-sm-12\">\n    \t\t<div id=\"map\" style=\"width: 100%; height: 480px\"></div>\n      </div>\n    </div>\n\t</div>\n\n\t<script src=\"//code.jquery.com/jquery-1.11.0.min.js\"></script>\n\t<script src=\"script/leaflet.js\"></script>\n\t<script>\n\tvar map = L.map('map').setView([42.357963, -71.063991], 12);\n\n\tL.tileLayer('https://{s}.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoicmFqcnNpbmdoIiwiYSI6ImpzeDhXbk0ifQ.VeSXCxcobmgfLgJAnsK3nw', {\n\t\tmaxZoom: 20,\n\t\tdetectRetina: true,\n\t\tid: 'mapbox.streets'\n\t}).addTo(map);\n\n\tvar cloudantURL = '../crimes/_design/crimeclass/_geo/newGeoIndex?lat=42.32111262228869&lon=-71.08926773071289&radius=3418.352547554223&limit=20&relation=contains';\n\n\tvar crimeslayer = L.geoJson(null, {\n\t\tonEachFeature: onEachFeature\n\t}).addTo(map);\n\t$.getJSON(cloudantURL, null, function onSuccess(data) {\n\t\t// for (var i = 0; i < data.features.length; i++) {\n\t\t// \tcrimeslayer.addData(data.features[i].properties.doc);\n\t\t// }\n\t\tfor (var i = 0; i < data.rows.length; i++) {\n\t\t\tif ( data.rows[i].doc.geometry ) // this skips non-GeoJSON docs, e.g. design documents\n\t\t\t\tcrimeslayer.addData(data.rows[i].doc);\n\t\t}\n\t});\n\t\n\tfunction onEachFeature(feature, layer) {\n\t\tif ( feature.properties ) {\n\t\t\tvar pop = '';\n\t\t\tfor (var k in feature.properties) {\n\t\t\t\tpop += '<b>' + k + ': </b> ' + feature.properties[k] + '<br/>';\n\t\t\t}\n\t\t\t// layer.bindPopup( JSON.stringify(feature.properties) );\n\t\t\tlayer.bindPopup(pop);\n\t\t}\n\t}\n\t</script>\n\t\n</body>","output":"json","x":111,"y":2156,"wires":[["c910153a.8e9e38"]]},{"id":"c910153a.8e9e38","type":"html","z":"a0f974bf.e5cab8","name":"","property":"payload","outproperty":"payload","tag":"","ret":"html","as":"single","x":241,"y":2136,"wires":[["2eb74a84.bee1c6"]]},{"id":"5ab56c2c.fac9b4","type":"comment","z":"a0f974bf.e5cab8","name":"Session Management ","info":"","x":1857,"y":132,"wires":[]},{"id":"225c1b32.ebb0e4","type":"inject","z":"a0f974bf.e5cab8","name":"Timer","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":false,"onceDelay":"0.1","x":1835.5000076293945,"y":220.99998474121094,"wires":[["bd85698b.1ac068","a623f597.cb12f8"]]},{"id":"bd85698b.1ac068","type":"function","z":"a0f974bf.e5cab8","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 60000; //15 secs\n\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":2000,"y":180,"wires":[["e88feaee.c51f38"]]},{"id":"e88feaee.c51f38","type":"switch","z":"a0f974bf.e5cab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":2193.500072479248,"y":185,"wires":[["c8a4573b.955968"],["b0aa63b2.d4eae"],["fa090dbb.22cf6"]]},{"id":"c8a4573b.955968","type":"function","z":"a0f974bf.e5cab8","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please singin again!\";\nreturn msg;","outputs":1,"noerr":0,"x":2349.499984741211,"y":158.00000381469727,"wires":[["5183f2e3.ff3a2c","24c28acd.55adf6"]]},{"id":"24c28acd.55adf6","type":"function","z":"a0f974bf.e5cab8","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide: [\"Dashboard_SalesTransaction\",\"Dashboard_SalesProductStock\",\"Dashboard_SalesLogout\",\"Dashboard_WarehouseTransaction\",\"Dashboard_WarehouseProductStock\",\"Dashboard_ViewSupplier\",\"Dashboard_ViewCustomer\",\"Dashboard_WarehouseLogout\",\"Dashboard_AddProduct\", \"Dashboard_AddSupplier\", \"Dashboard_AddCustomer\", \"Dashboard_Transaction\", \"Dashboard_AddSalesManager\", \"Dashboard_AddWarehouseManager\",\"Dashboard_AdminLogout\"],\n \n    show : [\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\",\"Dashboard_AdminLogin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":2547.5000228881836,"y":161,"wires":[["137c6115.a3942f"]]},{"id":"a623f597.cb12f8","type":"function","z":"a0f974bf.e5cab8","name":"Calculating Remaining Time (Debug)","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar remainingSecs = Math.floor((60000 - (currTime - sessionTimer))/1000) + 1;\n    \nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    return null;\n} else {\n    \n    if ( remainingSecs <= 30 ) msg.payload = \"Remaining : \" + remainingSecs + \" secs\";  \n    else return null;\n}\n\nmsg.socketid = flow.get(\"clientid\") || \"B1234\";\nreturn msg;","outputs":1,"noerr":0,"x":2073.500030517578,"y":275.0000123977661,"wires":[["4959d2fe.84ec0c"]]},{"id":"b0aa63b2.d4eae","type":"function","z":"a0f974bf.e5cab8","d":true,"name":"Group","func":"var msg = {};\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    show : [\"Dashboard_SalesTransaction\",\"Dashboard_SalesProductStock\",\"Dashboard_SalesLogout\"],\n    hide : [\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\",\"Dashboard_WarehouseTransaction\",\"Dashboard_WarehouseProductStock\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":2341.000030517578,"y":198.99999618530273,"wires":[["cfcb6841.92a608"]]},{"id":"fa090dbb.22cf6","type":"function","z":"a0f974bf.e5cab8","d":true,"name":"Signin Group","func":"var msg = {};\nmsg.payload = { group: {\n   \n    show : [\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\",\"Dashboard_AdminLogin\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":2362.0000915527344,"y":240.0000343322754,"wires":[["972d11d1.011e6"]]},{"id":"a51def08.ae83d","type":"function","z":"a0f974bf.e5cab8","name":"Input Parsing","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":3250,"y":500,"wires":[["63515598.15832c"]]},{"id":"63515598.15832c","type":"watson-conversation-v1","z":"a0f974bf.e5cab8","name":"Warehouse Bot","workspaceid":"1566d4b1-9208-41fd-932c-34f8a3a3ff83","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/aa41f071-8832-44f5-b598-30eaea04f094","timeout":"","optout-learning":false,"x":3560,"y":500,"wires":[["2eace1d2.91c3fe","6ba8b04d.3e9d4"]]},{"id":"2eace1d2.91c3fe","type":"debug","z":"a0f974bf.e5cab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3810,"y":540,"wires":[]},{"id":"6ba8b04d.3e9d4","type":"function","z":"a0f974bf.e5cab8","name":"Output Parsing","func":"msg.payload = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":3760,"y":380,"wires":[["33b0feee.356ad2","4e57fa2d.50d914","42a1d87f.4b22d8"]]},{"id":"4e57fa2d.50d914","type":"template","z":"a0f974bf.e5cab8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":4080,"y":320,"wires":[[]]},{"id":"c75b5b40.036e18","type":"ui_button","z":"a0f974bf.e5cab8","name":"Logout","group":"7cc3a44c.4c0ecc","order":3,"width":"0","height":"0","passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"logout","payload":"","payloadType":"str","topic":"","x":1130,"y":60,"wires":[["3eeff8e9.2233c8"]]},{"id":"af22fd36.15a33","type":"ui_button","z":"a0f974bf.e5cab8","name":"Logout","group":"e59a6687.7b4388","order":3,"width":"0","height":"0","passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"logout","payload":"","payloadType":"str","topic":"","x":1190,"y":660,"wires":[["33f8245b.a4ee6c"]]},{"id":"5f344c52.fa7074","type":"ui_button","z":"a0f974bf.e5cab8","name":"Logout","group":"ddec0e51.e9bbf","order":3,"width":"0","height":"0","passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"logout","payload":"","payloadType":"str","topic":"","x":1030,"y":1020,"wires":[["a7844a94.df3428"]]},{"id":"6601a351.7b88bc","type":"ui_gauge","z":"a0f974bf.e5cab8","name":"","group":"a71f9a14.2d76b8","order":1,"width":"5","height":"3","gtype":"gage","title":"TEMPERATURE","label":"celcius","format":"{{value}}","min":"13","max":"23","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":1740,"wires":[]},{"id":"9f7e19aa.84fc68","type":"ui_gauge","z":"a0f974bf.e5cab8","name":"","group":"a71f9a14.2d76b8","order":2,"width":"5","height":"3","gtype":"gage","title":"HUMIDITY","label":"g/m^3","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":1820,"wires":[]},{"id":"e42c8aae.9aa3c8","type":"ui_gauge","z":"a0f974bf.e5cab8","name":"","group":"a71f9a14.2d76b8","order":3,"width":"5","height":"3","gtype":"gage","title":"MACHINE TEMPERATURE","label":"celcius","format":"{{value}}","min":"14","max":"28","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":1900,"wires":[]},{"id":"b37b8ab5.12e9c8","type":"ui_text","z":"a0f974bf.e5cab8","group":"ee0b3e83.18e4e","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":1200,"wires":[]},{"id":"33b0feee.356ad2","type":"ui_text","z":"a0f974bf.e5cab8","group":"dc9b353.85e58c8","order":1,"width":5,"height":6,"name":"","label":"Bot ","format":"{{msg.payload}}","layout":"row-spread","x":3770,"y":480,"wires":[]},{"id":"d86a4800.ee1408","type":"ui_form","z":"a0f974bf.e5cab8","name":"Dashboard Sign-In","label":"","group":"45ebaaa1.b17504","order":0,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"Login","cancel":"Reset","topic":"","x":90,"y":180,"wires":[["8c906e54.8fb92","1013544c.94b44c","737cb0a8.f29f1"]]},{"id":"26a98bc2.6e4804","type":"ui_form","z":"a0f974bf.e5cab8","name":"sales_add_transaction","label":"","group":"40202ad3.3820c4","order":0,"width":"0","height":"0","options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Product name","value":"product name","type":"text","required":true,"rows":null},{"label":"Unit","value":"unit","type":"text","required":true,"rows":null},{"label":"Amount","value":"amount","type":"number","required":true,"rows":null},{"label":"Paid","value":"paid","type":"switch","required":true,"rows":null},{"label":"Balance","value":"balance","type":"number","required":true,"rows":null}],"formValue":{"name":"","product name":"","unit":"","amount":"","paid":false,"balance":""},"payload":"","submit":"Add ","cancel":"","topic":"","x":1260,"y":100,"wires":[["59135510.813bbc"]]},{"id":"f3104040.587f","type":"ui_form","z":"a0f974bf.e5cab8","name":"sales_product_stock","label":"","group":"82ed7ab.ac4b088","order":2,"width":"0","height":"0","options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Product name","value":"productname","type":"text","required":true,"rows":null},{"label":"Unit","value":"unit","type":"text","required":true,"rows":null},{"label":"Cost","value":"cost","type":"number","required":true,"rows":null},{"label":"Quantity","value":"quantity","type":"number","required":true,"rows":null}],"formValue":{"date":"","productname":"","unit":"","cost":"","quantity":""},"payload":"","submit":"Edit","cancel":"","topic":"","x":1580,"y":100,"wires":[["8926541f.30d9c8"]]},{"id":"70f53de5.34e674","type":"ui_form","z":"a0f974bf.e5cab8","name":"Dashboard Sign-In","label":"","group":"64e3d490.86f0ec","order":0,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"Login","cancel":"Reset","topic":"","x":130,"y":500,"wires":[["591eeba.d4c2914","b5c5a.f1c233a6","60ceab75.716254"]]},{"id":"bca8e971.a70bc8","type":"ui_form","z":"a0f974bf.e5cab8","name":"warehouse_add_transaction","label":"","group":"d2ff05ef.3a5568","order":2,"width":"0","height":"0","options":[{"label":"Transaction Type(IN/OUT)","value":"type","type":"text","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Product name","value":"product name","type":"text","required":true,"rows":null},{"label":"Unit","value":"unit","type":"text","required":true,"rows":null},{"label":"Amount","value":"amount","type":"number","required":true,"rows":null},{"label":"Paid","value":"paid","type":"switch","required":true,"rows":null},{"label":"Balance","value":"balance","type":"number","required":true,"rows":null}],"formValue":{"type":"","name":"","product name":"","unit":"","amount":"","paid":false,"balance":""},"payload":"","submit":"Add ","cancel":"","topic":"","x":1800,"y":450,"wires":[["963ac56e.db35c8"]]},{"id":"89df947f.0981a8","type":"ui_form","z":"a0f974bf.e5cab8","name":"warehouse_product_stock","label":"","group":"8b250124.2933c","order":2,"width":"0","height":"0","options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Product name","value":"productname","type":"text","required":true,"rows":null},{"label":"Unit","value":"unit","type":"text","required":true,"rows":null},{"label":"Cost","value":"cost","type":"number","required":true,"rows":null},{"label":"Quantity","value":"quantity","type":"number","required":true,"rows":null}],"formValue":{"date":"","productname":"","unit":"","cost":"","quantity":""},"payload":"","submit":"Edit","cancel":"","topic":"","x":2270,"y":430,"wires":[["cfb4f899.9f0fb8"]]},{"id":"c0d82b60.f947b8","type":"ui_form","z":"a0f974bf.e5cab8","name":"Admin_Login","label":"","group":"a7b403ed.265fd","order":2,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"Login","cancel":"Reset","topic":"","x":110,"y":800,"wires":[["ce3fa4d0.913728","eafd248a.eb3288","a33dcdbc.ee542"]]},{"id":"2632f658.b07f8a","type":"ui_form","z":"a0f974bf.e5cab8","name":"admin_add_transaction","label":"","group":"57fbfea5.47da9","order":5,"width":"0","height":"0","options":[{"label":"Transaction Type(IN/OUT)","value":"type","type":"text","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Product name","value":"productname","type":"text","required":true,"rows":null},{"label":"Unit","value":"unit","type":"number","required":true,"rows":null},{"label":"Amount","value":"amount","type":"number","required":true,"rows":null},{"label":"Paid","value":"paid","type":"switch","required":true,"rows":null},{"label":"Balance","value":"balance","type":"number","required":true,"rows":null}],"formValue":{"type":"","name":"","productname":"","unit":"","amount":"","paid":false,"balance":""},"payload":"","submit":"Add ","cancel":"Reset","topic":"","x":2010,"y":780,"wires":[["fec747bd.c66ca8"]]},{"id":"7deb2dbd.4268b4","type":"ui_form","z":"a0f974bf.e5cab8","name":"admin_add_product","label":"","group":"32814776.419638","order":2,"width":0,"height":0,"options":[{"label":"Product ID","value":"productid","type":"number","required":true,"rows":null},{"label":"Product name","value":"productname","type":"text","required":true,"rows":null},{"label":"Unit","value":"unit","type":"text","required":true,"rows":null},{"label":"Cost per unit","value":"costperunit","type":"number","required":true,"rows":null},{"label":"Description","value":"description","type":"multiline","required":false,"rows":2},{"label":"Stock","value":"stock","type":"number","required":true,"rows":null}],"formValue":{"productid":"","productname":"","unit":"","costperunit":"","description":"","stock":""},"payload":"","submit":"Add Product","cancel":"Reset","topic":"","x":1300,"y":760,"wires":[["d7f8e67c.a638a8"]]},{"id":"b4f0f9ae.1c83e8","type":"ui_form","z":"a0f974bf.e5cab8","name":"admin_add_supplier","label":"","group":"3612df54.baa24","order":0,"width":0,"height":0,"options":[{"label":"Supplier ID","value":"supplierid","type":"number","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Emai id","value":"email","type":"email","required":true,"rows":null},{"label":"Contact number","value":"contactnumber","type":"number","required":true,"rows":null},{"label":"Address","value":"address","type":"text","required":true,"rows":null},{"label":"Details","value":"details","type":"text","required":true,"rows":null},{"label":"Remark","value":"remark","type":"text","required":false,"rows":null}],"formValue":{"supplierid":"","name":"","email":"","contactnumber":"","address":"","details":"","remark":""},"payload":"","submit":"Add Supplier","cancel":"Reset","topic":"","x":1564,"y":768,"wires":[["6cfed370.91287c"]]},{"id":"f7b1d07d.5d0fc","type":"ui_form","z":"a0f974bf.e5cab8","name":"admin_add_customer","label":"","group":"33a6c86f.36fd48","order":0,"width":0,"height":0,"options":[{"label":"Customer ID","value":"customerid","type":"number","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Emai id","value":"email","type":"email","required":true,"rows":null},{"label":"Contact number","value":"contactnumber","type":"number","required":true,"rows":null},{"label":"Address","value":"address","type":"text","required":true,"rows":null},{"label":"Details","value":"details","type":"text","required":true,"rows":null},{"label":"Remark","value":"remark","type":"text","required":false,"rows":null}],"formValue":{"customerid":"","name":"","email":"","contactnumber":"","address":"","details":"","remark":""},"payload":"","submit":"Add Customer","cancel":"Reset","topic":"","x":1780,"y":780,"wires":[["9b85b66.72af748"]]},{"id":"cd1bdabc.704008","type":"ui_form","z":"a0f974bf.e5cab8","name":"admin_add_warehouse_manager","label":"","group":"77e7bdbb.35b524","order":0,"width":"0","height":"0","options":[{"label":"ID","value":"id","type":"number","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Contact number","value":"contactnumber","type":"number","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"id":"","name":"","contactnumber":"","password":""},"payload":"","submit":"Add","cancel":"Reset","topic":"","x":2380,"y":920,"wires":[["b9bcf531.885198"]]},{"id":"9e564525.52b218","type":"ui_form","z":"a0f974bf.e5cab8","name":"admin_add_sales_manager","label":"","group":"440bbf41.21954","order":0,"width":"0","height":"0","options":[{"label":"ID","value":"id","type":"number","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Contact number","value":"contactnumber","type":"number","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"id":"","name":"","contactnumber":"","password":""},"payload":"","submit":"Add","cancel":"Reset","topic":"","x":2280,"y":780,"wires":[["807ee4a8.ad4be8"]]},{"id":"6cd4edaf.4f7a54","type":"ui_form","z":"a0f974bf.e5cab8","name":"","label":"","group":"ee0b3e83.18e4e","order":0,"width":"0","height":"0","options":[{"label":"Enter id","value":"id","type":"number","required":true,"rows":null},{"label":"Enter week","value":"week","type":"number","required":true,"rows":null},{"label":"Enter center_id","value":"center_id","type":"number","required":true,"rows":null},{"label":"Enter meal_id","value":"meal_id","type":"number","required":true,"rows":null},{"label":"Enter checkout_price","value":"checkout_price","type":"number","required":true,"rows":null},{"label":"Enter base_price","value":"base_price","type":"number","required":true,"rows":null},{"label":"Enter emailer_for_promotion","value":"emailer_for_promotion","type":"number","required":true,"rows":null},{"label":"Enter homepage_featured","value":"homepage_featured","type":"number","required":true,"rows":null}],"formValue":{"id":"","week":"","center_id":"","meal_id":"","checkout_price":"","base_price":"","emailer_for_promotion":"","homepage_featured":""},"payload":"","submit":"Predict","cancel":"Reset","topic":"","x":90,"y":1380,"wires":[["b7f75c17.9df38"]]},{"id":"1ae4b9ab.731b26","type":"ui_form","z":"a0f974bf.e5cab8","name":"","label":"","group":"dc9b353.85e58c8","order":3,"width":5,"height":2,"options":[{"label":"You","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"send","cancel":"reset","topic":"","x":3080,"y":480,"wires":[["a51def08.ae83d"]]},{"id":"2c6da287.497fde","type":"ui_chart","z":"a0f974bf.e5cab8","name":"","group":"a71f9a14.2d76b8","order":4,"width":"5","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":1760,"wires":[[]]},{"id":"adb20fae.13906","type":"ui_chart","z":"a0f974bf.e5cab8","name":"","group":"a71f9a14.2d76b8","order":6,"width":"5","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":1920,"wires":[[]]},{"id":"3a1c10e7.cb45f","type":"ui_chart","z":"a0f974bf.e5cab8","name":"","group":"a71f9a14.2d76b8","order":5,"width":"5","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":1840,"wires":[[]]},{"id":"b5d1db1f.66a9b8","type":"ui_ui_control","z":"a0f974bf.e5cab8","name":"Go to Sensor/History Group","events":"connect","x":620,"y":180,"wires":[[]]},{"id":"8d84177e.bce5a8","type":"ui_ui_control","z":"a0f974bf.e5cab8","name":"Go to Signin Group","x":1510,"y":60,"wires":[[]]},{"id":"923c3f46.25a9c","type":"ui_ui_control","z":"a0f974bf.e5cab8","name":"Go to Sensor/History Group","events":"connect","x":780,"y":540,"wires":[[]]},{"id":"b1b6a545.64cc08","type":"ui_ui_control","z":"a0f974bf.e5cab8","name":"Go to Signin Group","x":1650,"y":660,"wires":[[]]},{"id":"fc51a17d.84183","type":"ui_ui_control","z":"a0f974bf.e5cab8","name":"Go to Admin Groups","x":760,"y":820,"wires":[[]]},{"id":"b2f32c34.9c8ff","type":"ui_ui_control","z":"a0f974bf.e5cab8","name":"Go to Signin Group","x":1190,"y":1060,"wires":[[]]},{"id":"137c6115.a3942f","type":"ui_ui_control","z":"a0f974bf.e5cab8","name":"Go to Signin Group","events":"connect","x":2744.0000324249268,"y":159.9999885559082,"wires":[[]]},{"id":"cfcb6841.92a608","type":"ui_ui_control","z":"a0f974bf.e5cab8","name":"Stay in Group","events":"connect","x":2674.000099182129,"y":198.99999809265137,"wires":[[]]},{"id":"972d11d1.011e6","type":"ui_ui_control","z":"a0f974bf.e5cab8","name":"Go to Signin Group","events":"connect","x":2682.0002479553223,"y":237.0000343322754,"wires":[[]]},{"id":"a883bb39.cfe368","type":"ui_audio","z":"a0f974bf.e5cab8","name":"","group":"40202ad3.3820c4","voice":"en-US","always":"","x":480,"y":80,"wires":[]},{"id":"b6958c47.7ec73","type":"ui_audio","z":"a0f974bf.e5cab8","name":"","group":"45ebaaa1.b17504","voice":"en-US","always":"","x":1060,"y":20,"wires":[]},{"id":"10685ceb.605023","type":"ui_audio","z":"a0f974bf.e5cab8","name":"","group":"d2ff05ef.3a5568","voice":"en-US","always":"","x":840,"y":500,"wires":[]},{"id":"112dbd41.b44273","type":"ui_audio","z":"a0f974bf.e5cab8","name":"","group":"64e3d490.86f0ec","voice":"en-US","always":"","x":1120,"y":620,"wires":[]},{"id":"e9f963c9.67ce","type":"ui_audio","z":"a0f974bf.e5cab8","name":"","group":"a7b403ed.265fd","voice":"en-US","always":"","x":900,"y":1000,"wires":[]},{"id":"fb0da021.1c5b1","type":"ui_audio","z":"a0f974bf.e5cab8","name":"","group":"32814776.419638","voice":"en-US","always":"","x":800,"y":780,"wires":[]},{"id":"2aed1887.a6c988","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":680,"y":220,"wires":[[]]},{"id":"2a477976.d1ec16","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"System In Use.","name":"System In-Use Dialog","x":620,"y":280,"wires":[[]]},{"id":"3d3ce12c.9d8a7e","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1250,"y":340,"wires":[[]]},{"id":"cbc932b4.5c1c4","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1570,"y":340,"wires":[[]]},{"id":"489be1f6.5ebba","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Authentication Failed","name":"Authentication Failure Dialog","x":800,"y":580,"wires":[[]]},{"id":"194bd463.23c9cc","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"System In Use.","name":"System In-Use Dialog","x":760,"y":660,"wires":[[]]},{"id":"9e8d2524.a95708","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1870,"y":650,"wires":[[]]},{"id":"bc1f109a.08d84","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2230,"y":630,"wires":[[]]},{"id":"a54ea644.6dbe98","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Authentication Failed","name":"Authentication Failure Dialog","x":740,"y":860,"wires":[[]]},{"id":"4c93a57e.d5a2fc","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"System In Use.","name":"System In-Use Dialog","x":700,"y":920,"wires":[[]]},{"id":"bbda4fe6.81b9f","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1950,"y":940,"wires":[[]]},{"id":"1bd6478c.9e8fe8","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1490,"y":940,"wires":[[]]},{"id":"bc780af9.02aae8","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1730,"y":940,"wires":[[]]},{"id":"1ff35f71.9a9091","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1300,"y":970,"wires":[[]]},{"id":"71567a56.0275d4","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2250,"y":1020,"wires":[[]]},{"id":"88d43919.176f98","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2150,"y":940,"wires":[[]]},{"id":"96125287.72f4e","type":"ui_toast","z":"a0f974bf.e5cab8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":290,"y":40,"wires":[]},{"id":"30b6703b.c7331","type":"ui_toast","z":"a0f974bf.e5cab8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1330,"y":20,"wires":[]},{"id":"97b95f64.ea05","type":"ui_toast","z":"a0f974bf.e5cab8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":730,"y":440,"wires":[]},{"id":"828e5e44.c7f77","type":"ui_toast","z":"a0f974bf.e5cab8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1030,"y":660,"wires":[]},{"id":"17d4bfd4.a57b6","type":"ui_toast","z":"a0f974bf.e5cab8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":830,"y":960,"wires":[]},{"id":"e291c2fc.aef58","type":"ui_toast","z":"a0f974bf.e5cab8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":890,"y":740,"wires":[]},{"id":"a5e914f4.e64f08","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":375,"y":1258,"wires":[[]]},{"id":"5183f2e3.ff3a2c","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Session Timeout","name":"Time-Out Dialog","x":2538.000114440918,"y":124.00000381469727,"wires":[[]]},{"id":"4959d2fe.84ec0c","type":"ui_toast","z":"a0f974bf.e5cab8","position":"bottom right","displayTime":"1","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Timer","name":"Display Remaining Time","x":2357.2222023010254,"y":274.99998474121094,"wires":[]},{"id":"15cd1338.590ced","type":"ui_template","z":"a0f974bf.e5cab8","group":"5c51dbf0.267934","name":"","order":3,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<a href=\"https://eu-gb.dataplatform.cloud.ibm.com/dashboards/ccf2915c-fe61-45d3-ba70-15c97df889be/view/4f36dd0c06f11eec67cbf2e407992c017e3f7058e7bb810589d77b495a657797f0684695c8794e09dd160364a1b9135e9f\" style=\"color:white\">INSIGHTS!!!</a>\n<a href=\"https://eu-gb.dataplatform.cloud.ibm.com/dashboards/a16c613b-4580-446d-b873-1dd4c95d724d/view/603ed57b1bb314c041ccb5e407982e572e322008e1bb8a0689d77b495a607397f33f4295c8264a52d840056aa6bf1b5f9b\" style=\"color:white\">DEMAND</a>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":371,"y":1996,"wires":[[]]},{"id":"2eb74a84.bee1c6","type":"ui_template","z":"a0f974bf.e5cab8","group":"ed2fd2a1.0429a","name":"","order":3,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<a href=\"https://cab152f2-f650-42a9-b5c1-afc30a2218db-bluemix.cloudant.com/dashboard.html#/database/geospatial/_design/geodd/_geoindex/geoidx\" style=\"color:white\">LOCATION</a>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":451,"y":2096,"wires":[[]]},{"id":"90348f26.b0993","type":"ui_template","z":"a0f974bf.e5cab8","group":"938d8db7.62be3","name":"","order":3,"width":21,"height":"8","format":"<!DOCTYPE html>\n<html>\n<title>W3.CSS Template</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Inconsolata\">\n<style>\nbody, html {\n  height: 100%;\n  font-family: \"Inconsolata\", sans-serif;\n}\n\n.bgimg {\n  background-position: center;\n  background-size: cover;\n  background-image: url(\"https://ak3.picdn.net/shutterstock/videos/1805093/thumb/1.jpg\");\n  min-height: 100%;\n}\n\n.feature {\n  display: none;\n}\n</style>\n<body>\n\n<!-- Links (sit on top) -->\n<div class=\"w3-top\"><br><br><br><br><br>\n  <div class=\"w3-row w3-padding w3-black\">\n    <div class=\"w3-col s3\">\n      <a href=\"#home\" class=\"w3-button w3-block w3-black\">HOME</a>\n    </div>\n    <div class=\"w3-col s3\">\n      <a href=\"#about\" class=\"w3-button w3-block w3-black\">ABOUT</a>\n    </div>\n    <div class=\"w3-col s3\">\n      <a href=\"#feature\" class=\"w3-button w3-block w3-black\">FEATURES</a>\n    </div>\n    <div class=\"w3-col s3\">\n      <a href=\"#where\" class=\"w3-button w3-block w3-black\">LOCATION</a>\n    </div>\n  </div>\n</div>\n<!--</div>-->\n\n<!-- Header with image -->\n<header class=\"bgimg w3-display-container w3-grayscale-min\" id=\"home\">\n  <div class=\"w3-display-bottomleft w3-center w3-padding-large w3-hide-small\">\n    <span class=\"w3-tag\">Timing 6am to 8pm</span>\n  </div>\n  <div class=\"w3-display-middle w3-center\">\n    <span class=\"w3-text-white\" style=\"font-size:80px\">Food<br>Optimisation</span>\n  </div>\n  <div class=\"w3-display-bottomright w3-center w3-padding-large\">\n    <span class=\"w3-text-white\">Pune, Maharashtra</span>\n  </div>\n</header>\n\n<!-- Add a background color and large text to the whole page -->\n<div class=\"w3-sand w3-grayscale w3-large\">\n\n<!-- About Container -->\n<div class=\"w3-container\" id=\"about\">\n  <div class=\"w3-content\" style=\"max-width:700px\">\n    <h5 class=\"w3-center w3-padding-64\"><span class=\"w3-tag w3-wide\">ABOUT US</span></h5>\n    <p>The main branch is located in Pune city.</p>\n    <p>We provide warehousing and distribution services in a completely new way. Our services combine storage asset management with ground-breaking inventory tracking technology to install affordable mini-distribution centers in any city you need.</p>\n    <div class=\"w3-panel w3-leftbar w3-light-grey\">\n      <p><i>Get to know the stock needed on the prior basis!</i></p>\n      <p>Manager : ABC</p>\n    </div>\n    <img src=\"https://s3.amazonaws.com/btoimage/prism-thumbnails/articles/20171030-2048-SeafoodCity6.jpg-resize_then_crop-_frame_bg_color_FFF-h_1365-gravity_center-q_70-preserve_ratio_true-w_2048_.webp\" style=\"width:100%;max-width:1000px\" class=\"w3-margin-top\">\n    <p><strong>Opening hours:</strong> everyday from 6am to 8pm.</p>\n    <p><strong>Address:</strong> Pune,Maharashtra</p>\n  </div>\n</div>\n\n<!-- Service Container -->\n<div class=\"w3-container\" id=\"feature\">\n  <div class=\"w3-content\" style=\"max-width:700px\">\n \n    <h5 class=\"w3-center w3-padding-48\"><span class=\"w3-tag w3-wide\">OPTIMISATION TECHNIQUES</span></h5>\n  \n    <div class=\"w3-row w3-center w3-card w3-padding\">\n      <a href=\"javascript:void(0)\" onclick=\"openMenu(event, 'Eat');\" id=\"myLink\">\n        <div class=\"w3-col s6 tablink\">Analysis</div>\n      </a>\n      <a href=\"javascript:void(0)\" onclick=\"openMenu(event, 'Support');\">\n        <div class=\"w3-col s6 tablink\">Support</div>\n      </a>\n    </div>\n\n    <div id=\"Eat\" class=\"w3-container feature w3-padding-48 w3-card\">\n      <h5>Predictive Analysis</h5>\n      <p class=\"w3-text-grey\">Now Forget About Over and Under Stock!!</p><br>\n    \n      <h5>Temperature monitoring</h5>\n      <p class=\"w3-text-grey\">Get to now the temperature of warehouse anytime,anywhere</p><br>\n    \n      <h5>Insights</h5>\n      <p class=\"w3-text-grey\">Analyze and conclude results from various insights!</p><br>\n    \n      <h5>Location Tracking</h5>\n      <p class=\"w3-text-grey\">Get to meet manufacturers,suppliers,customers around you!</p><br>\n     </div>\n    \n     \n\n    <div id=\"Support\" class=\"w3-container feature w3-padding-48 w3-card\">\n      <h5>Chatbot</h5>\n      <p class=\"w3-text-grey\"></p>Our spoonacular will answer all your questions!<br>\n      \n      <h5>Product Details</h5>\n      <p class=\"w3-text-grey\">Get to know the price of the product from insights</p><br>\n    \n      <h5>Transaction</h5>\n      <p class=\"w3-text-grey\">We allow all methods of transaction.Get your bill asap.</p><br>\n    \n    \n      <h5>Stock</h5>\n      <p class=\"w3-text-grey\">Get to know the product stock and demand</p><br>\n      </div>  \n   \n    <img src=\"https://dearsystems.com/inventory-software/wp-content/uploads/2017/10/receiving-inventory.jpg\" style=\"width:100%;max-width:1000px;margin-top:32px;\">\n  </div>\n</div>\n\n<!-- Contact/Area Container -->\n<div class=\"w3-container\" id=\"where\" style=\"padding-bottom:32px;\">\n  <div class=\"w3-content\" style=\"max-width:700px\">\n    <h5 class=\"w3-center w3-padding-48\"><span class=\"w3-tag w3-wide\">WHERE TO FIND US</span></h5>\n    <p>Pune,Maharashtra.</p>\n    <img src=\"https://i.stack.imgur.com/AF16r.png\" class=\"w3-image\" style=\"width:100%\">\n    <p>We provide warehousing and distribution services in a completely new way. Our services combine storage asset management with ground-breaking inventory tracking technology to install affordable mini-distribution centers in any city you need. We understand your needs and we will help you optimise the process.</p>\n    <p><strong>Interested?</strong><br>Register Now!</p>\n    <form action=\"/action_page.php\" target=\"_blank\">\n      <p><input class=\"w3-input w3-padding-16 w3-border\" type=\"text\" placeholder=\"Name\" required name=\"Name\"></p>\n      <p><input class=\"w3-input w3-padding-16 w3-border\" type=\"text\" placeholder=\"Service needed\" required name=\"People\"></p>\n      <p><input class=\"w3-input w3-padding-16 w3-border\" type=\"datetime-local\" placeholder=\"Get started from\" required name=\"date\" value=\"2017-11-16T20:00\"></p>\n      <p><input class=\"w3-input w3-padding-16 w3-border\" type=\"text\" placeholder=\"Location\" required name=\"Message\"></p>\n      <p><button class=\"w3-button w3-black\" type=\"submit\">Register</button></p>\n    </form>\n  </div>\n</div>\n\n<!-- End page content -->\n</div>\n\n\n<!-- Footer -->\n<footer class=\"w3-center w3-light-grey w3-padding-48 w3-large\">\n  <p>Thank you!</p>\n</footer>\n\n<script>\n// Tabbed Menu\nfunction openMenu(evt, featureName) {\n  var i, x, tablinks;\n  x = document.getElementsByClassName(\"feature\");\n  for (i = 0; i < x.length; i++) {\n    x[i].style.display = \"none\";\n  }\n  tablinks = document.getElementsByClassName(\"tablink\");\n  for (i = 0; i < x.length; i++) {\n    tablinks[i].className = tablinks[i].className.replace(\" w3-dark-grey\", \"\");\n  }\n  document.getElementById(featureName).style.display = \"block\";\n  evt.currentTarget.firstElementChild.className += \" w3-dark-grey\";\n}\ndocument.getElementById(\"myLink\").click();\n</script>\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":3151,"y":289,"wires":[[]]},{"id":"eaa5855e.1ec4f8","type":"ui_template","z":"a0f974bf.e5cab8","group":"dc9b353.85e58c8","name":"","order":2,"width":16,"height":8,"format":"<!DOCTYPE html>\n<html>\n<title>W3.CSS Template</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Inconsolata\">\n<style>\nbody, html {\n  height: 100%;\n  font-family: \"Inconsolata\", sans-serif;\n}\n\n.bgimg {\n  background-position: center;\n  background-size: cover;\n  background-image: url(\"https://images.indianexpress.com/2016/05/pune-759_google-maps.jpg\");\n  min-height: 100%;\n}\n\n\n</style>\n<body>\n\n<!-- Header with image -->\n<header class=\"bgimg w3-display-container w3-grayscale-min\" id=\"home\">\n  <div class=\"w3-display-bottomleft w3-center w3-padding-large w3-hide-small\">\n    <span class=\"w3-tag\">583/B,Viman Nagar,Regional Office,Maharashtra State Warehousing Corporation,Pune-411037</span>\n  </div>\n  <div class=\"w3-display-middle w3-center\">\n    <span class=\"w3-text-black\" style=\"font-size:70px\">LOCATION</a></span>\n  </div>\n  <div class=\"w3-display-bottomright w3-center w3-padding-large\">\n    <span class=\"w3-tag\">Contact number:9876543210</span>\n  </div>\n</header>\n\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":3440,"y":360,"wires":[[]]},{"id":"956c0a4.8cd8cf8","type":"ibmiot in","z":"a0f974bf.e5cab8","authentication":"apiKey","apiKey":"a3a8bc0a.4595b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":80,"y":1600,"wires":[["96469fee.77fd2","dabe716f.9cd0e","6e195246.551bbc","e0fe16a8.d1e178","4cda9d85.2e61a4"]]},{"id":"42a1d87f.4b22d8","type":"ui_audio","z":"a0f974bf.e5cab8","name":"","group":"dc9b353.85e58c8","voice":"en-US","always":"","x":4020,"y":420,"wires":[]},{"id":"e186e610.65a6c8","type":"ui_template","z":"a0f974bf.e5cab8","group":"2e75a794.387078","name":"","order":1,"width":17,"height":9,"format":"<!DOCTYPE html>\n<html>\n<title>W3.CSS Template</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Inconsolata\">\n<style>\nbody, html {\n  height: 100%;\n  font-family: \"Inconsolata\", sans-serif;\n}\n\n.bgimg {\n  background-position: center;\n  background-size: cover;\n  background-image: url(\"https://dearsystems.com/inventory-software/wp-content/uploads/2017/10/receiving-inventory.jpg\");\n  min-height: 100%;\n}\n\n.menu {\n  display: none;\n}\n</style>\n<body>\n\n<!-- Header with image -->\n<header class=\"bgimg w3-display-container w3-grayscale-min\" id=\"home\">\n  <div class=\"w3-display-bottomleft w3-center w3-padding-large w3-hide-small\">\n    <span class=\"w3-tag\">Forget over and under stock!!!</span>\n  </div>\n  <div class=\"w3-display-middle w3-center\">\n    <span class=\"w3-text-white\" style=\"font-size:80px\"><a href=\"http://127.0.0.1:8000/\" style:color=\"white\">STOCK MANAGEMENT</a></span>\n  </div>\n  <div class=\"w3-display-bottomright w3-center w3-padding-large\">\n    <span class=\"w3-text-white\"></span>\n  </div>\n</header>\n\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":560,"y":2040,"wires":[[]]},{"id":"7cc3a44c.4c0ecc","type":"ui_group","z":0,"name":"SalesLogout","tab":"a5ae65c4.acd048","order":18,"disp":true,"width":"6","collapse":false},{"id":"e59a6687.7b4388","type":"ui_group","z":0,"name":"WarehouseLogout","tab":"a5ae65c4.acd048","order":14,"disp":true,"width":"6","collapse":false},{"id":"ddec0e51.e9bbf","type":"ui_group","z":0,"name":"AdminLogout","tab":"a5ae65c4.acd048","order":8,"disp":true,"width":"6","collapse":false},{"id":"a71f9a14.2d76b8","type":"ui_group","z":0,"name":"WAREHOUSE","tab":"d528786e.e7e658","order":1,"disp":true,"width":"16","collapse":false},{"id":"ee0b3e83.18e4e","type":"ui_group","z":0,"name":"Prediction","tab":"d528786e.e7e658","order":1,"disp":true,"width":"4","collapse":false},{"id":"dc9b353.85e58c8","type":"ui_group","z":0,"name":"Spoonacular","tab":"1c30f3e9.86fcec","order":1,"disp":true,"width":"21","collapse":false},{"id":"45ebaaa1.b17504","type":"ui_group","z":0,"name":"SalesManagerLogin","tab":"a5ae65c4.acd048","order":15,"disp":true,"width":"6","collapse":false},{"id":"40202ad3.3820c4","type":"ui_group","z":0,"name":"SalesTransaction","tab":"a5ae65c4.acd048","order":16,"disp":true,"width":"6","collapse":false},{"id":"82ed7ab.ac4b088","type":"ui_group","z":0,"name":"SalesProductStock","tab":"a5ae65c4.acd048","order":17,"disp":true,"width":"10","collapse":false},{"id":"64e3d490.86f0ec","type":"ui_group","z":0,"name":"WarehouseManagerLogin","tab":"a5ae65c4.acd048","order":9,"disp":true,"width":"6","collapse":false},{"id":"d2ff05ef.3a5568","type":"ui_group","z":0,"name":"WarehouseTransaction","tab":"a5ae65c4.acd048","order":10,"disp":true,"width":"6","collapse":false},{"id":"8b250124.2933c","type":"ui_group","z":0,"name":"WarehouseProductStock","tab":"a5ae65c4.acd048","order":13,"disp":true,"width":"6","collapse":false},{"id":"a7b403ed.265fd","type":"ui_group","z":0,"name":"AdminLogin","tab":"a5ae65c4.acd048","order":1,"disp":true,"width":"6","collapse":false},{"id":"57fbfea5.47da9","type":"ui_group","z":0,"name":"Transaction","tab":"a5ae65c4.acd048","order":5,"disp":true,"width":"6","collapse":false},{"id":"32814776.419638","type":"ui_group","z":0,"name":"AddProduct","tab":"a5ae65c4.acd048","order":2,"disp":true,"width":"6","collapse":false},{"id":"3612df54.baa24","type":"ui_group","z":0,"name":"AddSupplier","tab":"a5ae65c4.acd048","order":3,"disp":true,"width":"6","collapse":false},{"id":"33a6c86f.36fd48","type":"ui_group","z":0,"name":"AddCustomer","tab":"a5ae65c4.acd048","order":4,"disp":true,"width":"6","collapse":false},{"id":"77e7bdbb.35b524","type":"ui_group","z":0,"name":"AddWarehouseManager","tab":"a5ae65c4.acd048","order":7,"disp":true,"width":"6","collapse":false},{"id":"440bbf41.21954","type":"ui_group","z":0,"name":"AddSalesManager","tab":"a5ae65c4.acd048","order":6,"disp":true,"width":"6","collapse":false},{"id":"5c51dbf0.267934","type":"ui_group","z":0,"name":"INSIGHTS","tab":"d528786e.e7e658","order":1,"disp":true,"width":"6","collapse":false},{"id":"ed2fd2a1.0429a","type":"ui_group","z":0,"name":"LOCATION","tab":"d528786e.e7e658","order":4,"disp":true,"width":"6","collapse":false},{"id":"938d8db7.62be3","type":"ui_group","z":0,"name":"WELCOME","tab":"b6124cdf.9581b","order":1,"disp":false,"width":"21","collapse":false},{"id":"a3a8bc0a.4595b","type":"ibmiot","z":0,"name":"","keepalive":"60","serverName":"rlu9jv.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"2e75a794.387078","type":"ui_group","z":0,"name":"Stock management","tab":"38062d79.63bc42","order":1,"disp":false,"width":17,"collapse":false},{"id":"a5ae65c4.acd048","type":"ui_tab","z":0,"name":"Dashboard","icon":"dashboard","order":2},{"id":"d528786e.e7e658","type":"ui_tab","z":0,"name":"Analysis","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"1c30f3e9.86fcec","type":"ui_tab","z":0,"name":"Chatbot","icon":"dashboard","order":15,"disabled":false,"hidden":false},{"id":"b6124cdf.9581b","type":"ui_tab","z":0,"name":"Welcome","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"38062d79.63bc42","type":"ui_tab","z":0,"name":"Stock management","icon":"dashboard","order":7,"disabled":false,"hidden":false}]