final_application_flow.json
[{"id":"d654d574.fe21f8","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Customer/Supplier registered today. Please check and send them confirmation mail.\"\nreturn msg;","outputs":1,"noerr":0,"x":3170,"y":120,"wires":[["ecc52405.838248"]]},{"id":"1d7d8e50.302ae2","type":"debug","z":"1a7bc75e.9ee309","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":120,"wires":[]},{"id":"371907e4.afc338","type":"comment","z":"1a7bc75e.9ee309","name":"Sales","info":"","x":50,"y":80,"wires":[]},{"id":"776322ba.98192c","type":"function","z":"1a7bc75e.9ee309","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":140,"wires":[["1d7d8e50.302ae2"]]},{"id":"f503af6a.fe507","type":"function","z":"1a7bc75e.9ee309","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"sales\", password : \"sales\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload === 8 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":280,"wires":[["bc015a7d.072be8"]]},{"id":"bc015a7d.072be8","type":"switch","z":"1a7bc75e.9ee309","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":250,"y":220,"wires":[["60906853.c4e368"],["2ea861e5.43d2ce"],["2573ced7.724d12"],["eb443af1.2248e8"]]},{"id":"60906853.c4e368","type":"function","z":"1a7bc75e.9ee309","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"Dashboard_SalesTransaction\",\"Dashboard_SalesProductStock\",\"Dashboard_SalesLogout\"],\n    hide : [\"Dashboard_AdminLogin\",\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\",\"Dashboard_WarehouseTransaction\",\"Dashboard_WarehouseProductStock\",\"Dashboard_ViewCustomer\",\"Dashboard_ViewSupplier\",\"Dashboard_WarehouseLogout\",\"Dashboard_AddProduct\", \"Dashboard_AddSupplier\", \"Dashboard_AddCustomer\", \"Dashboard_Transaction\", \"Dashboard_AddSalesManager\", \"Dashboard_AddWarehouseManager\",\"Dashboard_AdminLogout\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["6f093216.f3c44c","6689e7a7.eb7bc8"]]},{"id":"2ea861e5.43d2ce","type":"function","z":"1a7bc75e.9ee309","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["acd48055.250c"]]},{"id":"2573ced7.724d12","type":"function","z":"1a7bc75e.9ee309","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["acd48055.250c"]]},{"id":"b6b17b7b.1ef1d8","type":"debug","z":"1a7bc75e.9ee309","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":70,"y":240,"wires":[]},{"id":"eb443af1.2248e8","type":"function","z":"1a7bc75e.9ee309","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["c78453b2.1c1bc"]]},{"id":"be786dc7.5b8ca","type":"function","z":"1a7bc75e.9ee309","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"Dashboard_SalesTransaction\", \n            \"Dashboard_SalesProductStock\",\"Dashboard_SalesLogout\"],\n    show : [\"Dashboard_AdminLogin\",\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":60,"wires":[["83a2e728.0ac448","cc81ba9.df75b48"]]},{"id":"b2e0d5d0.066fb8","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = {\n    \"_id\":msg.payload.type,\n    \"Transaction Type(IN/OUT\":msg.payload.type,\n    \"Name\":msg.payload.name,\n    \"Product name\":msg.payload.productname,\n    \"Unit\":msg.payload.unit,\n    \"Amount\":msg.payload.amount,\n    \"Paid\":msg.payload.paid,\n    \"Balance\":msg.payload.balance\n}\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":160,"wires":[["e9ed404.fe35fc","c7c697e1.873768"]]},{"id":"e9ed404.fe35fc","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Transaction added\"\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":280,"wires":[["dd9a536d.b7cfd"]]},{"id":"61ecad3b.2f0ee4","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Stock Updated\"\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":280,"wires":[["d36edb93.0e3e08"]]},{"id":"9cdc461e.78d448","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = {\n    \"_id\":msg.payload.productname,\n    \"Product name\":msg.payload.productname,\n    \"Unit\":msg.payload.unit,\n    \"Cost\":msg.payload.cost,\n    \"Quantity\":msg.payload.quantity,\n    \"Date\":msg.payload.date\n}\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":160,"wires":[["61ecad3b.2f0ee4","edda9e21.e63cd"]]},{"id":"edda9e21.e63cd","type":"cloudant out","z":"1a7bc75e.9ee309","name":"","cloudant":"","database":"sales_product_stock","service":"node-red-dkbjm-cloudant-1595361783735-90297","payonly":true,"operation":"insert","x":1640,"y":220,"wires":[]},{"id":"d09a8143.6829","type":"debug","z":"1a7bc75e.9ee309","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":420,"wires":[]},{"id":"342e8613.a8e13a","type":"comment","z":"1a7bc75e.9ee309","name":"Sign-In Section","info":"","x":100,"y":380,"wires":[]},{"id":"cc1a0251.90d4a","type":"function","z":"1a7bc75e.9ee309","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":420,"wires":[["d09a8143.6829"]]},{"id":"eef9d22d.ab5ab","type":"function","z":"1a7bc75e.9ee309","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"warehouse\", password : \"warehouse\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 5;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 6;\n       if ( account.password == password ) {\n           msg.payload = 4;\n       } \n    }\n});\n\nif ( msg.payload == 4 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 7;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["c0086bc6.174d78"]]},{"id":"c0086bc6.174d78","type":"switch","z":"1a7bc75e.9ee309","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":540,"wires":[["8bfe8b4a.924d48"],["121b4eb4.c8fc71"],["27e0d38.348a62c"],["b6b08332.13323"]]},{"id":"8bfe8b4a.924d48","type":"function","z":"1a7bc75e.9ee309","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"Dashboard_WarehouseTransaction\",\"Dashboard_WarehouseProductStock\",\"Dashboard_ViewSupplier\",\"Dashboard_ViewCustomer\",\"Dashboard_WarehouseLogout\"],\n    hide : [\"Dashboard_AdminLogin\",\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\",\"Dashboard_SalesTransaction\",\"Dashboard_SalesProductStock\",\"Dashboard_SalesLogout\",\"Dashboard_AddProduct\",\"Dashboard_AddSupplier\",\"Dashboard_AddCustomer\",\"Dashboard_Transaction\",\"Dashboard_AddSalesManager\",\"Dashboard_AddWarehouseManager\",\"Dashboard_AdminLogout\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":540,"wires":[["b79fbd0.993714","d1a11d77.f0079"]]},{"id":"121b4eb4.c8fc71","type":"function","z":"1a7bc75e.9ee309","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":580,"wires":[["e1dadbde.7acdf8"]]},{"id":"27e0d38.348a62c","type":"function","z":"1a7bc75e.9ee309","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":620,"wires":[["e1dadbde.7acdf8"]]},{"id":"2c2a6879.721d28","type":"debug","z":"1a7bc75e.9ee309","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":210,"y":540,"wires":[]},{"id":"b6b08332.13323","type":"function","z":"1a7bc75e.9ee309","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":660,"wires":[["cc774bfd.ba2e58"]]},{"id":"c0cdeeb4.edc34","type":"link in","z":"1a7bc75e.9ee309","name":"","links":["565a80c9.280c7"],"x":80,"y":460,"wires":[["d401a51a.731ad8"]]},{"id":"460b3061.a6c2a","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Transaction added\"\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":600,"wires":[["6f9ad884.ff21a8"]]},{"id":"b94dfc7f.5d75b","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = {\n    \"Transaction Type(IN/OUT\":msg.payload.type,\n    \"Name\":msg.payload.name,\n    \"Product name\":msg.payload.productname,\n    \"Unit\":msg.payload.unit,\n    \"Amount\":msg.payload.amount,\n    \"Paid\":msg.payload.paid,\n    \"Balance\":msg.payload.balance\n}\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":500,"wires":[["460b3061.a6c2a","4ec28c57.441694"]]},{"id":"b7b48e71.10806","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Stock Updated\"\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":580,"wires":[["b4b5b02e.fc2fc"]]},{"id":"bb25e074.5cdc7","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = {\n    \"Product name\":msg.payload.productname,\n    \"Unit\":msg.payload.unit,\n    \"Cost\":msg.payload.cost,\n    \"Quantity\":msg.payload.quantity,\n    \"Date\":msg.payload.date\n}\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":480,"wires":[["b7b48e71.10806","f272ccc3.d6344"]]},{"id":"fe1d6f03.de30e","type":"function","z":"1a7bc75e.9ee309","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"Dashboard_WarehouseTransaction\", \n            \"Dashboard_WarehouseProductStock\",\"Dashboard_ViewCustomer\",\"Dashboard_ViewSupplier\",\"Dashboard_WarehouseLogout\"],\n    show : [\"Dashboard_AdminLogin\",\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":660,"wires":[["16a66d3d.e3c503","83fa96bd.a40328"]]},{"id":"6458a2bd.c2363c","type":"debug","z":"1a7bc75e.9ee309","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":760,"wires":[]},{"id":"7b7995c2.fcb0ec","type":"comment","z":"1a7bc75e.9ee309","name":"Admin Login Section","info":"","x":110,"y":720,"wires":[]},{"id":"1b5e43e.2803abc","type":"function","z":"1a7bc75e.9ee309","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":760,"wires":[["6458a2bd.c2363c"]]},{"id":"93779fd3.e42ef","type":"function","z":"1a7bc75e.9ee309","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"admin\", password : \"admin\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":880,"wires":[["8a41a431.7ceb88"]]},{"id":"8a41a431.7ceb88","type":"switch","z":"1a7bc75e.9ee309","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":290,"y":820,"wires":[["60ca50f4.9805"],["52cadd71.2feef4"],["fd5ed19e.bf2b4"],["a1c1abf9.945448"]]},{"id":"60ca50f4.9805","type":"function","z":"1a7bc75e.9ee309","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"Dashboard_AddProduct\", \"Dashboard_AddSupplier\", \"Dashboard_AddCustomer\", \"Dashboard_Transaction\", \"Dashboard_AddSalesManager\", \"Dashboard_AddWarehouseManager\",\"Dashboard_AdminLogout\"],\n    hide : [\"Dashboard_AdminLogin\",\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\",\"Dashboard_WarehouseTransaction\", \"Dashboard_WarehouseProductStock\",\"Dashboard_ViewSupplier\",\"Dashboard_ViewCustomer\",\"Dashboard_WarehouseLogout\",\"Dashboard_SalesTransaction\",\"Dashboard_SalesProductStock\",\"Dashboard_SalesLogout\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":800,"wires":[["7d8dfec1.273fb","dca1ce4.92f443"]]},{"id":"52cadd71.2feef4","type":"function","z":"1a7bc75e.9ee309","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":840,"wires":[["23d1dbf2.d9ebe4"]]},{"id":"fd5ed19e.bf2b4","type":"function","z":"1a7bc75e.9ee309","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":880,"wires":[["23d1dbf2.d9ebe4"]]},{"id":"a0045e1f.8005a","type":"debug","z":"1a7bc75e.9ee309","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":90,"y":840,"wires":[]},{"id":"a1c1abf9.945448","type":"function","z":"1a7bc75e.9ee309","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[["82656e2a.80372"]]},{"id":"474b048d.d6983c","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Transaction added\"\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":900,"wires":[["a610100f.a3da4"]]},{"id":"2c94fc9.845e804","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = {\n    \"Transaction Type(IN/OUT\":msg.payload.type,\n    \"Name\":msg.payload.name,\n    \"Product name\":msg.payload.productname,\n    \"Unit\":msg.payload.unit,\n    \"Amount\":msg.payload.amount,\n    \"Paid\":msg.payload.paid,\n    \"Balance\":msg.payload.balance\n}\nreturn msg;","outputs":1,"noerr":0,"x":1950,"y":820,"wires":[["474b048d.d6983c","c0e02d1.c0476d"]]},{"id":"f644f851.a172b8","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Supplier added\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1490,"y":900,"wires":[["406b18c8.fc7ed8"]]},{"id":"e98f1787.326498","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Customer added\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1770,"y":900,"wires":[["2ddbe398.13550c"]]},{"id":"413862be.a5ccfc","type":"function","z":"1a7bc75e.9ee309","d":true,"name":"","func":"msg.payload = \"Product added\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":920,"wires":[["5ea5be66.cc421"]]},{"id":"a93f8a03.681758","type":"function","z":"1a7bc75e.9ee309","d":true,"name":"","func":"msg.payload = {\n    \"Product ID\":msg.payload.productid,\n    \"Product name\":msg.payload.productname,\n    \"Unit\":msg.payload.unit,\n    \"Cost per unit\":msg.payload.costperunit,\n    \"Stock\":msg.payload.stock\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1280,"y":820,"wires":[["413862be.a5ccfc","aff175ab.48ff58"]]},{"id":"e17e1cd.12e2ce","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = {\n    \"Supplier ID\":msg.payload.supplierid,\n    \"Name\":msg.payload.name,\n    \"Email ID\":msg.payload.email,\n    \"Contact number\":msg.payload.contactnumber,\n    \"Address\":msg.payload.address,\n    \"Details\":msg.payload.details,\n    \"Remarks\":msg.payload.remarks,\n}\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":820,"wires":[["f644f851.a172b8","4e78100c.dcfbf"]]},{"id":"96030462.c07568","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = {\n    \"Customer ID\":msg.payload.customerid,\n    \"Name\":msg.payload.name,\n    \"Email ID\":msg.payload.email,\n    \"Contact number\":msg.payload.contactnumber,\n    \"Address\":msg.payload.address,\n    \"Details\":msg.payload.details,\n    \"Remarks\":msg.payload.remarks,\n}\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":820,"wires":[["e98f1787.326498","59516d2b.49bce4"]]},{"id":"ef5c9ed3.87d28","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Warehouse Manager added successfully\"\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":1020,"wires":[["4c1c2e7f.78781"]]},{"id":"ab9470e8.8654","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = {\n    \"ID\":msg.payload.id,\n    \"Name\":msg.payload.name,\n    \"Contact number\":msg.payload.contactnumber,\n    \"Password\":msg.payload.password\n}\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":980,"wires":[["ef5c9ed3.87d28","d319861e.5b3178"]]},{"id":"5dd248fe.27d058","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Sales Manager added successfully\"\nreturn msg;","outputs":1,"noerr":0,"x":2090,"y":900,"wires":[["5cc4f09d.9e0ea"]]},{"id":"e453b862.2671d8","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = {\n    \"ID\":msg.payload.id,\n    \"Name\":msg.payload.name,\n    \"Contact number\":msg.payload.contactnumber,\n    \"Password\":msg.payload.password\n}\nreturn msg;","outputs":1,"noerr":0,"x":2230,"y":820,"wires":[["5dd248fe.27d058","76220efd.4361e"]]},{"id":"be378ea3.28a87","type":"function","z":"1a7bc75e.9ee309","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"Dashboard_AddProduct\", \"Dashboard_AddSupplier\", \"Dashboard_AddCustomer\", \"Dashboard_Transaction\", \"Dashboard_AddSalesManager\", \"Dashboard_AddWarehouseManager\",\"Dashboard_AdminLogout\"],\n    show : [\"Dashboard_AdminLogin\",\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":1080,"wires":[["d0945777.af4da8","ffe0eb5b.76b248"]]},{"id":"6689e7a7.eb7bc8","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Login successfull as sales manager\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["5e4ad57e.03a5fc","8f560d3f.8e613"]]},{"id":"cc81ba9.df75b48","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Logged out as sales manager\"\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":20,"wires":[["601446af.fd7aa8","3d1435dd.d02eea"]]},{"id":"d1a11d77.f0079","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Login successfull as warehouse manager\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":500,"wires":[["c5c27e.35d76d8","9c05ee5c.f3193"]]},{"id":"83fa96bd.a40328","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Logged out as warehouse manager\"\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":620,"wires":[["bb32ebb8.0b8b28","1963d371.cb4cdd"]]},{"id":"ffe0eb5b.76b248","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Logged out as admin\"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1000,"wires":[["351d3f1e.9f78c","b858b47a.c53f08"]]},{"id":"dca1ce4.92f443","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Login successfull as admin\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":780,"wires":[["b3a10c7b.699e8","c665dcce.f771"]]},{"id":"e2d57022.1d27a","type":"function","z":"1a7bc75e.9ee309","name":"PreToken","func":"global.set(\"id\",msg.payload.id)\nglobal.set(\"week\",msg.payload.week)\nglobal.set(\"center_id\",msg.payload.center_id)\nglobal.set(\"meal_id\",msg.payload.meal_id)\nglobal.set(\"checkout_price\",msg.payload.checkout_price)\nglobal.set(\"base_price\",msg.payload.base_price)\nglobal.set(\"emailer_for_promotion\",msg.payload.emailer_for_promotion)\nglobal.set(\"homepage_featured\",msg.payload.homepage_featured)\nvar apikey=\"3EeSsy09CD89stzkpigSNoPeITAArgOx3odz4pD72NzE\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":1340,"wires":[["275d8991.5dc836"]]},{"id":"275d8991.5dc836","type":"http request","z":"1a7bc75e.9ee309","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":1340,"wires":[["38ad7ca1.b7c504"]]},{"id":"4b8f191c.c375a8","type":"inject","z":"1a7bc75e.9ee309","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":1300,"wires":[["e2d57022.1d27a"]]},{"id":"235a689f.ee4268","type":"debug","z":"1a7bc75e.9ee309","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":1120,"wires":[]},{"id":"38ad7ca1.b7c504","type":"function","z":"1a7bc75e.9ee309","name":"Pre Prediction","func":"var id = global.get('id')\nvar week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"37ffe341-845e-4fe2-b021-3006b746033b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\":[{\"fields\": [\"id\",\"week\",\"center_id\",\"meal_id\",\"checkout_price\",\"base_price\",\"emailer_for_promotion\",\"homepage_featured\"],\"values\": [[id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg","outputs":1,"noerr":0,"x":640,"y":1340,"wires":[["e8c973e6.940ae"]]},{"id":"e8c973e6.940ae","type":"http request","z":"1a7bc75e.9ee309","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/fdb90a18-6cea-4fa0-bbe8-371c285580ba/predictions","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":1340,"wires":[["2e3e89fd.879ed6","f23b1669.a6e2e8"]]},{"id":"2e3e89fd.879ed6","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]      \nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1160,"wires":[["235a689f.ee4268","f3f7827a.be111"]]},{"id":"f23b1669.a6e2e8","type":"debug","z":"1a7bc75e.9ee309","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":1440,"wires":[]},{"id":"964da355.4bbc2","type":"comment","z":"1a7bc75e.9ee309","name":"Session Management ","info":"","x":1857,"y":132,"wires":[]},{"id":"f77b3759.b2ee28","type":"inject","z":"1a7bc75e.9ee309","name":"Timer","repeat":"2","crontab":"","once":false,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":1835.5000076293945,"y":220.99998474121094,"wires":[["1148d8e1.ebafb7","442d49cf.13d3a8"]]},{"id":"1148d8e1.ebafb7","type":"function","z":"1a7bc75e.9ee309","name":"Detect Session Timer","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar SESSION_TIMEOUT = 60000; //15 secs\n\nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    msg.payload = 2;\n} else {\n    if ( currTime - sessionTimer > SESSION_TIMEOUT ) {\n      msg.payload = 0;  \n    } else {\n      msg.payload = 1;        \n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":2000,"y":180,"wires":[["dd0be676.93e9b8"]]},{"id":"dd0be676.93e9b8","type":"switch","z":"1a7bc75e.9ee309","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":2193.500072479248,"y":185,"wires":[["ab8282cf.d8321"],["47a8c416.c4b9fc"],["a6eea74b.2f67d8"]]},{"id":"ab8282cf.d8321","type":"function","z":"1a7bc75e.9ee309","name":"Time-Out","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nflow.set(\"sessionTimer\", 0);\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = \"Session Expired! Please singin again!\";\nreturn msg;","outputs":1,"noerr":0,"x":2349.499984741211,"y":158.00000381469727,"wires":[["39a1f16a.77e0ce","8839afd.0d06b5"]]},{"id":"8839afd.0d06b5","type":"function","z":"1a7bc75e.9ee309","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide: [\"Dashboard_SalesTransaction\",\"Dashboard_SalesProductStock\",\"Dashboard_SalesLogout\",\"Dashboard_WarehouseTransaction\",\"Dashboard_WarehouseProductStock\",\"Dashboard_ViewSupplier\",\"Dashboard_ViewCustomer\",\"Dashboard_WarehouseLogout\",\"Dashboard_AddProduct\", \"Dashboard_AddSupplier\", \"Dashboard_AddCustomer\", \"Dashboard_Transaction\", \"Dashboard_AddSalesManager\", \"Dashboard_AddWarehouseManager\",\"Dashboard_AdminLogout\"],\n \n    show : [\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\",\"Dashboard_AdminLogin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":2547.5000228881836,"y":161,"wires":[["51de21fa.3ddfc"]]},{"id":"442d49cf.13d3a8","type":"function","z":"1a7bc75e.9ee309","name":"Calculating Remaining Time (Debug)","func":"var sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nvar remainingSecs = Math.floor((60000 - (currTime - sessionTimer))/1000) + 1;\n    \nif ( sessionTimer === 0 /* Inactive, No user signed in */ ) {\n    return null;\n} else {\n    \n    if ( remainingSecs <= 30 ) msg.payload = \"Remaining : \" + remainingSecs + \" secs\";  \n    else return null;\n}\n\nmsg.socketid = flow.get(\"clientid\") || \"B1234\";\nreturn msg;","outputs":1,"noerr":0,"x":2073.500030517578,"y":275.0000123977661,"wires":[["6186b427.16262c"]]},{"id":"47a8c416.c4b9fc","type":"function","z":"1a7bc75e.9ee309","d":true,"name":"Group","func":"var msg = {};\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    show : [\"Dashboard_SalesTransaction\",\"Dashboard_SalesProductStock\",\"Dashboard_SalesLogout\"],\n    hide : [\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\",\"Dashboard_WarehouseTransaction\",\"Dashboard_WarehouseProductStock\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":2341.000030517578,"y":198.99999618530273,"wires":[["890a1210.f73e4"]]},{"id":"a6eea74b.2f67d8","type":"function","z":"1a7bc75e.9ee309","d":true,"name":"Signin Group","func":"var msg = {};\nmsg.payload = { group: {\n   \n    show : [\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\",\"Dashboard_AdminLogin\"]\n}\n};\nreturn msg;","outputs":1,"noerr":0,"x":2362.0000915527344,"y":240.0000343322754,"wires":[["69f04f62.de313"]]},{"id":"a21ea887.0f57f8","type":"function","z":"1a7bc75e.9ee309","name":"Input Parsing","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":3250,"y":500,"wires":[["d69b2fa4.ffa94"]]},{"id":"d69b2fa4.ffa94","type":"watson-conversation-v1","z":"1a7bc75e.9ee309","name":"Warehouse Bot","workspaceid":"1566d4b1-9208-41fd-932c-34f8a3a3ff83","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/aa41f071-8832-44f5-b598-30eaea04f094","timeout":"","optout-learning":false,"x":3560,"y":500,"wires":[["33d9948f.847a1c","600a910b.30a68"]]},{"id":"33d9948f.847a1c","type":"debug","z":"1a7bc75e.9ee309","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3810,"y":540,"wires":[]},{"id":"600a910b.30a68","type":"function","z":"1a7bc75e.9ee309","name":"Output Parsing","func":"msg.payload = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":3760,"y":380,"wires":[["b97acd13.01f2a","654e126d.d52e1c","851f4bbf.fbccf8"]]},{"id":"654e126d.d52e1c","type":"template","z":"1a7bc75e.9ee309","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":4080,"y":320,"wires":[[]]},{"id":"100a122b.8d1dce","type":"ui_button","z":"1a7bc75e.9ee309","name":"Logout","group":"cf18096e.7d6718","order":3,"width":"0","height":"0","passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"logout","payload":"","payloadType":"str","topic":"","x":1130,"y":60,"wires":[["be786dc7.5b8ca"]]},{"id":"e7752d24.7aba5","type":"ui_button","z":"1a7bc75e.9ee309","name":"Logout","group":"5a78991e.dc02b8","order":3,"width":"0","height":"0","passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"logout","payload":"","payloadType":"str","topic":"","x":1190,"y":660,"wires":[["fe1d6f03.de30e"]]},{"id":"68868740.8b00d8","type":"ui_button","z":"1a7bc75e.9ee309","name":"Logout","group":"a1bb3e6a.160e3","order":3,"width":"0","height":"0","passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"logout","payload":"","payloadType":"str","topic":"","x":1030,"y":1020,"wires":[["be378ea3.28a87"]]},{"id":"f3f7827a.be111","type":"ui_text","z":"1a7bc75e.9ee309","group":"fd74acad.5024e","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":1200,"wires":[]},{"id":"b97acd13.01f2a","type":"ui_text","z":"1a7bc75e.9ee309","group":"7fd86b12.0b9764","order":1,"width":5,"height":6,"name":"","label":"Bot ","format":"{{msg.payload}}","layout":"row-spread","x":3770,"y":480,"wires":[]},{"id":"fef64168.f7609","type":"ui_form","z":"1a7bc75e.9ee309","name":"Dashboard Sign-In","label":"","group":"766dcdea.0c2864","order":0,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"Login","cancel":"Reset","topic":"","x":90,"y":180,"wires":[["776322ba.98192c","f503af6a.fe507","b6b17b7b.1ef1d8"]]},{"id":"c989a97.1bd1858","type":"ui_form","z":"1a7bc75e.9ee309","name":"sales_add_transaction","label":"","group":"599668a0.edfec8","order":0,"width":"0","height":"0","options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Product name","value":"product name","type":"text","required":true,"rows":null},{"label":"Unit","value":"unit","type":"text","required":true,"rows":null},{"label":"Amount","value":"amount","type":"number","required":true,"rows":null},{"label":"Paid","value":"paid","type":"switch","required":true,"rows":null},{"label":"Balance","value":"balance","type":"number","required":true,"rows":null}],"formValue":{"name":"","product name":"","unit":"","amount":"","paid":false,"balance":""},"payload":"","submit":"Add ","cancel":"","topic":"","x":1260,"y":100,"wires":[["b2e0d5d0.066fb8"]]},{"id":"55ba9d50.52c464","type":"ui_form","z":"1a7bc75e.9ee309","name":"sales_product_stock","label":"","group":"7a0096ac.7c4778","order":2,"width":"0","height":"0","options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Product name","value":"productname","type":"text","required":true,"rows":null},{"label":"Unit","value":"unit","type":"text","required":true,"rows":null},{"label":"Cost","value":"cost","type":"number","required":true,"rows":null},{"label":"Quantity","value":"quantity","type":"number","required":true,"rows":null}],"formValue":{"date":"","productname":"","unit":"","cost":"","quantity":""},"payload":"","submit":"Edit","cancel":"","topic":"","x":1580,"y":100,"wires":[["9cdc461e.78d448"]]},{"id":"d401a51a.731ad8","type":"ui_form","z":"1a7bc75e.9ee309","name":"Dashboard Sign-In","label":"","group":"258da40d.1109fc","order":0,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"Login","cancel":"Reset","topic":"","x":130,"y":500,"wires":[["cc1a0251.90d4a","eef9d22d.ab5ab","2c2a6879.721d28"]]},{"id":"c5829288.ae51d","type":"ui_form","z":"1a7bc75e.9ee309","name":"warehouse_add_transaction","label":"","group":"43071c39.d0fb84","order":2,"width":"0","height":"0","options":[{"label":"Transaction Type(IN/OUT)","value":"type","type":"text","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Product name","value":"product name","type":"text","required":true,"rows":null},{"label":"Unit","value":"unit","type":"text","required":true,"rows":null},{"label":"Amount","value":"amount","type":"number","required":true,"rows":null},{"label":"Paid","value":"paid","type":"switch","required":true,"rows":null},{"label":"Balance","value":"balance","type":"number","required":true,"rows":null}],"formValue":{"type":"","name":"","product name":"","unit":"","amount":"","paid":false,"balance":""},"payload":"","submit":"Add ","cancel":"","topic":"","x":1800,"y":450,"wires":[["b94dfc7f.5d75b"]]},{"id":"e85411f3.c6091","type":"ui_form","z":"1a7bc75e.9ee309","name":"warehouse_product_stock","label":"","group":"40303a4e.353214","order":2,"width":"0","height":"0","options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Product name","value":"productname","type":"text","required":true,"rows":null},{"label":"Unit","value":"unit","type":"text","required":true,"rows":null},{"label":"Cost","value":"cost","type":"number","required":true,"rows":null},{"label":"Quantity","value":"quantity","type":"number","required":true,"rows":null}],"formValue":{"date":"","productname":"","unit":"","cost":"","quantity":""},"payload":"","submit":"Edit","cancel":"","topic":"","x":2270,"y":430,"wires":[["bb25e074.5cdc7"]]},{"id":"e5c4f990.3f1378","type":"ui_form","z":"1a7bc75e.9ee309","name":"Admin_Login","label":"","group":"99b86f35.84d92","order":2,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"Login","cancel":"Reset","topic":"","x":110,"y":800,"wires":[["1b5e43e.2803abc","93779fd3.e42ef","a0045e1f.8005a"]]},{"id":"d9ab17a8.9e4758","type":"ui_form","z":"1a7bc75e.9ee309","name":"admin_add_transaction","label":"","group":"57682b1e.68bcd4","order":5,"width":"0","height":"0","options":[{"label":"Transaction Type(IN/OUT)","value":"type","type":"text","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Product name","value":"productname","type":"text","required":true,"rows":null},{"label":"Unit","value":"unit","type":"number","required":true,"rows":null},{"label":"Amount","value":"amount","type":"number","required":true,"rows":null},{"label":"Paid","value":"paid","type":"switch","required":true,"rows":null},{"label":"Balance","value":"balance","type":"number","required":true,"rows":null}],"formValue":{"type":"","name":"","productname":"","unit":"","amount":"","paid":false,"balance":""},"payload":"","submit":"Add ","cancel":"Reset","topic":"","x":2010,"y":780,"wires":[["2c94fc9.845e804"]]},{"id":"e218c9bd.0c5a38","type":"ui_form","z":"1a7bc75e.9ee309","d":true,"name":"admin_add_product","label":"","group":"51b8a93f.7f5c28","order":2,"width":0,"height":0,"options":[{"label":"Product ID","value":"productid","type":"number","required":true,"rows":null},{"label":"Product name","value":"productname","type":"text","required":true,"rows":null},{"label":"Unit","value":"unit","type":"text","required":true,"rows":null},{"label":"Cost per unit","value":"costperunit","type":"number","required":true,"rows":null},{"label":"Description","value":"description","type":"multiline","required":false,"rows":2},{"label":"Stock","value":"stock","type":"number","required":true,"rows":null}],"formValue":{"productid":"","productname":"","unit":"","costperunit":"","description":"","stock":""},"payload":"","submit":"Add Product","cancel":"Reset","topic":"","x":1300,"y":760,"wires":[["a93f8a03.681758"]]},{"id":"baa16702.6aa878","type":"ui_form","z":"1a7bc75e.9ee309","name":"admin_add_supplier","label":"","group":"ab5a5b5b.6a59a8","order":0,"width":0,"height":0,"options":[{"label":"Supplier ID","value":"supplierid","type":"number","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Emai id","value":"email","type":"email","required":true,"rows":null},{"label":"Contact number","value":"contactnumber","type":"number","required":true,"rows":null},{"label":"Address","value":"address","type":"text","required":true,"rows":null},{"label":"Details","value":"details","type":"text","required":true,"rows":null},{"label":"Remark","value":"remark","type":"text","required":false,"rows":null}],"formValue":{"supplierid":"","name":"","email":"","contactnumber":"","address":"","details":"","remark":""},"payload":"","submit":"Add Supplier","cancel":"Reset","topic":"","x":1564,"y":768,"wires":[["e17e1cd.12e2ce"]]},{"id":"63f00077.2f157","type":"ui_form","z":"1a7bc75e.9ee309","name":"admin_add_customer","label":"","group":"2d3b1bb0.85ee04","order":0,"width":0,"height":0,"options":[{"label":"Customer ID","value":"customerid","type":"number","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Emai id","value":"email","type":"email","required":true,"rows":null},{"label":"Contact number","value":"contactnumber","type":"number","required":true,"rows":null},{"label":"Address","value":"address","type":"text","required":true,"rows":null},{"label":"Details","value":"details","type":"text","required":true,"rows":null},{"label":"Remark","value":"remark","type":"text","required":false,"rows":null}],"formValue":{"customerid":"","name":"","email":"","contactnumber":"","address":"","details":"","remark":""},"payload":"","submit":"Add Customer","cancel":"Reset","topic":"","x":1780,"y":780,"wires":[["96030462.c07568"]]},{"id":"62c8c464.5aa55c","type":"ui_form","z":"1a7bc75e.9ee309","name":"admin_add_warehouse_manager","label":"","group":"7cff1df5.bf3d54","order":0,"width":"0","height":"0","options":[{"label":"ID","value":"id","type":"number","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Contact number","value":"contactnumber","type":"number","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"id":"","name":"","contactnumber":"","password":""},"payload":"","submit":"Add","cancel":"Reset","topic":"","x":2380,"y":920,"wires":[["ab9470e8.8654"]]},{"id":"4c3520fc.f1fac","type":"ui_form","z":"1a7bc75e.9ee309","name":"admin_add_sales_manager","label":"","group":"7c6dae5b.d6944","order":0,"width":"0","height":"0","options":[{"label":"ID","value":"id","type":"number","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Contact number","value":"contactnumber","type":"number","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"id":"","name":"","contactnumber":"","password":""},"payload":"","submit":"Add","cancel":"Reset","topic":"","x":2280,"y":780,"wires":[["e453b862.2671d8"]]},{"id":"e5a28b96.d94e38","type":"ui_form","z":"1a7bc75e.9ee309","name":"","label":"","group":"fd74acad.5024e","order":2,"width":0,"height":0,"options":[{"label":"Enter id","value":"id","type":"number","required":true,"rows":null},{"label":"Enter week","value":"week","type":"number","required":true,"rows":null},{"label":"Enter center_id","value":"center_id","type":"number","required":true,"rows":null},{"label":"Enter meal_id","value":"meal_id","type":"number","required":true,"rows":null},{"label":"Enter checkout_price","value":"checkout_price","type":"number","required":true,"rows":null},{"label":"Enter base_price","value":"base_price","type":"number","required":true,"rows":null},{"label":"Enter emailer_for_promotion","value":"emailer_for_promotion","type":"number","required":true,"rows":null},{"label":"Enter homepage_featured","value":"homepage_featured","type":"number","required":true,"rows":null}],"formValue":{"id":"","week":"","center_id":"","meal_id":"","checkout_price":"","base_price":"","emailer_for_promotion":"","homepage_featured":""},"payload":"","submit":"Predict","cancel":"Reset","topic":"","x":90,"y":1380,"wires":[["e2d57022.1d27a"]]},{"id":"175da77e.7d5419","type":"ui_form","z":"1a7bc75e.9ee309","name":"","label":"","group":"7fd86b12.0b9764","order":3,"width":5,"height":2,"options":[{"label":"You","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"send","cancel":"reset","topic":"","x":3080,"y":480,"wires":[["a21ea887.0f57f8"]]},{"id":"6f093216.f3c44c","type":"ui_ui_control","z":"1a7bc75e.9ee309","name":"Go to Sensor/History Group","events":"connect","x":620,"y":180,"wires":[[]]},{"id":"83a2e728.0ac448","type":"ui_ui_control","z":"1a7bc75e.9ee309","name":"Go to Signin Group","x":1510,"y":60,"wires":[[]]},{"id":"b79fbd0.993714","type":"ui_ui_control","z":"1a7bc75e.9ee309","name":"Go to Sensor/History Group","events":"connect","x":780,"y":540,"wires":[[]]},{"id":"16a66d3d.e3c503","type":"ui_ui_control","z":"1a7bc75e.9ee309","name":"Go to Signin Group","x":1650,"y":660,"wires":[[]]},{"id":"7d8dfec1.273fb","type":"ui_ui_control","z":"1a7bc75e.9ee309","name":"Go to Admin Groups","x":760,"y":820,"wires":[[]]},{"id":"d0945777.af4da8","type":"ui_ui_control","z":"1a7bc75e.9ee309","name":"Go to Signin Group","x":1190,"y":1060,"wires":[[]]},{"id":"51de21fa.3ddfc","type":"ui_ui_control","z":"1a7bc75e.9ee309","name":"Go to Signin Group","events":"connect","x":2744.0000324249268,"y":159.9999885559082,"wires":[[]]},{"id":"890a1210.f73e4","type":"ui_ui_control","z":"1a7bc75e.9ee309","name":"Stay in Group","events":"connect","x":2674.000099182129,"y":198.99999809265137,"wires":[[]]},{"id":"69f04f62.de313","type":"ui_ui_control","z":"1a7bc75e.9ee309","name":"Go to Signin Group","events":"connect","x":2682.0002479553223,"y":237.0000343322754,"wires":[[]]},{"id":"5e4ad57e.03a5fc","type":"ui_audio","z":"1a7bc75e.9ee309","name":"","group":"599668a0.edfec8","voice":"en-US","always":"","x":480,"y":80,"wires":[]},{"id":"601446af.fd7aa8","type":"ui_audio","z":"1a7bc75e.9ee309","name":"","group":"766dcdea.0c2864","voice":"en-US","always":"","x":1060,"y":20,"wires":[]},{"id":"c5c27e.35d76d8","type":"ui_audio","z":"1a7bc75e.9ee309","name":"","group":"43071c39.d0fb84","voice":"en-US","always":"","x":840,"y":500,"wires":[]},{"id":"bb32ebb8.0b8b28","type":"ui_audio","z":"1a7bc75e.9ee309","name":"","group":"258da40d.1109fc","voice":"en-US","always":"","x":1120,"y":620,"wires":[]},{"id":"351d3f1e.9f78c","type":"ui_audio","z":"1a7bc75e.9ee309","name":"","group":"99b86f35.84d92","voice":"en-US","always":"","x":900,"y":1000,"wires":[]},{"id":"b3a10c7b.699e8","type":"ui_audio","z":"1a7bc75e.9ee309","name":"","group":"51b8a93f.7f5c28","voice":"en-US","always":"","x":800,"y":780,"wires":[]},{"id":"acd48055.250c","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":680,"y":220,"wires":[[]]},{"id":"c78453b2.1c1bc","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"System In Use.","name":"System In-Use Dialog","x":620,"y":280,"wires":[[]]},{"id":"dd9a536d.b7cfd","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1250,"y":340,"wires":[[]]},{"id":"d36edb93.0e3e08","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1570,"y":340,"wires":[[]]},{"id":"e1dadbde.7acdf8","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Authentication Failed","name":"Authentication Failure Dialog","x":800,"y":580,"wires":[[]]},{"id":"cc774bfd.ba2e58","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"System In Use.","name":"System In-Use Dialog","x":760,"y":660,"wires":[[]]},{"id":"6f9ad884.ff21a8","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1870,"y":650,"wires":[[]]},{"id":"b4b5b02e.fc2fc","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2230,"y":630,"wires":[[]]},{"id":"23d1dbf2.d9ebe4","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Authentication Failed","name":"Authentication Failure Dialog","x":740,"y":860,"wires":[[]]},{"id":"82656e2a.80372","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"System In Use.","name":"System In-Use Dialog","x":700,"y":920,"wires":[[]]},{"id":"a610100f.a3da4","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1950,"y":940,"wires":[[]]},{"id":"406b18c8.fc7ed8","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1490,"y":940,"wires":[[]]},{"id":"2ddbe398.13550c","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1730,"y":940,"wires":[[]]},{"id":"5ea5be66.cc421","type":"ui_toast","z":"1a7bc75e.9ee309","d":true,"position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1300,"y":970,"wires":[[]]},{"id":"4c1c2e7f.78781","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2250,"y":1020,"wires":[[]]},{"id":"5cc4f09d.9e0ea","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2150,"y":940,"wires":[[]]},{"id":"8f560d3f.8e613","type":"ui_toast","z":"1a7bc75e.9ee309","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":290,"y":40,"wires":[]},{"id":"3d1435dd.d02eea","type":"ui_toast","z":"1a7bc75e.9ee309","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1330,"y":20,"wires":[]},{"id":"9c05ee5c.f3193","type":"ui_toast","z":"1a7bc75e.9ee309","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":730,"y":440,"wires":[]},{"id":"1963d371.cb4cdd","type":"ui_toast","z":"1a7bc75e.9ee309","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1030,"y":660,"wires":[]},{"id":"b858b47a.c53f08","type":"ui_toast","z":"1a7bc75e.9ee309","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":830,"y":960,"wires":[]},{"id":"c665dcce.f771","type":"ui_toast","z":"1a7bc75e.9ee309","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":890,"y":740,"wires":[]},{"id":"4b1caa6a.f8df34","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":375,"y":1258,"wires":[[]]},{"id":"39a1f16a.77e0ce","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":true,"topic":"Session Timeout","name":"Time-Out Dialog","x":2538.000114440918,"y":124.00000381469727,"wires":[[]]},{"id":"6186b427.16262c","type":"ui_toast","z":"1a7bc75e.9ee309","position":"bottom right","displayTime":"1","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"Timer","name":"Display Remaining Time","x":2357.2222023010254,"y":274.99998474121094,"wires":[]},{"id":"b10bb9d2.a89568","type":"ui_template","z":"1a7bc75e.9ee309","group":"7fd4a6ff.0c5558","name":"","order":1,"width":8,"height":7,"format":"\n<!DOCTYPE html>\n<html>\n<title>W3.CSS Template</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Inconsolata\">\n<style>\nbody, html {\n  height: 10%;\n  font-family: \"Inconsolata\", sans-serif;\n}\n\n.bgimg {\n  background-position: center;\n  background-size: cover;\n  background-image: url(\"https://image.shutterstock.com/z/stock-vector-set-of-laying-light-bulbs-with-one-hanging-and-glowing-trendy-flat-vector-light-bulb-icons-with-1018500754.jpg\");\n  min-height: 100%;\n}\n\n.menu {\n  display: none;\n}\n</style>\n<body>\n\n<!-- Header with image -->\n<header class=\"bgimg w3-display-container w3-grayscale-min\" id=\"home\">\n  <div class=\"w3-display-bottomleft w3-center w3-padding-large w3-hide-small\">\n    <span class=\"w3-tag\">         Explore your data!!!          </span>\n  </div>\n  <div class=\"w3-display-left w3-center\">\n    <span class=\"w3-text-white\" style=\"font-size:40px\"><a href=\"https://eu-gb.dataplatform.cloud.ibm.com/dashboards/ccf2915c-fe61-45d3-ba70-15c97df889be/view/4f36dd0c06f11eec67cbf2e407992c017e3f7058e7bb810589d77b495a657797f0684695c8794e09dd160364a1b9135e9f\" style=\"color:black\">INSIGHTS</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;\n<a href=\"https://eu-gb.dataplatform.cloud.ibm.com/dashboards/a16c613b-4580-446d-b873-1dd4c95d724d/view/603ed57b1bb314c041ccb5e407982e572e322008e1bb8a0689d77b495a607397f33f4295c8264a52d840056aa6bf1b5f9b\" style=\"color:black\">DEMAND</a>\n</span>\n  </div>\n  <div class=\"w3-display-bottomright w3-center w3-padding-large\">\n    <span class=\"w3-text-white\"></span>\n  </div>\n</header>\n\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":371,"y":1996,"wires":[[]]},{"id":"288973f0.dfa35c","type":"ui_template","z":"1a7bc75e.9ee309","group":"f7fa11e8.8e37","name":"","order":1,"width":4,"height":4,"format":"\n<!DOCTYPE html>\n<html>\n<title>W3.CSS Template</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Inconsolata\">\n<style>\nbody, html {\n  height: 10%;\n  font-family: \"Inconsolata\", sans-serif;\n}\n\n.bagimg {\n  background-position: center;\n  background-size: cover;\n  background-image: url(\"https://www.eytandavidovits.com/wp-content/uploads/2016/09/1.png\");\n  min-height: 100%;\n}\n\n.disp {\n  display: none;\n}\n</style>\n<body>\n\n<!-- Header with image -->\n<header class=\"bagimg w3-display-container w3-grayscale-min\" id=\"home\">\n  <div class=\"w3-display-bottomleft w3-center w3-padding-large w3-hide-small\">\n    <span class=\"w3-tag\"></span>\n  </div>\n  <div class=\"w3-display-top w3-center\">\n    <span class=\"w3-text-white\" style=\"font-size:30px\"><a href=\"https://cde8885b-2765-40c4-966b-0e4ef734a6e8-bluemix.cloudant.com/dashboard.html#/database/crimes/_design/geodd/_geoindex/geoidx\" style=\"color:white\">GEOSPATIAL</a>\n\n   </span>\n  </div>\n  <div class=\"w3-display-bottomright w3-center w3-padding-large\">\n    <span class=\"w3-text-white\"></span>\n  </div>\n</header>\n\n\n\n</body>\n</html>\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":451,"y":2096,"wires":[[]]},{"id":"88409423.fbe4f8","type":"ui_template","z":"1a7bc75e.9ee309","group":"5d04b3aa.f77c6c","name":"","order":2,"width":21,"height":8,"format":"<!DOCTYPE html>\n<html>\n<title>W3.CSS Template</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Inconsolata\">\n<style>\nbody, html {\n  height: 100%;\n  font-family: \"Inconsolata\", sans-serif;\n}\n\n.bgimg {\n  background-position: center;\n  background-size: cover;\n  background-image: url(\"https://ak3.picdn.net/shutterstock/videos/1805093/thumb/1.jpg\");\n  min-height: 100%;\n}\n\n.feature {\n  display: none;\n}\n</style>\n<body>\n\n<!-- Links (sit on top) -->\n\n<div class=\"w3-top\"><br><br><br>\n  <div class=\"w3-row w3-padding w3-black\">\n  \n    <div class=\"w3-col s3\">\n        \n      <a href=\"#home\" class=\"w3-button w3-block w3-black\">HOME</a>\n    </div>\n    <div class=\"w3-col s3\">\n      <a href=\"#about\" class=\"w3-button w3-block w3-black\">ABOUT</a>\n    </div>\n    <div class=\"w3-col s3\">\n      <a href=\"#feature\" class=\"w3-button w3-block w3-black\">FEATURES</a>\n    </div>\n    <div class=\"w3-col s3\">\n      <a href=\"#where\" class=\"w3-button w3-block w3-black\">LOCATION</a>\n    </div>\n  </div>\n</div>\n<!--</div>-->\n\n<!-- Header with image -->\n<header class=\"bgimg w3-display-container w3-grayscale-min\" id=\"home\">\n  <div class=\"w3-display-bottomleft w3-center w3-padding-large w3-hide-small\">\n    <span class=\"w3-tag\">Timing 6am to 8pm</span>\n  </div>\n  <div class=\"w3-display-middle w3-center\">\n    <span class=\"w3-text-white\" style=\"font-size:80px\">Food<br>Optimisation</span>\n  </div>\n  <div class=\"w3-display-bottomright w3-center w3-padding-large\">\n    <span class=\"w3-text-white\">Pune, Maharashtra</span>\n  </div>\n</header>\n\n<!-- Add a background color and large text to the whole page -->\n<div class=\"w3-sand w3-grayscale w3-large\">\n\n<!-- About Container -->\n<div class=\"w3-container\" id=\"about\">\n  <div class=\"w3-content\" style=\"max-width:700px\">\n    <h5 class=\"w3-center w3-padding-64\"><span class=\"w3-tag w3-wide\">ABOUT US</span></h5>\n    <p>The main branch is located in Pune city.</p>\n    <p>We provide warehousing and distribution services in a completely new way. Our services combine storage asset management with ground-breaking inventory tracking technology to install affordable mini-distribution centers in any city you need.</p>\n    <div class=\"w3-panel w3-leftbar w3-light-grey\">\n      <p><i>Get to know the stock needed on the prior basis!</i></p>\n      <p>Manager : ABC</p>\n    </div>\n    <img src=\"https://s3.amazonaws.com/btoimage/prism-thumbnails/articles/20171030-2048-SeafoodCity6.jpg-resize_then_crop-_frame_bg_color_FFF-h_1365-gravity_center-q_70-preserve_ratio_true-w_2048_.webp\" style=\"width:100%;max-width:1000px\" class=\"w3-margin-top\">\n    <p><strong>Opening hours:</strong> everyday from 6am to 8pm.</p>\n    <p><strong>Address:</strong> Pune,Maharashtra</p>\n  </div>\n</div>\n\n<!-- Service Container -->\n<div class=\"w3-container\" id=\"feature\">\n  <div class=\"w3-content\" style=\"max-width:700px\">\n \n    <h5 class=\"w3-center w3-padding-48\"><span class=\"w3-tag w3-wide\">OPTIMISATION TECHNIQUES</span></h5>\n  \n    <div class=\"w3-row w3-center w3-card w3-padding\">\n      <a href=\"javascript:void(0)\" onclick=\"openMenu(event, 'Eat');\" id=\"myLink\">\n        <div class=\"w3-col s6 tablink\">Analysis</div>\n      </a>\n      <a href=\"javascript:void(0)\" onclick=\"openMenu(event, 'Support');\">\n        <div class=\"w3-col s6 tablink\">Support</div>\n      </a>\n    </div>\n\n    <div id=\"Eat\" class=\"w3-container feature w3-padding-48 w3-card\">\n      <h5>Predictive Analysis</h5>\n      <p class=\"w3-text-grey\">Now Forget About Over and Under Stock!!</p><br>\n    \n      <h5>Temperature monitoring</h5>\n      <p class=\"w3-text-grey\">Get to now the temperature of warehouse anytime,anywhere</p><br>\n    \n      <h5>Insights</h5>\n      <p class=\"w3-text-grey\">Analyze and conclude results from various insights!</p><br>\n    \n      <h5>Location Tracking</h5>\n      <p class=\"w3-text-grey\">Get to meet manufacturers,suppliers,customers around you!</p><br>\n     </div>\n    \n     \n\n    <div id=\"Support\" class=\"w3-container feature w3-padding-48 w3-card\">\n      <h5>Chatbot</h5>\n      <p class=\"w3-text-grey\"></p>Our spoonacular will answer all your questions!<br>\n      \n      <h5>Product Details</h5>\n      <p class=\"w3-text-grey\">Get to know the price of the product from insights</p><br>\n    \n      <h5>Transaction</h5>\n      <p class=\"w3-text-grey\">We allow all methods of transaction.Get your bill asap.</p><br>\n    \n    \n      <h5>Stock</h5>\n      <p class=\"w3-text-grey\">Get to know the product stock and demand</p><br>\n      </div>  \n   \n    <img src=\"https://dearsystems.com/inventory-software/wp-content/uploads/2017/10/receiving-inventory.jpg\" style=\"width:100%;max-width:1000px;margin-top:32px;\">\n  </div>\n</div>\n\n<!-- Contact/Area Container -->\n<div class=\"w3-container\" id=\"where\" style=\"padding-bottom:32px;\">\n  <div class=\"w3-content\" style=\"max-width:700px\">\n    <h5 class=\"w3-center w3-padding-48\"><span class=\"w3-tag w3-wide\">WHERE TO FIND US</span></h5>\n    <p>Pune,Maharashtra.</p>\n    <img src=\"https://i.stack.imgur.com/AF16r.png\" class=\"w3-image\" style=\"width:100%\">\n    <p>We provide warehousing and distribution services in a completely new way. Our services combine storage asset management with ground-breaking inventory tracking technology to install affordable mini-distribution centers in any city you need. We understand your needs and we will help you optimise the process.</p>\n    <p><strong>Interested?</strong><br>Register Now!</p>\n  </div>\n</div>\n\n\n\n<!-- End page content -->\n</div>\n\n\n<!-- Footer -->\n<footer class=\"w3-center w3-light-grey w3-padding-48 w3-large\">\n  <p>Thank you!</p>\n</footer>\n\n<script>\n// Tabbed Menu\nfunction openMenu(evt, featureName) {\n  var i, x, tablinks;\n  x = document.getElementsByClassName(\"feature\");\n  for (i = 0; i < x.length; i++) {\n    x[i].style.display = \"none\";\n  }\n  tablinks = document.getElementsByClassName(\"tablink\");\n  for (i = 0; i < x.length; i++) {\n    tablinks[i].className = tablinks[i].className.replace(\" w3-dark-grey\", \"\");\n  }\n  document.getElementById(featureName).style.display = \"block\";\n  evt.currentTarget.firstElementChild.className += \" w3-dark-grey\";\n}\ndocument.getElementById(\"myLink\").click();\n</script>\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":3240,"y":380,"wires":[[]]},{"id":"d29f84e4.d9c758","type":"ui_template","z":"1a7bc75e.9ee309","group":"7fd86b12.0b9764","name":"","order":2,"width":16,"height":8,"format":"<!DOCTYPE html>\n<html>\n<title>W3.CSS Template</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Inconsolata\">\n<style>\nbody, html {\n  height: 100%;\n  font-family: \"Inconsolata\", sans-serif;\n}\n\n.bgimg {\n  background-position: center;\n  background-size: cover;\n  background-image: url(\"https://images.indianexpress.com/2016/05/pune-759_google-maps.jpg\");\n  min-height: 100%;\n}\n\n\n</style>\n<body>\n\n<!-- Header with image -->\n<header class=\"bgimg w3-display-container w3-grayscale-min\" id=\"home\">\n  <div class=\"w3-display-bottomleft w3-center w3-padding-large w3-hide-small\">\n    <span class=\"w3-tag\">583/B,Viman Nagar,Regional Office,Maharashtra State Warehousing Corporation,Pune-411037</span>\n  </div>\n  <div class=\"w3-display-middle w3-center\">\n    <span class=\"w3-text-black\" style=\"font-size:70px\">LOCATION</a></span>\n  </div>\n  <div class=\"w3-display-bottomright w3-center w3-padding-large\">\n    <span class=\"w3-tag\">Contact number:9876543210</span>\n  </div>\n</header>\n\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":3440,"y":360,"wires":[[]]},{"id":"851f4bbf.fbccf8","type":"ui_audio","z":"1a7bc75e.9ee309","name":"","group":"7fd86b12.0b9764","voice":"en-US","always":"","x":4020,"y":420,"wires":[]},{"id":"5b69e61a.769b58","type":"ui_template","z":"1a7bc75e.9ee309","group":"835f1cb4.98cfc","name":"","order":1,"width":17,"height":9,"format":"<!DOCTYPE html>\n<html>\n<title>W3.CSS Template</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Inconsolata\">\n<style>\nbody, html {\n  height: 100%;\n  font-family: \"Inconsolata\", sans-serif;\n}\n\n.bgimg {\n  background-position: center;\n  background-size: cover;\n  background-image: url(\"https://dearsystems.com/inventory-software/wp-content/uploads/2017/10/receiving-inventory.jpg\");\n  min-height: 100%;\n}\n\n.menu {\n  display: none;\n}\n</style>\n<body>\n\n<!-- Header with image -->\n<header class=\"bgimg w3-display-container w3-grayscale-min\" id=\"home\">\n  <div class=\"w3-display-bottomleft w3-center w3-padding-large w3-hide-small\">\n    <span class=\"w3-tag\">Forget over and under stock!!!</span>\n  </div>\n  <div class=\"w3-display-middle w3-center\">\n    <span class=\"w3-text-white\" style=\"font-size:80px\"><a href=\"http://ibmchallenge.herokuapp.com/\" style:color=\"white\">STOCK MANAGEMENT</a></span>\n  </div>\n  <div class=\"w3-display-bottomright w3-center w3-padding-large\">\n    <span class=\"w3-text-white\"></span>\n  </div>\n</header>\n\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":580,"y":2040,"wires":[[]]},{"id":"4e883fa6.8476d","type":"ui_form","z":"1a7bc75e.9ee309","name":"","label":"","group":"5d04b3aa.f77c6c","order":3,"width":0,"height":0,"options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Email id","value":"email","type":"email","required":true,"rows":null},{"label":"Customer/Supplier","value":"type","type":"text","required":true,"rows":null},{"label":"Location","value":"location","type":"text","required":true,"rows":null}],"formValue":{"name":"","email":"","type":"","location":""},"payload":"","submit":"Register","cancel":"Reset","topic":"","x":2990,"y":100,"wires":[["f20784dd.b94398"]]},{"id":"d25a50b7.e32d9","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = \"Thanks for Registering!You'll receive your credentials through mail soon.\"\nreturn msg;","outputs":1,"noerr":0,"x":2990,"y":240,"wires":[["80fbfc39.74784","d654d574.fe21f8"]]},{"id":"f20784dd.b94398","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = {\n    \"Name\":msg.payload.name,\n    \"Email ID\":msg.payload.email,\n    \"Customer/Supplier\":msg.payload.type,\n    \"Location\":msg.payload.location\n}\nreturn msg;","outputs":1,"noerr":0,"x":2990,"y":140,"wires":[["d25a50b7.e32d9","473b43af.8a28fc"]]},{"id":"80fbfc39.74784","type":"ui_toast","z":"1a7bc75e.9ee309","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":3010,"y":290,"wires":[[]]},{"id":"ecc52405.838248","type":"e-mail","z":"1a7bc75e.9ee309","server":"smtp.gmail.com","port":"465","secure":true,"tls":true,"name":"darekarankita0@gmail.com","dname":"","x":3330,"y":160,"wires":[]},{"id":"c7c697e1.873768","type":"cloudant out","z":"1a7bc75e.9ee309","name":"","cloudant":"6f3c5357.4e0cec","database":"sales_add_transaction","service":"node-red-dkbjm-cloudant-1595361783735-90297","payonly":false,"operation":"insert","x":1300,"y":220,"wires":[]},{"id":"4ec28c57.441694","type":"cloudant out","z":"1a7bc75e.9ee309","name":"","cloudant":"6f3c5357.4e0cec","database":"warehouse_add_transaction","service":"node-red-dkbjm-cloudant-1595361783735-90297","payonly":false,"operation":"insert","x":1900,"y":540,"wires":[]},{"id":"f272ccc3.d6344","type":"cloudant out","z":"1a7bc75e.9ee309","name":"","cloudant":"6f3c5357.4e0cec","database":"warehouse_product_stock","service":"node-red-dkbjm-cloudant-1595361783735-90297","payonly":false,"operation":"insert","x":2270,"y":540,"wires":[]},{"id":"76220efd.4361e","type":"cloudant out","z":"1a7bc75e.9ee309","name":"","cloudant":"6f3c5357.4e0cec","database":"admin_add_sales_manager","service":"node-red-dkbjm-cloudant-1595361783735-90297","payonly":false,"operation":"insert","x":2490,"y":860,"wires":[]},{"id":"d319861e.5b3178","type":"cloudant out","z":"1a7bc75e.9ee309","name":"","cloudant":"6f3c5357.4e0cec","database":"admin_add_warehouse_manager","service":"node-red-dkbjm-cloudant-1595361783735-90297","payonly":false,"operation":"insert","x":2490,"y":980,"wires":[]},{"id":"c0e02d1.c0476d","type":"cloudant out","z":"1a7bc75e.9ee309","name":"","cloudant":"6f3c5357.4e0cec","database":"admin_add_transaction","service":"node-red-dkbjm-cloudant-1595361783735-90297","payonly":false,"operation":"insert","x":2060,"y":860,"wires":[]},{"id":"59516d2b.49bce4","type":"cloudant out","z":"1a7bc75e.9ee309","name":"","cloudant":"6f3c5357.4e0cec","database":"admin_add_customer","service":"node-red-dkbjm-cloudant-1595361783735-90297","payonly":false,"operation":"insert","x":1810,"y":860,"wires":[]},{"id":"4e78100c.dcfbf","type":"cloudant out","z":"1a7bc75e.9ee309","name":"","cloudant":"6f3c5357.4e0cec","database":"admin_add_supplier","service":"node-red-dkbjm-cloudant-1595361783735-90297","payonly":false,"operation":"insert","x":1520,"y":860,"wires":[]},{"id":"aff175ab.48ff58","type":"cloudant out","z":"1a7bc75e.9ee309","d":true,"name":"","cloudant":"6f3c5357.4e0cec","database":"admin_add_product","service":"node-red-dkbjm-cloudant-1595361783735-90297","payonly":false,"operation":"insert","x":1330,"y":880,"wires":[]},{"id":"473b43af.8a28fc","type":"cloudant out","z":"1a7bc75e.9ee309","name":"","cloudant":"6f3c5357.4e0cec","database":"registration","service":"node-red-dkbjm-cloudant-1595361783735-90297","payonly":false,"operation":"insert","x":2990,"y":180,"wires":[]},{"id":"f9ec8979.b65c38","type":"ui_template","z":"1a7bc75e.9ee309","group":"9ea586ec.3dcae8","name":"Leaflet","order":2,"width":0,"height":0,"format":"<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css\" />\n<script src=\"https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js\"></script>\n\n<script>\n    (function() {\n        const cScope = this.scope;\n        setTimeout(function () {\n            \n        \tconst map = L.map('mapid').setView([48.204550, 16.364333], 13);\n            let marker;\n            \n        \tL.tileLayer('https://api.maptiler.com/maps/streets/{z}/{x}/{y}.png?key=B2EFyBS6voRUmA73opSe', {\n        \t    attribution:'<a href=\"https://www.maptiler.com/copyright/\" target=\"_blank\">&copy; MapTiler</a> <a href=\"https://www.openstreetmap.org/copyright\" target=\"_blank\">&copy; OpenStreetMap contributors</a>',\n        \t\tmaxZoom: 18,\n                subdomains: [\"maps1\", \"maps2\", \"maps3\", \"maps4\"]\n        \t}).addTo(map);\n        \t\n        \tmap.on('click', function(e) {\n                cScope.send(e.latlng);\n                if (marker) {\n                    map.removeLayer(marker);\n                };\n                var marker = L.marker([51.5, -0.09]).addTo(map);\n                var circle = L.circle([51.508, -0.11], {\n                color:'red',\n                fillColor: '#f03',\n                fillOpacity: 0.5,\n                radius: 500\n                }).addTo(map);\n                \n                var polygon = L.polygon([\n                [51.509, -0.08],\n                [51.503, -0.06],\n                [51.51, -0.047],\n                ]).addTo(map);\n                \n                marker.bindPopup(\"<b>Hey There! </b> <br> Welcome to Warehouse\").openPopup();\n                circle.bindPopup(\"Store 1\");\n                polygon.bindPopup(\"Store 2\");\n                var myGeoJSON = {\"type\":\"FeatureCollection\",\"features\":[{\"type\":\"Feature\",\"id\":\"a8aa9107-085b-495a-b711-773e1c5768f7\",\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-0.45567389,51.48540889],[-0.45260949,51.48612131],[-0.45249873,51.48407308],[-0.45349558,51.48068894],[-0.45556313,51.48190606],[-0.45611693,51.4834497],[-0.45567389,51.48540889]]]},\"properties\":{\"name\":\"WAREHOUSE\"}},{\"type\":\"Feature\",\"id\":\"a6ce9a6f-1004-4409-be9b-5950ad8ca2b0\",\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-0.43363239,51.48205449],[-0.43278322,51.48092642],[-0.4345554,51.47959054],[-0.43514613,51.48089674],[-0.43363239,51.48205449]]]},\"properties\":{\"name\":\"STORE 2\"}},{\"type\":\"Feature\",\"id\":\"ef81718d-566d-4556-b315-65cd09051bf9\",\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-0.4408688,51.48606194],[-0.4394289,51.48549794],[-0.4396135,51.48377623],[-0.44157029,51.48469646],[-0.4408688,51.48606194]]]},\"properties\":{\"name\":\"STORE 1\"}},{\"type\":\"Feature\",\"id\":\"80cdc085-5643-46a8-bceb-cffefd3ef94a\",\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-0.44817904,51.47671089],[-0.447736,51.47582026],[-0.44947126,51.47558275],[-0.44998814,51.47674058],[-0.44817904,51.47671089]]]},\"properties\":{\"name\":\"STORE 4\"}},{\"type\":\"Feature\",\"id\":\"259814e7-5908-4b89-b6de-1da952f1d8f2\",\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-0.44312094,51.48057019],[-0.44138568,51.48059988],[-0.44138568,51.47875931],[-0.4430471,51.47938273],[-0.44312094,51.48057019]]]},\"properties\":{\"name\":\"STORE 3\"}},{\"type\":\"Feature\",\"id\":\"dc309b21-795e-4125-8793-c82c1804d5ed\",\"geometry\":{\"type\":\"LineString\",\"coordinates\":[[-0.45249873,51.48407308],[-0.44725603,51.48588384],[-0.44544693,51.48564636],[-0.44397011,51.48392466],[-0.44157029,51.48469646]]},\"properties\":{\"name\":\"WAY TO STORE 1\"}},{\"type\":\"Feature\",\"id\":\"f01f7869-82bc-40d3-9904-99dc8cb9d282\",\"geometry\":{\"type\":\"LineString\",\"coordinates\":[[-0.45249873,51.48407308],[-0.4500989,51.4811936],[-0.45124344,51.48003584],[-0.44891745,51.47911555],[-0.44998814,51.47674058]]},\"properties\":{\"name\":\"WAY TO STORE 4\"}},{\"type\":\"Feature\",\"id\":\"acd51823-2f40-4a07-91b1-02482e18344e\",\"geometry\":{\"type\":\"LineString\",\"coordinates\":[[-0.44981617,51.47712204],[-0.44998814,51.47674058]]},\"properties\":{\"name\":\"\"}},{\"type\":\"Feature\",\"id\":\"9c9a8ba3-451f-45af-b4d9-3ba56ccd62cf\",\"geometry\":{\"type\":\"LineString\",\"coordinates\":[[-0.45249873,51.48407308],[-0.44803136,51.48339033],[-0.44673914,51.48196543],[-0.44393319,51.48214354],[-0.44138568,51.48059988]]},\"properties\":{\"name\":\"WAY TO STORE 3\"}},{\"type\":\"Feature\",\"id\":\"8e1a132d-a3dd-4480-a2a5-056c74ea574c\",\"geometry\":{\"type\":\"LineString\",\"coordinates\":[[-0.45249873,51.48407308],[-0.44574229,51.48333096],[-0.44138568,51.481817],[-0.43736136,51.48235134],[-0.43544149,51.47837338],[-0.4345554,51.47959054]]},\"properties\":{\"name\":\"WAY TO STORE 2\"}},{\"type\":\"Feature\",\"id\":\"78af55be-0dd3-410f-bc35-98b7ce469b1e\",\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-0.46043662,51.48065925],[-0.45932901,51.47991709],[-0.45988282,51.47840307],[-0.46139655,51.47902649],[-0.46043662,51.48065925]]]},\"properties\":{\"name\":\"STORE 5\"}},{\"type\":\"Feature\",\"id\":\"7401e16a-5145-413c-99f5-1aa28530ab76\",\"geometry\":{\"type\":\"Polygon\",\"coordinates\":[[[-0.46062122,51.48493394],[-0.45955053,51.48356844],[-0.46147039,51.48374655],[-0.46191344,51.48508236],[-0.46062122,51.48493394]]]},\"properties\":{\"name\":\"STORE 6\"}},{\"type\":\"Feature\",\"id\":\"a19fed72-5d95-41db-9985-d19c20e7a5a4\",\"geometry\":{\"type\":\"LineString\",\"coordinates\":[[-0.45611693,51.4834497],[-0.45781527,51.48552762],[-0.45899673,51.48570573],[-0.46062122,51.48493394]]},\"properties\":{\"name\":\"WAY TO STORE 6\"}},{\"type\":\"Feature\",\"id\":\"3bdabc51-30ce-43b7-a492-75507cb1e24b\",\"geometry\":{\"type\":\"LineString\",\"coordinates\":[[-0.45611693,51.4834497],[-0.4569661,51.48089674],[-0.45951361,51.48125297],[-0.45833216,51.47932336],[-0.45988282,51.47840307]]},\"properties\":{\"name\":\"WAY TO STORE 5\"}},{\"type\":\"Feature\",\"id\":\"42d34aa0-a2ee-4c6a-9f0e-0c2594466433\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[-0.44038604,51.48512902]},\"properties\":{\"name\":\"Store1\"}},{\"type\":\"Feature\",\"id\":\"4e302a68-9bae-45d6-bae7-24b28d27168e\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[-0.43414783,51.48082982]},\"properties\":{\"name\":\"Store2\"}},{\"type\":\"Feature\",\"id\":\"e637244e-7181-4de0-a891-bb285d865101\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[-0.44253043,51.47975498]},\"properties\":{\"name\":\"Store3\"}},{\"type\":\"Feature\",\"id\":\"a8fbca0a-0bd1-4f16-a444-c68b174be100\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[-0.44882434,51.4761273]},\"properties\":{\"name\":\"Store4\"}},{\"type\":\"Feature\",\"id\":\"9322c88f-c4af-499b-a3bc-cb5bfd533305\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[-0.46040959,51.47964302]},\"properties\":{\"name\":\"Store5\"}},{\"type\":\"Feature\",\"id\":\"fb9da732-657c-448f-9fa5-4a2b38bd5aa9\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[-0.46085517,51.48416619]},\"properties\":{\"name\":\"Store6\"}},{\"type\":\"Feature\",\"id\":\"ab84d491-d88b-4451-a284-1608b913999d\",\"geometry\":{\"type\":\"Point\",\"coordinates\":[-0.45442202,51.48358402]},\"properties\":{\"name\":\"warehouse\"}}]}\n\n                L.geoJSON(myGeoJSON).addTo(map)\n                \n                \n            });\n            \n            setTimeout(function () {\n                map.invalidateSize();\n            }, 100);\n        }, 300);\n    })();\n</script>\n\n<div id=\"mapid\" style=\"width: 100%; height: 400px;\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":579,"y":2146,"wires":[["5739dfa7.e3bba"]]},{"id":"5739dfa7.e3bba","type":"debug","z":"1a7bc75e.9ee309","name":"","active":true,"console":"false","complete":"true","x":726,"y":2146,"wires":[]},{"id":"ab7794d3.fda4e8","type":"debug","z":"1a7bc75e.9ee309","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":1540,"wires":[]},{"id":"f2a1ee55.af85b","type":"function","z":"1a7bc75e.9ee309","name":"","func":"global.set('temperature',msg.payload.d.temperature)\nglobal.set('humidity',msg.payload.d.humidity)\nglobal.set('objectTemp',msg.payload.d.objectTemp)\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1640,"wires":[[]]},{"id":"6e30a270.5fb7cc","type":"function","z":"1a7bc75e.9ee309","name":"temperature","func":"var temp = global.get('temperature')\nreturn {payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"x":280,"y":1720,"wires":[["28ef8014.08e49","eef6acd5.1236b"]]},{"id":"5494eb90.b73f04","type":"function","z":"1a7bc75e.9ee309","name":"humidity","func":"var hum = global.get('humidity')\nreturn {payload:msg.payload.d.humidity}","outputs":1,"noerr":0,"x":270,"y":1800,"wires":[["d9d24516.7d4008","54be786f.1e93c8"]]},{"id":"257dba40.8e5f46","type":"function","z":"1a7bc75e.9ee309","name":"object.Temp","func":"var objtemp = global.get('objectTemp')\nreturn {payload:msg.payload.d.objectTemp}","outputs":1,"noerr":0,"x":280,"y":1880,"wires":[["5da43d59.d55da4","8d714c7c.b9977"]]},{"id":"8e4b4dff.b5fe","type":"http in","z":"1a7bc75e.9ee309","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":600,"y":1580,"wires":[["7a16655e.fea51c"]]},{"id":"5b611fe1.541a1","type":"http response","z":"1a7bc75e.9ee309","name":"","statusCode":"","headers":{},"x":1030,"y":1560,"wires":[]},{"id":"7a16655e.fea51c","type":"function","z":"1a7bc75e.9ee309","name":"","func":"msg.payload = {\n    \"temperature\":global.get('temperature'),\n    \"humidity\":global.get('humidity'),\n    \"objectTemp\":global.get('objectTemp'), \n}\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1680,"wires":[["5b611fe1.541a1"]]},{"id":"28ef8014.08e49","type":"ui_gauge","z":"1a7bc75e.9ee309","name":"","group":"a690be4.4b39a4","order":1,"width":5,"height":3,"gtype":"gage","title":"TEMPERATURE","label":"celcius","format":"{{value}}","min":"13","max":"23","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":1720,"wires":[]},{"id":"d9d24516.7d4008","type":"ui_gauge","z":"1a7bc75e.9ee309","name":"","group":"a690be4.4b39a4","order":2,"width":5,"height":3,"gtype":"gage","title":"HUMIDITY","label":"g/m^3","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":1800,"wires":[]},{"id":"5da43d59.d55da4","type":"ui_gauge","z":"1a7bc75e.9ee309","name":"","group":"a690be4.4b39a4","order":3,"width":5,"height":3,"gtype":"gage","title":"MACHINE TEMPERATURE","label":"celcius","format":"{{value}}","min":"14","max":"28","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":1880,"wires":[]},{"id":"eef6acd5.1236b","type":"ui_chart","z":"1a7bc75e.9ee309","name":"","group":"a690be4.4b39a4","order":6,"width":5,"height":3,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":1740,"wires":[[]]},{"id":"8d714c7c.b9977","type":"ui_chart","z":"1a7bc75e.9ee309","name":"","group":"a690be4.4b39a4","order":5,"width":5,"height":3,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":790,"y":1880,"wires":[[]]},{"id":"54be786f.1e93c8","type":"ui_chart","z":"1a7bc75e.9ee309","name":"","group":"a690be4.4b39a4","order":7,"width":5,"height":3,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":1820,"wires":[[]]},{"id":"f049a85.0e96958","type":"ibmiot in","z":"1a7bc75e.9ee309","authentication":"apiKey","apiKey":"49d72823.73a668","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":100,"y":1560,"wires":[["ab7794d3.fda4e8","f2a1ee55.af85b","6e30a270.5fb7cc","5494eb90.b73f04","257dba40.8e5f46"]]},{"id":"cf18096e.7d6718","type":"ui_group","z":0,"name":"SalesLogout","tab":"29be7792.f877c8","order":18,"disp":true,"width":"6","collapse":false},{"id":"5a78991e.dc02b8","type":"ui_group","z":0,"name":"WarehouseLogout","tab":"29be7792.f877c8","order":14,"disp":true,"width":"6","collapse":false},{"id":"a1bb3e6a.160e3","type":"ui_group","z":0,"name":"AdminLogout","tab":"29be7792.f877c8","order":8,"disp":true,"width":"6","collapse":false},{"id":"fd74acad.5024e","type":"ui_group","z":0,"name":"Prediction","tab":"4ffeabca.ef2c74","order":1,"disp":true,"width":"4","collapse":false},{"id":"7fd86b12.0b9764","type":"ui_group","z":0,"name":"Spoonacular","tab":"45176e47.69eae","order":1,"disp":true,"width":"21","collapse":false},{"id":"766dcdea.0c2864","type":"ui_group","z":0,"name":"SalesManagerLogin","tab":"29be7792.f877c8","order":15,"disp":true,"width":"6","collapse":false},{"id":"599668a0.edfec8","type":"ui_group","z":0,"name":"SalesTransaction","tab":"29be7792.f877c8","order":16,"disp":true,"width":"6","collapse":false},{"id":"7a0096ac.7c4778","type":"ui_group","z":0,"name":"SalesProductStock","tab":"29be7792.f877c8","order":17,"disp":true,"width":"10","collapse":false},{"id":"258da40d.1109fc","type":"ui_group","z":0,"name":"WarehouseManagerLogin","tab":"29be7792.f877c8","order":9,"disp":true,"width":"6","collapse":false},{"id":"43071c39.d0fb84","type":"ui_group","z":0,"name":"WarehouseTransaction","tab":"29be7792.f877c8","order":10,"disp":true,"width":"6","collapse":false},{"id":"40303a4e.353214","type":"ui_group","z":0,"name":"WarehouseProductStock","tab":"29be7792.f877c8","order":13,"disp":true,"width":"6","collapse":false},{"id":"99b86f35.84d92","type":"ui_group","z":0,"name":"AdminLogin","tab":"29be7792.f877c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"57682b1e.68bcd4","type":"ui_group","z":0,"name":"Transaction","tab":"29be7792.f877c8","order":5,"disp":true,"width":"6","collapse":false},{"id":"51b8a93f.7f5c28","type":"ui_group","z":0,"name":"AddProduct","tab":"29be7792.f877c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"ab5a5b5b.6a59a8","type":"ui_group","z":0,"name":"AddSupplier","tab":"29be7792.f877c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"2d3b1bb0.85ee04","type":"ui_group","z":0,"name":"AddCustomer","tab":"29be7792.f877c8","order":4,"disp":true,"width":"6","collapse":false},{"id":"7cff1df5.bf3d54","type":"ui_group","z":0,"name":"AddWarehouseManager","tab":"29be7792.f877c8","order":7,"disp":true,"width":"6","collapse":false},{"id":"7c6dae5b.d6944","type":"ui_group","z":0,"name":"AddSalesManager","tab":"29be7792.f877c8","order":6,"disp":true,"width":"6","collapse":false},{"id":"7fd4a6ff.0c5558","type":"ui_group","z":0,"name":"INSIGHTS","tab":"4ffeabca.ef2c74","order":3,"disp":true,"width":8,"collapse":false},{"id":"f7fa11e8.8e37","type":"ui_group","z":0,"name":"LOCATION","tab":"4ffeabca.ef2c74","order":5,"disp":true,"width":4,"collapse":false},{"id":"5d04b3aa.f77c6c","type":"ui_group","z":0,"name":"WELCOME","tab":"e14cc3d7.68b9b","order":1,"disp":false,"width":"21","collapse":false},{"id":"835f1cb4.98cfc","type":"ui_group","z":0,"name":"Stock management","tab":"db9784ff.bd5f68","order":1,"disp":false,"width":17,"collapse":false},{"id":"6f3c5357.4e0cec","type":"cloudant","z":"","host":"node-red-dkbjm-cloudant-1595361783735","name":""},{"id":"9ea586ec.3dcae8","type":"ui_group","z":"","name":"Leaflet","tab":"4ffeabca.ef2c74","order":4,"disp":true,"width":"8","collapse":false},{"id":"a690be4.4b39a4","type":"ui_group","z":0,"name":"WAREHOUSE","tab":"4ffeabca.ef2c74","order":2,"disp":true,"width":15,"collapse":false},{"id":"49d72823.73a668","type":"ibmiot","z":"","name":"","keepalive":"60","cleansession":true,"appId":"","shared":false},{"id":"29be7792.f877c8","type":"ui_tab","z":0,"name":"Dashboard","icon":"dashboard","order":2},{"id":"4ffeabca.ef2c74","type":"ui_tab","z":0,"name":"Analysis","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"45176e47.69eae","type":"ui_tab","z":0,"name":"Chatbot","icon":"dashboard","order":15,"disabled":false,"hidden":false},{"id":"e14cc3d7.68b9b","type":"ui_tab","z":0,"name":"Welcome","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"db9784ff.bd5f68","type":"ui_tab","z":0,"name":"Stock management","icon":"dashboard","order":7,"disabled":false,"hidden":false}]