ibm_hack_challenge_2020_2bit/Dashboard/Sales/sales_logout.json
[{"id":"3eeff8e9.2233c8","type":"function","z":"a0f974bf.e5cab8","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"Dashboard_SalesTransaction\", \n            \"Dashboard_SalesProductStock\",\"Dashboard_SalesLogout\"],\n    show : [\"Dashboard_AdminLogin\",\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":60,"wires":[["8d84177e.bce5a8","bc5ee60c.770938"]]},{"id":"bc5ee60c.770938","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Logged out as sales manager\"\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":20,"wires":[["b6958c47.7ec73","30b6703b.c7331"]]},{"id":"c75b5b40.036e18","type":"ui_button","z":"a0f974bf.e5cab8","name":"Logout","group":"7cc3a44c.4c0ecc","order":3,"width":"0","height":"0","passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"logout","payload":"","payloadType":"str","topic":"","x":1130,"y":60,"wires":[["3eeff8e9.2233c8"]]},{"id":"8d84177e.bce5a8","type":"ui_ui_control","z":"a0f974bf.e5cab8","name":"Go to Signin Group","x":1510,"y":60,"wires":[[]]},{"id":"b6958c47.7ec73","type":"ui_audio","z":"a0f974bf.e5cab8","name":"","group":"45ebaaa1.b17504","voice":"en-US","always":"","x":1060,"y":20,"wires":[]},{"id":"30b6703b.c7331","type":"ui_toast","z":"a0f974bf.e5cab8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1330,"y":20,"wires":[]},{"id":"7cc3a44c.4c0ecc","type":"ui_group","z":0,"name":"SalesLogout","tab":"a5ae65c4.acd048","order":18,"disp":true,"width":"6","collapse":false},{"id":"45ebaaa1.b17504","type":"ui_group","z":0,"name":"SalesManagerLogin","tab":"a5ae65c4.acd048","order":15,"disp":true,"width":"6","collapse":false},{"id":"a5ae65c4.acd048","type":"ui_tab","z":0,"name":"Dashboard","icon":"dashboard","order":2}]