Analysis/Warehouse_Temperature/warehouse_temp.json
[{"id":"96469fee.77fd2","type":"debug","z":"a0f974bf.e5cab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":1560,"wires":[]},{"id":"dabe716f.9cd0e","type":"function","z":"a0f974bf.e5cab8","name":"","func":"global.set('temperature',msg.payload.d.temperature)\nglobal.set('humidity',msg.payload.d.humidity)\nglobal.set('objectTemp',msg.payload.d.objectTemp)\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":1660,"wires":[[]]},{"id":"6e195246.551bbc","type":"function","z":"a0f974bf.e5cab8","name":"temperature","func":"var temp = global.get('temperature')\nreturn {payload:msg.payload.d.temperature}","outputs":1,"noerr":0,"x":280,"y":1740,"wires":[["6601a351.7b88bc","2c6da287.497fde"]]},{"id":"e0fe16a8.d1e178","type":"function","z":"a0f974bf.e5cab8","name":"humidity","func":"var hum = global.get('humidity')\nreturn {payload:msg.payload.d.humidity}","outputs":1,"noerr":0,"x":270,"y":1820,"wires":[["9f7e19aa.84fc68","3a1c10e7.cb45f"]]},{"id":"4cda9d85.2e61a4","type":"function","z":"a0f974bf.e5cab8","name":"object.Temp","func":"var objtemp = global.get('objectTemp')\nreturn {payload:msg.payload.d.objectTemp}","outputs":1,"noerr":0,"x":280,"y":1900,"wires":[["e42c8aae.9aa3c8","adb20fae.13906"]]},{"id":"a4d5f412.3d7c78","type":"http in","z":"a0f974bf.e5cab8","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":600,"y":1600,"wires":[["c727c1f8.c8fd6"]]},{"id":"9fba3aef.ca9468","type":"http response","z":"a0f974bf.e5cab8","name":"","statusCode":"","headers":{},"x":1030,"y":1580,"wires":[]},{"id":"c727c1f8.c8fd6","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"temperature\":global.get('temperature'),\n    \"humidity\":global.get('humidity'),\n    \"objectTemp\":global.get('objectTemp'), \n}\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1700,"wires":[["9fba3aef.ca9468"]]},{"id":"6601a351.7b88bc","type":"ui_gauge","z":"a0f974bf.e5cab8","name":"","group":"a71f9a14.2d76b8","order":1,"width":"5","height":"3","gtype":"gage","title":"TEMPERATURE","label":"celcius","format":"{{value}}","min":"13","max":"23","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":510,"y":1740,"wires":[]},{"id":"9f7e19aa.84fc68","type":"ui_gauge","z":"a0f974bf.e5cab8","name":"","group":"a71f9a14.2d76b8","order":2,"width":"5","height":"3","gtype":"gage","title":"HUMIDITY","label":"g/m^3","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":1820,"wires":[]},{"id":"e42c8aae.9aa3c8","type":"ui_gauge","z":"a0f974bf.e5cab8","name":"","group":"a71f9a14.2d76b8","order":3,"width":"5","height":"3","gtype":"gage","title":"MACHINE TEMPERATURE","label":"celcius","format":"{{value}}","min":"14","max":"28","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":540,"y":1900,"wires":[]},{"id":"2c6da287.497fde","type":"ui_chart","z":"a0f974bf.e5cab8","name":"","group":"a71f9a14.2d76b8","order":4,"width":"5","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":710,"y":1760,"wires":[[]]},{"id":"adb20fae.13906","type":"ui_chart","z":"a0f974bf.e5cab8","name":"","group":"a71f9a14.2d76b8","order":6,"width":"5","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":780,"y":1920,"wires":[[]]},{"id":"3a1c10e7.cb45f","type":"ui_chart","z":"a0f974bf.e5cab8","name":"","group":"a71f9a14.2d76b8","order":5,"width":"5","height":"3","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":630,"y":1840,"wires":[[]]},{"id":"956c0a4.8cd8cf8","type":"ibmiot in","z":"a0f974bf.e5cab8","authentication":"apiKey","apiKey":"a3a8bc0a.4595b","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":80,"y":1600,"wires":[["96469fee.77fd2","dabe716f.9cd0e","6e195246.551bbc","e0fe16a8.d1e178","4cda9d85.2e61a4"]]},{"id":"a71f9a14.2d76b8","type":"ui_group","z":0,"name":"WAREHOUSE","tab":"d528786e.e7e658","order":1,"disp":true,"width":"16","collapse":false},{"id":"a3a8bc0a.4595b","type":"ibmiot","z":0,"name":"","keepalive":"60","serverName":"rlu9jv.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"d528786e.e7e658","type":"ui_tab","z":0,"name":"Analysis","icon":"dashboard","order":5,"disabled":false,"hidden":false}]