Dashboard/Warehouse/warehouse_login.json
[{"id":"701eaa1b.197294","type":"debug","z":"a0f974bf.e5cab8","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":420,"wires":[]},{"id":"29624253.ea493e","type":"comment","z":"a0f974bf.e5cab8","name":"Sign-In Section","info":"","x":100,"y":380,"wires":[]},{"id":"591eeba.d4c2914","type":"function","z":"a0f974bf.e5cab8","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":420,"wires":[["701eaa1b.197294"]]},{"id":"b5c5a.f1c233a6","type":"function","z":"a0f974bf.e5cab8","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"warehouse\", password : \"warehouse\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 5;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 6;\n       if ( account.password == password ) {\n           msg.payload = 4;\n       } \n    }\n});\n\nif ( msg.payload == 4 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 7;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":480,"wires":[["3f6bdc76.a36cd4"]]},{"id":"3f6bdc76.a36cd4","type":"switch","z":"a0f974bf.e5cab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"},{"t":"eq","v":"7","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":390,"y":540,"wires":[["8b18a70.997a658"],["1093f84f.82d778"],["20742c71.8c3054"],["bf5b1f8d.fd5d9"]]},{"id":"8b18a70.997a658","type":"function","z":"a0f974bf.e5cab8","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"Dashboard_WarehouseTransaction\",\"Dashboard_WarehouseProductStock\",\"Dashboard_ViewSupplier\",\"Dashboard_ViewCustomer\",\"Dashboard_WarehouseLogout\"],\n    hide : [\"Dashboard_AdminLogin\",\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\",\"Dashboard_SalesTransaction\",\"Dashboard_SalesProductStock\",\"Dashboard_SalesLogout\",\"Dashboard_AddProduct\",\"Dashboard_AddSupplier\",\"Dashboard_AddCustomer\",\"Dashboard_Transaction\",\"Dashboard_AddSalesManager\",\"Dashboard_AddWarehouseManager\",\"Dashboard_AdminLogout\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":540,"wires":[["923c3f46.25a9c","3591ce44.a2a792"]]},{"id":"1093f84f.82d778","type":"function","z":"a0f974bf.e5cab8","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":580,"wires":[["489be1f6.5ebba"]]},{"id":"20742c71.8c3054","type":"function","z":"a0f974bf.e5cab8","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":620,"wires":[["489be1f6.5ebba"]]},{"id":"60ceab75.716254","type":"debug","z":"a0f974bf.e5cab8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":210,"y":540,"wires":[]},{"id":"bf5b1f8d.fd5d9","type":"function","z":"a0f974bf.e5cab8","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":660,"wires":[["194bd463.23c9cc"]]},{"id":"7e9d1fb1.9c71d","type":"link in","z":"a0f974bf.e5cab8","name":"","links":["565a80c9.280c7"],"x":80,"y":460,"wires":[["70f53de5.34e674"]]},{"id":"3591ce44.a2a792","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Login successfull as warehouse manager\"\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":500,"wires":[["10685ceb.605023","97b95f64.ea05"]]},{"id":"70f53de5.34e674","type":"ui_form","z":"a0f974bf.e5cab8","name":"Dashboard Sign-In","label":"","group":"64e3d490.86f0ec","order":0,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"Login","cancel":"Reset","topic":"","x":130,"y":500,"wires":[["591eeba.d4c2914","b5c5a.f1c233a6","60ceab75.716254"]]},{"id":"923c3f46.25a9c","type":"ui_ui_control","z":"a0f974bf.e5cab8","name":"Go to Sensor/History Group","events":"connect","x":780,"y":540,"wires":[[]]},{"id":"10685ceb.605023","type":"ui_audio","z":"a0f974bf.e5cab8","name":"","group":"d2ff05ef.3a5568","voice":"en-US","always":"","x":840,"y":500,"wires":[]},{"id":"489be1f6.5ebba","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Authentication Failed","name":"Authentication Failure Dialog","x":800,"y":580,"wires":[[]]},{"id":"194bd463.23c9cc","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"System In Use.","name":"System In-Use Dialog","x":760,"y":660,"wires":[[]]},{"id":"97b95f64.ea05","type":"ui_toast","z":"a0f974bf.e5cab8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":730,"y":440,"wires":[]},{"id":"64e3d490.86f0ec","type":"ui_group","z":0,"name":"WarehouseManagerLogin","tab":"a5ae65c4.acd048","order":9,"disp":true,"width":"6","collapse":false},{"id":"d2ff05ef.3a5568","type":"ui_group","z":0,"name":"WarehouseTransaction","tab":"a5ae65c4.acd048","order":10,"disp":true,"width":"6","collapse":false},{"id":"a5ae65c4.acd048","type":"ui_tab","z":0,"name":"Dashboard","icon":"dashboard","order":2}]