Dashboard/Warehouse/warehouse_logout.json
[{"id":"33f8245b.a4ee6c","type":"function","z":"a0f974bf.e5cab8","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"Dashboard_WarehouseTransaction\", \n            \"Dashboard_WarehouseProductStock\",\"Dashboard_ViewCustomer\",\"Dashboard_ViewSupplier\",\"Dashboard_WarehouseLogout\"],\n    show : [\"Dashboard_AdminLogin\",\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":660,"wires":[["b1b6a545.64cc08","b186f1be.d1c68"]]},{"id":"b186f1be.d1c68","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Logged out as warehouse manager\"\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":620,"wires":[["112dbd41.b44273","828e5e44.c7f77"]]},{"id":"af22fd36.15a33","type":"ui_button","z":"a0f974bf.e5cab8","name":"Logout","group":"e59a6687.7b4388","order":3,"width":"0","height":"0","passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"logout","payload":"","payloadType":"str","topic":"","x":1190,"y":660,"wires":[["33f8245b.a4ee6c"]]},{"id":"b1b6a545.64cc08","type":"ui_ui_control","z":"a0f974bf.e5cab8","name":"Go to Signin Group","x":1650,"y":660,"wires":[[]]},{"id":"112dbd41.b44273","type":"ui_audio","z":"a0f974bf.e5cab8","name":"","group":"64e3d490.86f0ec","voice":"en-US","always":"","x":1120,"y":620,"wires":[]},{"id":"828e5e44.c7f77","type":"ui_toast","z":"a0f974bf.e5cab8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1030,"y":660,"wires":[]},{"id":"e59a6687.7b4388","type":"ui_group","z":0,"name":"WarehouseLogout","tab":"a5ae65c4.acd048","order":14,"disp":true,"width":"6","collapse":false},{"id":"64e3d490.86f0ec","type":"ui_group","z":0,"name":"WarehouseManagerLogin","tab":"a5ae65c4.acd048","order":9,"disp":true,"width":"6","collapse":false},{"id":"a5ae65c4.acd048","type":"ui_tab","z":0,"name":"Dashboard","icon":"dashboard","order":2}]