Dashboard/Sales/sales_forms.json
[{"id":"59135510.813bbc","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"_id\":msg.payload.type,\n    \"Transaction Type(IN/OUT\":msg.payload.type,\n    \"Name\":msg.payload.name,\n    \"Product name\":msg.payload.productname,\n    \"Unit\":msg.payload.unit,\n    \"Amount\":msg.payload.amount,\n    \"Paid\":msg.payload.paid,\n    \"Balance\":msg.payload.balance\n}\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":160,"wires":[["481bcd28.6bdc74","8e785d3f.5322a"]]},{"id":"481bcd28.6bdc74","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Transaction added\"\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":280,"wires":[["3d3ce12c.9d8a7e"]]},{"id":"8e785d3f.5322a","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"sales_add_transaction","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":1260,"y":220,"wires":[]},{"id":"ee3210f3.d32ec","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Stock Updated\"\nreturn msg;","outputs":1,"noerr":0,"x":1590,"y":280,"wires":[["cbc932b4.5c1c4"]]},{"id":"8926541f.30d9c8","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"_id\":msg.payload.productname,\n    \"Product name\":msg.payload.productname,\n    \"Unit\":msg.payload.unit,\n    \"Cost\":msg.payload.cost,\n    \"Quantity\":msg.payload.quantity,\n    \"Date\":msg.payload.date\n}\nreturn msg;","outputs":1,"noerr":0,"x":1550,"y":160,"wires":[["ee3210f3.d32ec","18fcdd00.b85a93"]]},{"id":"18fcdd00.b85a93","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"sales_product_stock","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":1640,"y":220,"wires":[]},{"id":"26a98bc2.6e4804","type":"ui_form","z":"a0f974bf.e5cab8","name":"sales_add_transaction","label":"","group":"40202ad3.3820c4","order":0,"width":"0","height":"0","options":[{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Product name","value":"product name","type":"text","required":true,"rows":null},{"label":"Unit","value":"unit","type":"text","required":true,"rows":null},{"label":"Amount","value":"amount","type":"number","required":true,"rows":null},{"label":"Paid","value":"paid","type":"switch","required":true,"rows":null},{"label":"Balance","value":"balance","type":"number","required":true,"rows":null}],"formValue":{"name":"","product name":"","unit":"","amount":"","paid":false,"balance":""},"payload":"","submit":"Add ","cancel":"","topic":"","x":1260,"y":100,"wires":[["59135510.813bbc"]]},{"id":"f3104040.587f","type":"ui_form","z":"a0f974bf.e5cab8","name":"sales_product_stock","label":"","group":"82ed7ab.ac4b088","order":2,"width":"0","height":"0","options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Product name","value":"productname","type":"text","required":true,"rows":null},{"label":"Unit","value":"unit","type":"text","required":true,"rows":null},{"label":"Cost","value":"cost","type":"number","required":true,"rows":null},{"label":"Quantity","value":"quantity","type":"number","required":true,"rows":null}],"formValue":{"date":"","productname":"","unit":"","cost":"","quantity":""},"payload":"","submit":"Edit","cancel":"","topic":"","x":1580,"y":100,"wires":[["8926541f.30d9c8"]]},{"id":"3d3ce12c.9d8a7e","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1250,"y":340,"wires":[[]]},{"id":"cbc932b4.5c1c4","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1570,"y":340,"wires":[[]]},{"id":"40202ad3.3820c4","type":"ui_group","z":0,"name":"SalesTransaction","tab":"a5ae65c4.acd048","order":16,"disp":true,"width":"6","collapse":false},{"id":"82ed7ab.ac4b088","type":"ui_group","z":0,"name":"SalesProductStock","tab":"a5ae65c4.acd048","order":17,"disp":true,"width":"10","collapse":false},{"id":"a5ae65c4.acd048","type":"ui_tab","z":0,"name":"Dashboard","icon":"dashboard","order":2}]