Dashboard/Sales/sales_login.json
[{"id":"1fcf5af6.96bde5","type":"debug","z":"a0f974bf.e5cab8","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":310,"y":120,"wires":[]},{"id":"b951430f.9e089","type":"comment","z":"a0f974bf.e5cab8","name":"Sales","info":"","x":50,"y":80,"wires":[]},{"id":"8c906e54.8fb92","type":"function","z":"a0f974bf.e5cab8","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":90,"y":140,"wires":[["1fcf5af6.96bde5"]]},{"id":"1013544c.94b44c","type":"function","z":"a0f974bf.e5cab8","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"sales\", password : \"sales\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload === 8 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":110,"y":280,"wires":[["3b9a8f4e.f85b9"]]},{"id":"3b9a8f4e.f85b9","type":"switch","z":"a0f974bf.e5cab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":250,"y":220,"wires":[["29cdf405.5ea79c"],["e60bd7e8.d33f28"],["dc542c27.487bf"],["232cccf5.0b26a4"]]},{"id":"29cdf405.5ea79c","type":"function","z":"a0f974bf.e5cab8","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"Dashboard_SalesTransaction\",\"Dashboard_SalesProductStock\",\"Dashboard_SalesLogout\"],\n    hide : [\"Dashboard_AdminLogin\",\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\",\"Dashboard_WarehouseTransaction\",\"Dashboard_WarehouseProductStock\",\"Dashboard_ViewCustomer\",\"Dashboard_ViewSupplier\",\"Dashboard_WarehouseLogout\",\"Dashboard_AddProduct\", \"Dashboard_AddSupplier\", \"Dashboard_AddCustomer\", \"Dashboard_Transaction\", \"Dashboard_AddSalesManager\", \"Dashboard_AddWarehouseManager\",\"Dashboard_AdminLogout\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["b5d1db1f.66a9b8","a0547dbc.414e8"]]},{"id":"e60bd7e8.d33f28","type":"function","z":"a0f974bf.e5cab8","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["2aed1887.a6c988"]]},{"id":"dc542c27.487bf","type":"function","z":"a0f974bf.e5cab8","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":240,"wires":[["2aed1887.a6c988"]]},{"id":"737cb0a8.f29f1","type":"debug","z":"a0f974bf.e5cab8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":70,"y":240,"wires":[]},{"id":"232cccf5.0b26a4","type":"function","z":"a0f974bf.e5cab8","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["2a477976.d1ec16"]]},{"id":"a0547dbc.414e8","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Login successfull as sales manager\"\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":80,"wires":[["a883bb39.cfe368","96125287.72f4e"]]},{"id":"d86a4800.ee1408","type":"ui_form","z":"a0f974bf.e5cab8","name":"Dashboard Sign-In","label":"","group":"45ebaaa1.b17504","order":0,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"Login","cancel":"Reset","topic":"","x":90,"y":180,"wires":[["8c906e54.8fb92","1013544c.94b44c","737cb0a8.f29f1"]]},{"id":"b5d1db1f.66a9b8","type":"ui_ui_control","z":"a0f974bf.e5cab8","name":"Go to Sensor/History Group","events":"connect","x":620,"y":180,"wires":[[]]},{"id":"a883bb39.cfe368","type":"ui_audio","z":"a0f974bf.e5cab8","name":"","group":"40202ad3.3820c4","voice":"en-US","always":"","x":480,"y":80,"wires":[]},{"id":"2aed1887.a6c988","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"Authentication Failed","name":"Authentication Failure Dialog","x":680,"y":220,"wires":[[]]},{"id":"2a477976.d1ec16","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"3","highlight":"","outputs":1,"ok":"OK","cancel":"","topic":"System In Use.","name":"System In-Use Dialog","x":620,"y":280,"wires":[[]]},{"id":"96125287.72f4e","type":"ui_toast","z":"a0f974bf.e5cab8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":290,"y":40,"wires":[]},{"id":"45ebaaa1.b17504","type":"ui_group","z":0,"name":"SalesManagerLogin","tab":"a5ae65c4.acd048","order":15,"disp":true,"width":"6","collapse":false},{"id":"40202ad3.3820c4","type":"ui_group","z":0,"name":"SalesTransaction","tab":"a5ae65c4.acd048","order":16,"disp":true,"width":"6","collapse":false},{"id":"a5ae65c4.acd048","type":"ui_tab","z":0,"name":"Dashboard","icon":"dashboard","order":2}]