Analysis/Prediction/prediction.json
[{"id":"b7f75c17.9df38","type":"function","z":"a0f974bf.e5cab8","name":"PreToken","func":"global.set(\"id\",msg.payload.id)\nglobal.set(\"week\",msg.payload.week)\nglobal.set(\"center_id\",msg.payload.center_id)\nglobal.set(\"meal_id\",msg.payload.meal_id)\nglobal.set(\"checkout_price\",msg.payload.checkout_price)\nglobal.set(\"base_price\",msg.payload.base_price)\nglobal.set(\"emailer_for_promotion\",msg.payload.emailer_for_promotion)\nglobal.set(\"homepage_featured\",msg.payload.homepage_featured)\nvar apikey=\"3EeSsy09CD89stzkpigSNoPeITAArgOx3odz4pD72NzE\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":1340,"wires":[["ae60c177.224bd"]]},{"id":"ae60c177.224bd","type":"http request","z":"a0f974bf.e5cab8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":1340,"wires":[["de2ab11e.149a1"]]},{"id":"69d60ae1.1960b4","type":"inject","z":"a0f974bf.e5cab8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":1300,"wires":[["b7f75c17.9df38"]]},{"id":"3905f1fe.2dad5e","type":"debug","z":"a0f974bf.e5cab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":1080,"wires":[]},{"id":"de2ab11e.149a1","type":"function","z":"a0f974bf.e5cab8","name":"Pre Prediction","func":"var id = global.get('id')\nvar week = global.get('week')\nvar center_id = global.get('center_id')\nvar meal_id = global.get('meal_id')\nvar checkout_price = global.get('checkout_price')\nvar base_price = global.get('base_price')\nvar emailer_for_promotion = global.get('emailer_for_promotion')\nvar homepage_featured = global.get('homepage_featured')\nvar token=msg.payload.access_token\nvar instance_id=\"37ffe341-845e-4fe2-b021-3006b746033b\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\":[{\"fields\": [\"id\",\"week\",\"center_id\",\"meal_id\",\"checkout_price\",\"base_price\",\"emailer_for_promotion\",\"homepage_featured\"],\"values\": [[id,week,center_id,meal_id,checkout_price,base_price,emailer_for_promotion,homepage_featured]]}]}\nreturn msg","outputs":1,"noerr":0,"x":640,"y":1340,"wires":[["2b61d3d0.3bc01c"]]},{"id":"2b61d3d0.3bc01c","type":"http request","z":"a0f974bf.e5cab8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v4/deployments/fdb90a18-6cea-4fa0-bbe8-371c285580ba/predictions","tls":"","persist":false,"proxy":"","authType":"","x":830,"y":1340,"wires":[["3e46b6cd.65180a","85cc2122.50d15"]]},{"id":"3e46b6cd.65180a","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]      \nreturn msg;","outputs":1,"noerr":0,"x":710,"y":1160,"wires":[["3905f1fe.2dad5e","b37b8ab5.12e9c8"]]},{"id":"85cc2122.50d15","type":"debug","z":"a0f974bf.e5cab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":780,"y":1440,"wires":[]},{"id":"b37b8ab5.12e9c8","type":"ui_text","z":"a0f974bf.e5cab8","group":"ee0b3e83.18e4e","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":900,"y":1180,"wires":[]},{"id":"6cd4edaf.4f7a54","type":"ui_form","z":"a0f974bf.e5cab8","name":"","label":"","group":"ee0b3e83.18e4e","order":0,"width":"0","height":"0","options":[{"label":"Enter id","value":"id","type":"number","required":true,"rows":null},{"label":"Enter week","value":"week","type":"number","required":true,"rows":null},{"label":"Enter center_id","value":"center_id","type":"number","required":true,"rows":null},{"label":"Enter meal_id","value":"meal_id","type":"number","required":true,"rows":null},{"label":"Enter checkout_price","value":"checkout_price","type":"number","required":true,"rows":null},{"label":"Enter base_price","value":"base_price","type":"number","required":true,"rows":null},{"label":"Enter emailer_for_promotion","value":"emailer_for_promotion","type":"number","required":true,"rows":null},{"label":"Enter homepage_featured","value":"homepage_featured","type":"number","required":true,"rows":null}],"formValue":{"id":"","week":"","center_id":"","meal_id":"","checkout_price":"","base_price":"","emailer_for_promotion":"","homepage_featured":""},"payload":"","submit":"Predict","cancel":"Reset","topic":"","x":90,"y":1380,"wires":[["b7f75c17.9df38"]]},{"id":"a5e914f4.e64f08","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":375,"y":1258,"wires":[[]]},{"id":"ee0b3e83.18e4e","type":"ui_group","z":0,"name":"Prediction","tab":"d528786e.e7e658","order":1,"disp":true,"width":"4","collapse":false},{"id":"d528786e.e7e658","type":"ui_tab","z":0,"name":"Analysis","icon":"dashboard","order":5,"disabled":false,"hidden":false}]