ibm_hack_challenge_2020_2bit/Dashboard/Warehouse/warehouse_forms.json
[{"id":"1c4d931e.f72acd","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Transaction added\"\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":600,"wires":[["9e8d2524.a95708"]]},{"id":"963ac56e.db35c8","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"Transaction Type(IN/OUT\":msg.payload.type,\n    \"Name\":msg.payload.name,\n    \"Product name\":msg.payload.productname,\n    \"Unit\":msg.payload.unit,\n    \"Amount\":msg.payload.amount,\n    \"Paid\":msg.payload.paid,\n    \"Balance\":msg.payload.balance\n}\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":500,"wires":[["1c4d931e.f72acd","9a941422.2b7a78"]]},{"id":"9a941422.2b7a78","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"warehouse_add_transaction","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":1920,"y":550,"wires":[]},{"id":"3fab323b.de336e","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Stock Updated\"\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":580,"wires":[["bc1f109a.08d84"]]},{"id":"cfb4f899.9f0fb8","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"Product name\":msg.payload.productname,\n    \"Unit\":msg.payload.unit,\n    \"Cost\":msg.payload.cost,\n    \"Quantity\":msg.payload.quantity,\n    \"Date\":msg.payload.date\n}\nreturn msg;","outputs":1,"noerr":0,"x":2210,"y":480,"wires":[["3fab323b.de336e","79228713.014888"]]},{"id":"79228713.014888","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"warehouse_product_stock","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":2230,"y":520,"wires":[]},{"id":"bca8e971.a70bc8","type":"ui_form","z":"a0f974bf.e5cab8","name":"warehouse_add_transaction","label":"","group":"d2ff05ef.3a5568","order":2,"width":"0","height":"0","options":[{"label":"Transaction Type(IN/OUT)","value":"type","type":"text","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Product name","value":"product name","type":"text","required":true,"rows":null},{"label":"Unit","value":"unit","type":"text","required":true,"rows":null},{"label":"Amount","value":"amount","type":"number","required":true,"rows":null},{"label":"Paid","value":"paid","type":"switch","required":true,"rows":null},{"label":"Balance","value":"balance","type":"number","required":true,"rows":null}],"formValue":{"type":"","name":"","product name":"","unit":"","amount":"","paid":false,"balance":""},"payload":"","submit":"Add ","cancel":"","topic":"","x":1800,"y":450,"wires":[["963ac56e.db35c8"]]},{"id":"89df947f.0981a8","type":"ui_form","z":"a0f974bf.e5cab8","name":"warehouse_product_stock","label":"","group":"8b250124.2933c","order":2,"width":"0","height":"0","options":[{"label":"Date","value":"date","type":"date","required":true,"rows":null},{"label":"Product name","value":"productname","type":"text","required":true,"rows":null},{"label":"Unit","value":"unit","type":"text","required":true,"rows":null},{"label":"Cost","value":"cost","type":"number","required":true,"rows":null},{"label":"Quantity","value":"quantity","type":"number","required":true,"rows":null}],"formValue":{"date":"","productname":"","unit":"","cost":"","quantity":""},"payload":"","submit":"Edit","cancel":"","topic":"","x":2270,"y":430,"wires":[["cfb4f899.9f0fb8"]]},{"id":"9e8d2524.a95708","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1870,"y":650,"wires":[[]]},{"id":"bc1f109a.08d84","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2230,"y":630,"wires":[[]]},{"id":"d2ff05ef.3a5568","type":"ui_group","z":0,"name":"WarehouseTransaction","tab":"a5ae65c4.acd048","order":10,"disp":true,"width":"6","collapse":false},{"id":"8b250124.2933c","type":"ui_group","z":0,"name":"WarehouseProductStock","tab":"a5ae65c4.acd048","order":13,"disp":true,"width":"6","collapse":false},{"id":"a5ae65c4.acd048","type":"ui_tab","z":0,"name":"Dashboard","icon":"dashboard","order":2}]