Dashboard/Admin/admin_forms.json
[{"id":"5251a92b.675cc8","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Transaction added\"\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":900,"wires":[["bbda4fe6.81b9f"]]},{"id":"fec747bd.c66ca8","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"Transaction Type(IN/OUT\":msg.payload.type,\n    \"Name\":msg.payload.name,\n    \"Product name\":msg.payload.productname,\n    \"Unit\":msg.payload.unit,\n    \"Amount\":msg.payload.amount,\n    \"Paid\":msg.payload.paid,\n    \"Balance\":msg.payload.balance\n}\nreturn msg;","outputs":1,"noerr":0,"x":1950,"y":820,"wires":[["5251a92b.675cc8","b603e635.74b9b8"]]},{"id":"b603e635.74b9b8","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"admin_add_transaction","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":2010,"y":860,"wires":[]},{"id":"6ee469e6.aa58e8","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Supplier added\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1490,"y":900,"wires":[["1bd6478c.9e8fe8"]]},{"id":"e53ec15b.ebb67","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Customer added\"\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1770,"y":900,"wires":[["bc780af9.02aae8"]]},{"id":"cf94b0f.3a5375","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Product added\"\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":920,"wires":[["1ff35f71.9a9091"]]},{"id":"d7f8e67c.a638a8","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"Product ID\":msg.payload.productid,\n    \"Product name\":msg.payload.productname,\n    \"Unit\":msg.payload.unit,\n    \"Cost per unit\":msg.payload.costperunit,\n    \"Stock\":msg.payload.stock\n}\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":820,"wires":[["cf94b0f.3a5375","d3fefb6d.9c8488"]]},{"id":"6cfed370.91287c","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"Supplier ID\":msg.payload.supplierid,\n    \"Name\":msg.payload.name,\n    \"Email ID\":msg.payload.email,\n    \"Contact number\":msg.payload.contactnumber,\n    \"Address\":msg.payload.address,\n    \"Details\":msg.payload.details,\n    \"Remarks\":msg.payload.remarks,\n}\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":820,"wires":[["6ee469e6.aa58e8","5faa7c0.72da984"]]},{"id":"9b85b66.72af748","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"Customer ID\":msg.payload.customerid,\n    \"Name\":msg.payload.name,\n    \"Email ID\":msg.payload.email,\n    \"Contact number\":msg.payload.contactnumber,\n    \"Address\":msg.payload.address,\n    \"Details\":msg.payload.details,\n    \"Remarks\":msg.payload.remarks,\n}\nreturn msg;","outputs":1,"noerr":0,"x":1770,"y":820,"wires":[["e53ec15b.ebb67","dbf1bc1c.0f25d"]]},{"id":"d3fefb6d.9c8488","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"admin_add_product","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":1290,"y":860,"wires":[]},{"id":"5faa7c0.72da984","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"admin_add_supplier","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":1520,"y":860,"wires":[]},{"id":"dbf1bc1c.0f25d","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"admin_add_customer","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":1760,"y":860,"wires":[]},{"id":"1a7cf6c5.968679","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Warehouse Manager added successfully\"\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":1020,"wires":[["71567a56.0275d4"]]},{"id":"b9bcf531.885198","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"ID\":msg.payload.id,\n    \"Name\":msg.payload.name,\n    \"Contact number\":msg.payload.contactnumber,\n    \"Password\":msg.payload.password\n}\nreturn msg;","outputs":1,"noerr":0,"x":2110,"y":980,"wires":[["1a7cf6c5.968679","e2534483.43da28"]]},{"id":"e2534483.43da28","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"admin_add_warehouse_manager","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":2320,"y":980,"wires":[]},{"id":"1973b14b.632baf","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Sales Manager added successfully\"\nreturn msg;","outputs":1,"noerr":0,"x":2090,"y":900,"wires":[["88d43919.176f98"]]},{"id":"807ee4a8.ad4be8","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = {\n    \"ID\":msg.payload.id,\n    \"Name\":msg.payload.name,\n    \"Contact number\":msg.payload.contactnumber,\n    \"Password\":msg.payload.password\n}\nreturn msg;","outputs":1,"noerr":0,"x":2230,"y":820,"wires":[["1973b14b.632baf","84fafe3c.6ad3f"]]},{"id":"84fafe3c.6ad3f","type":"cloudant out","z":"a0f974bf.e5cab8","name":"","cloudant":"","database":"admin_add_sales_manager","service":"node-red-pnpxr-cloudant-1593425165558-81008","payonly":true,"operation":"insert","x":2280,"y":860,"wires":[]},{"id":"2632f658.b07f8a","type":"ui_form","z":"a0f974bf.e5cab8","name":"admin_add_transaction","label":"","group":"57fbfea5.47da9","order":5,"width":"0","height":"0","options":[{"label":"Transaction Type(IN/OUT)","value":"type","type":"text","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Product name","value":"productname","type":"text","required":true,"rows":null},{"label":"Unit","value":"unit","type":"number","required":true,"rows":null},{"label":"Amount","value":"amount","type":"number","required":true,"rows":null},{"label":"Paid","value":"paid","type":"switch","required":true,"rows":null},{"label":"Balance","value":"balance","type":"number","required":true,"rows":null}],"formValue":{"type":"","name":"","productname":"","unit":"","amount":"","paid":false,"balance":""},"payload":"","submit":"Add ","cancel":"Reset","topic":"","x":2010,"y":780,"wires":[["fec747bd.c66ca8"]]},{"id":"7deb2dbd.4268b4","type":"ui_form","z":"a0f974bf.e5cab8","name":"admin_add_product","label":"","group":"32814776.419638","order":2,"width":0,"height":0,"options":[{"label":"Product ID","value":"productid","type":"number","required":true,"rows":null},{"label":"Product name","value":"productname","type":"text","required":true,"rows":null},{"label":"Unit","value":"unit","type":"text","required":true,"rows":null},{"label":"Cost per unit","value":"costperunit","type":"number","required":true,"rows":null},{"label":"Description","value":"description","type":"multiline","required":false,"rows":2},{"label":"Stock","value":"stock","type":"number","required":true,"rows":null}],"formValue":{"productid":"","productname":"","unit":"","costperunit":"","description":"","stock":""},"payload":"","submit":"Add Product","cancel":"Reset","topic":"","x":1300,"y":760,"wires":[["d7f8e67c.a638a8"]]},{"id":"b4f0f9ae.1c83e8","type":"ui_form","z":"a0f974bf.e5cab8","name":"admin_add_supplier","label":"","group":"3612df54.baa24","order":0,"width":0,"height":0,"options":[{"label":"Supplier ID","value":"supplierid","type":"number","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Emai id","value":"email","type":"email","required":true,"rows":null},{"label":"Contact number","value":"contactnumber","type":"number","required":true,"rows":null},{"label":"Address","value":"address","type":"text","required":true,"rows":null},{"label":"Details","value":"details","type":"text","required":true,"rows":null},{"label":"Remark","value":"remark","type":"text","required":false,"rows":null}],"formValue":{"supplierid":"","name":"","email":"","contactnumber":"","address":"","details":"","remark":""},"payload":"","submit":"Add Supplier","cancel":"Reset","topic":"","x":1564,"y":768,"wires":[["6cfed370.91287c"]]},{"id":"f7b1d07d.5d0fc","type":"ui_form","z":"a0f974bf.e5cab8","name":"admin_add_customer","label":"","group":"33a6c86f.36fd48","order":0,"width":0,"height":0,"options":[{"label":"Customer ID","value":"customerid","type":"number","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Emai id","value":"email","type":"email","required":true,"rows":null},{"label":"Contact number","value":"contactnumber","type":"number","required":true,"rows":null},{"label":"Address","value":"address","type":"text","required":true,"rows":null},{"label":"Details","value":"details","type":"text","required":true,"rows":null},{"label":"Remark","value":"remark","type":"text","required":false,"rows":null}],"formValue":{"customerid":"","name":"","email":"","contactnumber":"","address":"","details":"","remark":""},"payload":"","submit":"Add Customer","cancel":"Reset","topic":"","x":1780,"y":780,"wires":[["9b85b66.72af748"]]},{"id":"cd1bdabc.704008","type":"ui_form","z":"a0f974bf.e5cab8","name":"admin_add_warehouse_manager","label":"","group":"77e7bdbb.35b524","order":0,"width":"0","height":"0","options":[{"label":"ID","value":"id","type":"number","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Contact number","value":"contactnumber","type":"number","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"id":"","name":"","contactnumber":"","password":""},"payload":"","submit":"Add","cancel":"Reset","topic":"","x":2380,"y":920,"wires":[["b9bcf531.885198"]]},{"id":"9e564525.52b218","type":"ui_form","z":"a0f974bf.e5cab8","name":"admin_add_sales_manager","label":"","group":"440bbf41.21954","order":0,"width":"0","height":"0","options":[{"label":"ID","value":"id","type":"number","required":true,"rows":null},{"label":"Name","value":"name","type":"text","required":true,"rows":null},{"label":"Contact number","value":"contactnumber","type":"number","required":true,"rows":null},{"label":"Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"id":"","name":"","contactnumber":"","password":""},"payload":"","submit":"Add","cancel":"Reset","topic":"","x":2280,"y":780,"wires":[["807ee4a8.ad4be8"]]},{"id":"bbda4fe6.81b9f","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1950,"y":940,"wires":[[]]},{"id":"1bd6478c.9e8fe8","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1490,"y":940,"wires":[[]]},{"id":"bc780af9.02aae8","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1730,"y":940,"wires":[[]]},{"id":"1ff35f71.9a9091","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1300,"y":970,"wires":[[]]},{"id":"71567a56.0275d4","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2250,"y":1020,"wires":[[]]},{"id":"88d43919.176f98","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"5","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2150,"y":940,"wires":[[]]},{"id":"57fbfea5.47da9","type":"ui_group","z":0,"name":"Transaction","tab":"a5ae65c4.acd048","order":5,"disp":true,"width":"6","collapse":false},{"id":"32814776.419638","type":"ui_group","z":0,"name":"AddProduct","tab":"a5ae65c4.acd048","order":2,"disp":true,"width":"6","collapse":false},{"id":"3612df54.baa24","type":"ui_group","z":0,"name":"AddSupplier","tab":"a5ae65c4.acd048","order":3,"disp":true,"width":"6","collapse":false},{"id":"33a6c86f.36fd48","type":"ui_group","z":0,"name":"AddCustomer","tab":"a5ae65c4.acd048","order":4,"disp":true,"width":"6","collapse":false},{"id":"77e7bdbb.35b524","type":"ui_group","z":0,"name":"AddWarehouseManager","tab":"a5ae65c4.acd048","order":7,"disp":true,"width":"6","collapse":false},{"id":"440bbf41.21954","type":"ui_group","z":0,"name":"AddSalesManager","tab":"a5ae65c4.acd048","order":6,"disp":true,"width":"6","collapse":false},{"id":"a5ae65c4.acd048","type":"ui_tab","z":0,"name":"Dashboard","icon":"dashboard","order":2}]