Dashboard/Admin/admin_login.json
[{"id":"c7b98cd1.e4888","type":"debug","z":"a0f974bf.e5cab8","name":"Debug Account Log ","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":760,"wires":[]},{"id":"61a9c07a.2d6f3","type":"comment","z":"a0f974bf.e5cab8","name":"Admin Login Section","info":"","x":110,"y":720,"wires":[]},{"id":"ce3fa4d0.913728","type":"function","z":"a0f974bf.e5cab8","name":"Account Log","func":"var accountlog =  flow.get(\"accountlog\") || [] ; \n\naccountlog.push({ accessAt : new Date(), username : msg.payload.username})\n\nflow.set(\"accountlog\", accountlog);\n\nmsg.payload = accountlog;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":760,"wires":[["c7b98cd1.e4888"]]},{"id":"eafd248a.eb3288","type":"function","z":"a0f974bf.e5cab8","name":"Account Verification","func":"var accounts =  flow.get(\"accounts\") || [ { username : \"admin\", password : \"admin\"},{ username : \"guest\", password : \"guest\"}] ; \n\nvar username = msg.payload.username ;\nvar password = msg.payload.password ; \n\nmsg.payload = 1;\n\naccounts.forEach(function ( account ){\n    if ( account.username == username ) {\n       msg.payload = 2;\n       if ( account.password == password ) {\n           msg.payload = 0;\n       } \n    }\n});\n\nif ( msg.payload == 0 ) {\n  var currentsocketid = flow.get(\"clientid\") || undefined;\n  if ( currentsocketid !== undefined && currentsocketid !== msg.socketid ) msg.payload = 3;\n}\n// keep the original socketid from msg.socketid;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":880,"wires":[["1af69a7d.4d1a56"]]},{"id":"1af69a7d.4d1a56","type":"switch","z":"a0f974bf.e5cab8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":290,"y":820,"wires":[["4262f765.900028"],["398776c2.ece78a"],["7b16c202.6be5ec"],["3c16b9a8.353686"]]},{"id":"4262f765.900028","type":"function","z":"a0f974bf.e5cab8","name":"= 0 : Success","func":"/* activate session timer */\nvar sessionTimer =  flow.get(\"sessionTimer\") || 0; \nvar currTime = Date.now();\nflow.set(\"sessionTimer\", currTime);\nflow.set(\"clientid\", msg.socketid);\n/* ui-control payload */\nmsg.payload = { group: {\n    show : [\"Dashboard_AddProduct\", \"Dashboard_AddSupplier\", \"Dashboard_AddCustomer\", \"Dashboard_Transaction\", \"Dashboard_AddSalesManager\", \"Dashboard_AddWarehouseManager\",\"Dashboard_AdminLogout\"],\n    hide : [\"Dashboard_AdminLogin\",\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\",\"Dashboard_WarehouseTransaction\", \"Dashboard_WarehouseProductStock\",\"Dashboard_ViewSupplier\",\"Dashboard_ViewCustomer\",\"Dashboard_WarehouseLogout\",\"Dashboard_SalesTransaction\",\"Dashboard_SalesProductStock\",\"Dashboard_SalesLogout\"]\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":800,"wires":[["fc51a17d.84183","67d4ef2b.82563"]]},{"id":"398776c2.ece78a","type":"function","z":"a0f974bf.e5cab8","name":"= 1 : Unknown User","func":"msg.payload = \"Username Doesn't exist!!!\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":840,"wires":[["a54ea644.6dbe98"]]},{"id":"7b16c202.6be5ec","type":"function","z":"a0f974bf.e5cab8","name":"= 2 : Wrong Password","func":"msg.payload = \"Invalid Password\";\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":880,"wires":[["a54ea644.6dbe98"]]},{"id":"a33dcdbc.ee542","type":"debug","z":"a0f974bf.e5cab8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":90,"y":840,"wires":[]},{"id":"3c16b9a8.353686","type":"function","z":"a0f974bf.e5cab8","name":"= 4 : System In Use","func":"msg.payload = \"System is used by other user.\";\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":920,"wires":[["4c93a57e.d5a2fc"]]},{"id":"67d4ef2b.82563","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Login successfull as admin\"\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":780,"wires":[["fb0da021.1c5b1","e291c2fc.aef58"]]},{"id":"c0d82b60.f947b8","type":"ui_form","z":"a0f974bf.e5cab8","name":"Admin_Login","label":"","group":"a7b403ed.265fd","order":2,"width":0,"height":0,"options":[{"label":"username","value":"username","type":"text","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"username":"","password":""},"payload":"","submit":"Login","cancel":"Reset","topic":"","x":110,"y":800,"wires":[["ce3fa4d0.913728","eafd248a.eb3288","a33dcdbc.ee542"]]},{"id":"fc51a17d.84183","type":"ui_ui_control","z":"a0f974bf.e5cab8","name":"Go to Admin Groups","x":760,"y":820,"wires":[[]]},{"id":"fb0da021.1c5b1","type":"ui_audio","z":"a0f974bf.e5cab8","name":"","group":"32814776.419638","voice":"en-US","always":"","x":800,"y":780,"wires":[]},{"id":"a54ea644.6dbe98","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"Authentication Failed","name":"Authentication Failure Dialog","x":740,"y":860,"wires":[[]]},{"id":"4c93a57e.d5a2fc","type":"ui_toast","z":"a0f974bf.e5cab8","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"topic":"System In Use.","name":"System In-Use Dialog","x":700,"y":920,"wires":[[]]},{"id":"e291c2fc.aef58","type":"ui_toast","z":"a0f974bf.e5cab8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":890,"y":740,"wires":[]},{"id":"a7b403ed.265fd","type":"ui_group","z":0,"name":"AdminLogin","tab":"a5ae65c4.acd048","order":1,"disp":true,"width":"6","collapse":false},{"id":"32814776.419638","type":"ui_group","z":0,"name":"AddProduct","tab":"a5ae65c4.acd048","order":2,"disp":true,"width":"6","collapse":false},{"id":"a5ae65c4.acd048","type":"ui_tab","z":0,"name":"Dashboard","icon":"dashboard","order":2}]