Dashboard/Admin/admin_logout.json
[{"id":"a7844a94.df3428","type":"function","z":"a0f974bf.e5cab8","name":"Sign-In Redirection","func":"var msg = {};\n\nmsg.socketid = flow.get(\"clientid\") || undefined;\nmsg.payload = { group: {\n    hide : [\"Dashboard_AddProduct\", \"Dashboard_AddSupplier\", \"Dashboard_AddCustomer\", \"Dashboard_Transaction\", \"Dashboard_AddSalesManager\", \"Dashboard_AddWarehouseManager\",\"Dashboard_AdminLogout\"],\n    show : [\"Dashboard_AdminLogin\",\"Dashboard_SalesManagerLogin\",\"Dashboard_WarehouseManagerLogin\"]\n}\n};\n\nflow.set(\"clientid\", undefined);\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":1020,"wires":[["b2f32c34.9c8ff","17f30b34.6eba55"]]},{"id":"17f30b34.6eba55","type":"function","z":"a0f974bf.e5cab8","name":"","func":"msg.payload = \"Logged out as admin\"\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1000,"wires":[["e9f963c9.67ce","17d4bfd4.a57b6"]]},{"id":"5f344c52.fa7074","type":"ui_button","z":"a0f974bf.e5cab8","name":"Logout","group":"ddec0e51.e9bbf","order":3,"width":"0","height":"0","passthru":false,"label":"Logout","tooltip":"","color":"","bgcolor":"","icon":"logout","payload":"","payloadType":"str","topic":"","x":1030,"y":1020,"wires":[["a7844a94.df3428"]]},{"id":"b2f32c34.9c8ff","type":"ui_ui_control","z":"a0f974bf.e5cab8","name":"Go to Signin Group","x":1190,"y":1060,"wires":[[]]},{"id":"e9f963c9.67ce","type":"ui_audio","z":"a0f974bf.e5cab8","name":"","group":"a7b403ed.265fd","voice":"en-US","always":"","x":900,"y":1000,"wires":[]},{"id":"17d4bfd4.a57b6","type":"ui_toast","z":"a0f974bf.e5cab8","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":830,"y":960,"wires":[]},{"id":"ddec0e51.e9bbf","type":"ui_group","z":0,"name":"AdminLogout","tab":"a5ae65c4.acd048","order":8,"disp":true,"width":"6","collapse":false},{"id":"a7b403ed.265fd","type":"ui_group","z":0,"name":"AdminLogin","tab":"a5ae65c4.acd048","order":1,"disp":true,"width":"6","collapse":false},{"id":"a5ae65c4.acd048","type":"ui_tab","z":0,"name":"Dashboard","icon":"dashboard","order":2}]