ibm_hack_challenge_2020_2bit/Chatbot/chatbot.json
[{"id":"a51def08.ae83d","type":"function","z":"a0f974bf.e5cab8","name":"Input Parsing","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":3250,"y":500,"wires":[["63515598.15832c"]]},{"id":"63515598.15832c","type":"watson-conversation-v1","z":"a0f974bf.e5cab8","name":"Warehouse Bot","workspaceid":"1566d4b1-9208-41fd-932c-34f8a3a3ff83","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/aa41f071-8832-44f5-b598-30eaea04f094","timeout":"","optout-learning":false,"x":3560,"y":500,"wires":[["2eace1d2.91c3fe","6ba8b04d.3e9d4"]]},{"id":"2eace1d2.91c3fe","type":"debug","z":"a0f974bf.e5cab8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":3810,"y":540,"wires":[]},{"id":"6ba8b04d.3e9d4","type":"function","z":"a0f974bf.e5cab8","name":"Output Parsing","func":"msg.payload = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":3760,"y":380,"wires":[["33b0feee.356ad2","4e57fa2d.50d914","42a1d87f.4b22d8"]]},{"id":"4e57fa2d.50d914","type":"template","z":"a0f974bf.e5cab8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":4080,"y":320,"wires":[[]]},{"id":"33b0feee.356ad2","type":"ui_text","z":"a0f974bf.e5cab8","group":"dc9b353.85e58c8","order":1,"width":5,"height":6,"name":"","label":"Bot ","format":"{{msg.payload}}","layout":"row-spread","x":3770,"y":480,"wires":[]},{"id":"1ae4b9ab.731b26","type":"ui_form","z":"a0f974bf.e5cab8","name":"","label":"","group":"dc9b353.85e58c8","order":3,"width":5,"height":2,"options":[{"label":"You","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"send","cancel":"reset","topic":"","x":3080,"y":480,"wires":[["a51def08.ae83d"]]},{"id":"eaa5855e.1ec4f8","type":"ui_template","z":"a0f974bf.e5cab8","group":"dc9b353.85e58c8","name":"","order":2,"width":16,"height":8,"format":"<!DOCTYPE html>\n<html>\n<title>W3.CSS Template</title>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://www.w3schools.com/w3css/4/w3.css\">\n<link rel=\"stylesheet\" href=\"https://fonts.googleapis.com/css?family=Inconsolata\">\n<style>\nbody, html {\n  height: 100%;\n  font-family: \"Inconsolata\", sans-serif;\n}\n\n.bgimg {\n  background-position: center;\n  background-size: cover;\n  background-image: url(\"https://images.indianexpress.com/2016/05/pune-759_google-maps.jpg\");\n  min-height: 100%;\n}\n\n\n</style>\n<body>\n\n<!-- Header with image -->\n<header class=\"bgimg w3-display-container w3-grayscale-min\" id=\"home\">\n  <div class=\"w3-display-bottomleft w3-center w3-padding-large w3-hide-small\">\n    <span class=\"w3-tag\">583/B,Viman Nagar,Regional Office,Maharashtra State Warehousing Corporation,Pune-411037</span>\n  </div>\n  <div class=\"w3-display-middle w3-center\">\n    <span class=\"w3-text-black\" style=\"font-size:70px\">LOCATION</a></span>\n  </div>\n  <div class=\"w3-display-bottomright w3-center w3-padding-large\">\n    <span class=\"w3-tag\">Contact number:9876543210</span>\n  </div>\n</header>\n\n\n\n</body>\n</html>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":3440,"y":360,"wires":[[]]},{"id":"42a1d87f.4b22d8","type":"ui_audio","z":"a0f974bf.e5cab8","name":"","group":"dc9b353.85e58c8","voice":"en-US","always":"","x":4020,"y":420,"wires":[]},{"id":"dc9b353.85e58c8","type":"ui_group","z":0,"name":"Spoonacular","tab":"1c30f3e9.86fcec","order":1,"disp":true,"width":"21","collapse":false},{"id":"1c30f3e9.86fcec","type":"ui_tab","z":0,"name":"Chatbot","icon":"dashboard","order":15,"disabled":false,"hidden":false}]